Repository istio/istio.io, pull requests merged in 2023-05, with the labels that each got.

#13145 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13144 Show exact 1.15 EOL date
  data/compatibility/supportStatus.yml
Labels: size/XS

#13143 [zh] improve security-issues
  content/zh/docs/ops/common-problems/security-issues/index.md
Labels: kind/docs, translation/chinese, size/L

#13142 [Zh] Sync Docs from En
  content/zh/boilerplates/args.md
  content/zh/boilerplates/experimental.md
  content/zh/boilerplates/gateway-api-install-crds.md
  content/zh/boilerplates/revision-tags-default-intro.md
  content/zh/boilerplates/revision-tags-middle.md
  content/zh/boilerplates/revision-tags-prologue.md
  content/zh/boilerplates/revision-tags-usage.md
  content/zh/docs/examples/bookinfo/index.md
  content/zh/docs/reference/glossary/dataplane-mode.md
  content/zh/docs/reference/glossary/sidecar.md
Labels: kind/docs, translation/chinese, size/M

#13150 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13154 Update istio reference to 1.18.0-beta.0
  go.mod
  go.sum
Labels: size/S

#13152 Move from trustworthy-jwt yaml to default-yaml
  prow/config/default.yaml
  prow/config/trustworthy-jwt.yaml
  prow/integ-suite-kind.sh
  prow/lib.sh
  tests/README.md
Labels: size/M

#13155 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13138 [zh] Update k8s doc site links to Chinese version for zh docs
  content/zh/about/faq/security/verify-mtls-encryption.md
  content/zh/blog/2017/0.1-auth/index.md
  content/zh/blog/2017/0.1-canary/index.md
  content/zh/blog/2018/delayering-istio/index.md
  content/zh/blog/2018/egress-mongo/index.md
  content/zh/blog/2018/egress-monitoring-access-control/index.md
  content/zh/blog/2018/egress-tcp/index.md
  content/zh/blog/2019/data-plane-setup/index.md
  content/zh/blog/2019/egress-traffic-control-in-istio-part-1/index.md
  content/zh/blog/2019/egress-traffic-control-in-istio-part-2/index.md
  content/zh/blog/2019/egress-traffic-control-in-istio-part-3/index.md
  content/zh/blog/2019/introducing-istio-operator/index.md
  content/zh/blog/2019/knative-activator-adapter/index.md
  content/zh/blog/2019/trustworthy-jwt-sds/index.md
  content/zh/blog/2020/deploy-wasm-declarative/index.md
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/blog/2022/gateway-api-beta/index.md
  content/zh/docs/examples/microservices-istio/add-istio/index.md
  content/zh/docs/examples/microservices-istio/setup-local-computer/index.md
  content/zh/docs/ops/best-practices/security/index.md
  content/zh/docs/ops/configuration/mesh/webhook/index.md
  content/zh/docs/ops/configuration/security/harden-docker-images/index.md
  content/zh/docs/ops/configuration/traffic-management/dns/index.md
  content/zh/docs/ops/deployment/deployment-models/index.md
  content/zh/docs/ops/deployment/requirements/index.md
  content/zh/docs/ops/integrations/certmanager/index.md
  content/zh/docs/reference/config/analysis/ist0119/index.md
  content/zh/docs/reference/glossary/crds.md
  content/zh/docs/reference/glossary/injection.md
  content/zh/docs/reference/glossary/operator.md
  content/zh/docs/reference/glossary/pod.md
  content/zh/docs/setup/additional-setup/cni/index.md
  content/zh/docs/setup/additional-setup/customize-installation-helm/index.md
  content/zh/docs/setup/getting-started/index.md
  content/zh/docs/setup/install/external-controlplane/index.md
  content/zh/docs/setup/install/multicluster/before-you-begin/index.md
  content/zh/docs/setup/install/virtual-machine/index.md
  content/zh/docs/setup/platform-setup/kops/index.md
  content/zh/docs/setup/platform-setup/oci/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway-tls-origination-sds/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-kubernetes-services/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-tls-origination/index.md
  content/zh/docs/tasks/traffic-management/egress/http-proxy/index.md
  content/zh/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/zh/news/releases/0.x/announcing-0.1/index.md
  content/zh/news/releases/0.x/announcing-0.2/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/zh/news/releases/1.13.x/announcing-1.13/change-notes/index.md
  content/zh/news/releases/1.14.x/announcing-1.14/change-notes/index.md
  content/zh/news/releases/1.15.x/announcing-1.15/change-notes/index.md
  content/zh/news/releases/1.2.x/announcing-1.2.1/index.md
  content/zh/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/zh/news/releases/1.4.x/announcing-1.4/upgrade-notes/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Labels: kind/docs, translation/chinese, size/L

#13149 [Zh] Sync docs from En
  content/zh/docs/tasks/security/authentication/jwt-route/index.md
  content/zh/docs/tasks/security/authentication/mtls-migration/index.md
Labels: kind/docs, translation/chinese, size/XS

#13153 [zh]improve cni istioctl-analyze
  content/zh/docs/ops/diagnostic-tools/cni/index.md
  content/zh/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Labels: kind/docs, translation/chinese, size/L

#13148 [zh] improve istioctl-describe
  content/zh/docs/ops/diagnostic-tools/istioctl-describe/index.md
Labels: kind/docs, translation/chinese, size/L

#13156 Update index.md
  content/en/docs/setup/platform-setup/azure/index.md
Labels: kind/docs, size/XS, ok-to-test, cherrypick/release-1.18

#13157 Automator: update common-files@release-1.17 in istio/istio.io@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13158 Automator: update istio.io@ reference docs
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/zh/docs/reference/config/security/authorization-policy/index.html
Labels: size/S, auto-merge, release-notes-none

#13160 [zh] improve authn-policy and jwt-route claim-to-header
  content/zh/docs/tasks/security/authentication/authn-policy/index.md
  content/zh/docs/tasks/security/authentication/claim-to-header/index.md
  content/zh/docs/tasks/security/authentication/jwt-route/index.md
Labels: kind/docs, translation/chinese, size/L

#13164 Automator: update common-files@release-1.16 in istio/istio.io@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13161 [zh] sync /docs/ops/diagnostic-tools/istioctl
  content/zh/docs/ops/diagnostic-tools/istioctl/index.md
Labels: kind/docs, translation/chinese

#13128 [zh] sync en 10143
  content/zh/docs/tasks/traffic-management/egress/egress-gateway-tls-origination-sds/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/zh/news/releases/1.7.x/announcing-1.7/change-notes/index.md
Labels: kind/docs, translation/chinese, size/XL

#13151 [Zh] sync 5 files in /security/authorization/authz-custom/
  content/zh/docs/tasks/security/authorization/authz-custom/index.md
  content/zh/docs/tasks/security/authorization/authz-deny/index.md
  content/zh/docs/tasks/security/authorization/authz-dry-run/index.md
  content/zh/docs/tasks/security/authorization/authz-http/index.md
  content/zh/docs/tasks/security/authorization/authz-ingress/index.md
Labels: kind/docs, translation/chinese, size/XL

#13162 [zh] Translate and sync KubeCon Europe 2023 Istio Day blog
  content/zh/blog/2023/istio-at-kubecon-eu/ambient-mesh-book-authors.jpg
  content/zh/blog/2023/istio-at-kubecon-eu/index.md
  content/zh/blog/2023/istio-at-kubecon-eu/istio-booth.jpg
  content/zh/blog/2023/istio-at-kubecon-eu/istio-day-welcome.jpg
  content/zh/blog/2023/istio-at-kubecon-eu/istioday-hall.jpg
  content/zh/blog/2023/istio-at-kubecon-eu/opening-keynote.jpg
  content/zh/blog/2023/istio-at-kubecon-eu/toc-members-at-kiosk.jpg
  content/zh/blog/2023/istio-at-kubecon-eu/use-istio-in-production.jpg
Labels: translation/chinese, size/L

#13097 [zh] sync /traffic-management/dns-proxy/
  content/zh/docs/ops/configuration/traffic-management/dns-proxy/index.md
Labels: kind/docs, translation/chinese, size/L

#13147 [zh] sync platform-setup/azure and openshift
  content/zh/docs/setup/platform-setup/azure/index.md
  content/zh/docs/setup/platform-setup/kind/index.md
  content/zh/docs/setup/platform-setup/openshift/index.md
Labels: kind/docs, translation/chinese, size/L

#13166 [zh] sync content/zh/docs/setup/upgrade/helm/index.md
  content/zh/docs/setup/upgrade/helm/index.md
Labels: kind/docs, translation/chinese, size/S, ok-to-test

#13165 [zh] improve traffic-shifting tcp-traffic-shifting request-timeouts
  content/zh/docs/tasks/traffic-management/request-timeouts/index.md
  content/zh/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/zh/docs/tasks/traffic-management/traffic-shifting/index.md
Labels: kind/docs, translation/chinese, size/L

#13159 [zh] sync /traffic-management/traffic-routing/
  content/zh/docs/ops/configuration/traffic-management/traffic-routing/index.md
Labels: kind/docs, translation/chinese, size/L

#13170 Automator: update istio@ test reference
  go.mod
  go.sum
Labels: size/S, release-notes-none

#13172 [zh] improve webhook security-policy-examples architecture
  content/zh/docs/ops/configuration/mesh/webhook/index.md
  content/zh/docs/ops/configuration/security/harden-docker-images/index.md
  content/zh/docs/ops/configuration/security/security-policy-examples/index.md
  content/zh/docs/ops/deployment/architecture/index.md
Labels: translation/chinese, size/L

#13171 [zh] improve app-health-check config-resource-ready
  content/zh/docs/ops/configuration/mesh/app-health-check/index.md
  content/zh/docs/ops/configuration/mesh/config-resource-ready/index.md
Labels: kind/docs, translation/chinese, size/L

#13175 Automator: update istio.io@ reference docs
  content/en/docs/reference/commands/install-cni/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/zh/docs/reference/commands/install-cni/index.html
  content/zh/docs/reference/commands/istioctl/index.html
  content/zh/docs/reference/commands/operator/index.html
  content/zh/docs/reference/commands/pilot-agent/index.html
  content/zh/docs/reference/commands/pilot-discovery/index.html
Labels: size/M, auto-merge, release-notes-none

#13177 Update istio test reference for 1.18.0-beta.1
  go.mod
  go.sum
Labels: size/S

#13069 Add IST0159, IST0160 message descriptions
  content/en/docs/reference/config/analysis/ist0159/index.md
  content/en/docs/reference/config/analysis/ist0160/index.md
Labels: kind/docs, area/user experience, size/M

#13076 fix(): add missing cleanup instructions
  content/en/docs/examples/virtual-machines/index.md
  content/en/docs/setup/additional-setup/gateway/index.md
  content/en/docs/setup/additional-setup/gateway/snips.sh
  content/en/docs/setup/additional-setup/gateway/test.sh
  content/en/docs/setup/install/multicluster/multi-primary/index.md
  content/en/docs/setup/install/multicluster/multi-primary_multi-network/index.md
  content/en/docs/setup/install/multicluster/primary-remote/index.md
  content/en/docs/setup/install/multicluster/primary-remote_multi-network/index.md
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Labels: kind/docs, area/user experience, size/L

#13178 [zh] sync /ops/integrations/prometheus
  content/zh/docs/ops/integrations/prometheus/index.md
Labels: kind/docs, translation/chinese

#13181 [CNCF graduation] Add security tab for Istio repos
  .github/SECURITY.md
Labels: size/XS

#13184 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
Labels: size/XS, auto-merge, release-notes-none

#13185 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13068 Add IST0161 message description
  content/en/docs/reference/config/analysis/ist0161/index.md
Labels: kind/docs, area/user experience, size/S

#13173 [zh] sync /concepts/security/
  content/zh/docs/concepts/security/index.md
Labels: kind/docs, translation/chinese, size/L

#13182 [zh] improve traffic-management/dns
  content/zh/docs/ops/configuration/traffic-management/dns/index.md
Labels: kind/docs, translation/chinese, size/M

#13189 [zh] format the traffic-management
  content/zh/docs/concepts/traffic-management/index.md
Labels: kind/docs, size/L

#13190 [zh] sync releases/supported-releases
  content/zh/docs/releases/supported-releases/index.md
Labels: kind/docs, translation/chinese, size/XS

#13191 [zh] improve traffic-management
  content/zh/docs/concepts/traffic-management/index.md
Labels: kind/docs, size/M

#13187 [zh] Sync ist0158 to ist0161 into Chinese
  content/zh/docs/reference/config/analysis/ist0158/index.md
  content/zh/docs/reference/config/analysis/ist0159/index.md
  content/zh/docs/reference/config/analysis/ist0160/index.md
  content/zh/docs/reference/config/analysis/ist0161/index.md
Labels: kind/docs, translation/chinese, size/L

#13192 Ajust format for traffic-management
  content/en/docs/concepts/traffic-management/index.md
Labels: kind/docs, size/XS

#13193 Automator: update istio@ test reference
  go.mod
  go.sum
Labels: size/XS, release-notes-none

#13116 add doc for third party ingress
  content/en/docs/ops/integrations/loadbalancers/index.md
  layouts/_default/baseof.html
  layouts/shortcodes/mermaid.html
  scripts/lint_site.sh
Labels: size/L

#13168 update istio autocompletion instructions to use zsh for mac
  .spelling
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Labels: kind/docs, size/M, ok-to-test

#13196 [zh-cn] improve istio-ingress-gateway logs-istio enable-istio-all-microservices production-testing
  content/zh/docs/examples/microservices-istio/enable-istio-all-microservices/index.md
  content/zh/docs/examples/microservices-istio/istio-ingress-gateway/index.md
  content/zh/docs/examples/microservices-istio/logs-istio/index.md
  content/zh/docs/examples/microservices-istio/production-testing/index.md
Labels: kind/docs, translation/chinese, size/L

#13197 Link redirection edited
  content/en/docs/setup/additional-setup/cni/index.md
Labels: kind/docs, size/XS, ok-to-test

#13198 [release-1.17] Link redirection edited
  content/en/docs/setup/additional-setup/cni/index.md
Labels: size/XS, release-notes-none

#13200 Fixing spelling error in the documentation regarding upgrades
  content/en/docs/setup/upgrade/helm/index.md
Labels: kind/docs, size/XS, ok-to-test, cherrypick/release-1.17

#13202 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13194 [zh] sync /security/normalization/
  content/zh/docs/reference/config/security/normalization/index.md
Labels: kind/docs, translation/chinese, size/L

#13199 [zh] sync /ops/diagnostic-tools/istioctl/
  content/zh/docs/ops/diagnostic-tools/istioctl/index.md
Labels: kind/docs, translation/chinese, size/L

#13201 [zh] sync /ops/integrations/loadbalancers/
  content/zh/docs/ops/ambient/usage/index.md
  content/zh/docs/ops/integrations/loadbalancers/index.md
Labels: kind/docs, translation/chinese, size/L

#13206 update traffic-management docs w/ least requests default load balancing policy
  content/en/docs/concepts/traffic-management/index.md
Labels: kind/docs, size/S, ok-to-test, cherrypick/release-1.17

#13213 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13215 Automator: update common-files@release-1.16 in istio/istio.io@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13218 updated infracloud support page
  data/companies.yml
Labels: kind/docs, size/XS, ok-to-test

#13222 [release-1.17] Add Microsoft to Istio providers
  data/companies.yml
  static/logos/microsoft-azure.svg
Labels: size/M, release-notes-none

#13219 [zh] sync observability/metrics/tcp-metrics
  content/zh/docs/tasks/observability/metrics/tcp-metrics/index.md
Labels: kind/docs, translation/chinese, size/XS

#13225 [release-1.17] updated infracloud support page
  data/companies.yml
Labels: size/XS, release-notes-none

#13223 Automator: update istio@ test reference
  go.mod
  go.sum
Labels: size/S, release-notes-none

#13227 [zh] improve validation wasm-pull-policy envoy-stats
  content/zh/docs/ops/common-problems/validation/index.md
  content/zh/docs/ops/configuration/extensibility/wasm-pull-policy/index.md
  content/zh/docs/ops/configuration/telemetry/envoy-stats/index.md
Labels: kind/docs, translation/chinese, size/L

#13209 [zh] sync pages in /setup/install/multicluster/
  content/zh/docs/setup/install/multicluster/_index.md
  content/zh/docs/setup/install/multicluster/before-you-begin/index.md
  content/zh/docs/setup/install/multicluster/multi-primary/index.md
  content/zh/docs/setup/install/multicluster/multi-primary_multi-network/index.md
  content/zh/docs/setup/install/multicluster/primary-remote/index.md
  content/zh/docs/setup/install/multicluster/primary-remote_multi-network/index.md
  content/zh/docs/setup/install/multicluster/verify/index.md
Labels: kind/docs, translation/chinese, size/L

#12945 [zh-cn] sync wasm and security
  content/zh/docs/concepts/security/index.md
  content/zh/docs/concepts/wasm/index.md
Labels: kind/docs, translation/chinese, size/XS, ok-to-test

#13232 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13233 Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/report_build_info.sh
Labels: size/S, auto-merge, release-notes-none

#13234 Automator: update common-files@release-1.17 in istio/istio.io@release-1.17
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13226 Add release notes for 1.16.5
  content/en/news/releases/1.16.x/announcing-1.16.5/index.md
Labels: kind/docs, size/S, cherrypick/release-1.17

#13235 [release-1.17] Add release notes for 1.16.5
  content/en/news/releases/1.16.x/announcing-1.16.5/index.md
Labels: size/S, release-notes-none

#13230 Fix indentations and remove unecessary step numbers
  content/en/docs/tasks/security/authentication/authn-policy/index.md
  content/en/docs/tasks/security/authentication/claim-to-header/index.md
  content/en/docs/tasks/security/authorization/authz-deny/index.md
  content/en/docs/tasks/security/authorization/authz-dry-run/index.md
  content/en/docs/tasks/security/authorization/authz-http/index.md
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
  content/en/docs/tasks/security/cert-management/custom-ca-k8s/index.md
Labels: kind/docs, size/L

#13220 [release-1.16] Update istio test reference to 1.16.5
  go.mod
  go.sum
Labels: size/M

#13237 Automator: update istio.io@ reference docs
  content/en/docs/reference/commands/install-cni/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/zh/docs/reference/commands/install-cni/index.html
  content/zh/docs/reference/commands/istioctl/index.html
  content/zh/docs/reference/commands/operator/index.html
  content/zh/docs/reference/commands/pilot-agent/index.html
  content/zh/docs/reference/commands/pilot-discovery/index.html
Labels: size/L, auto-merge, release-notes-none

#13236 Corrected some translation content in the document
  content/zh/docs/tasks/security/authorization/authz-tcp/index.md
Labels: translation/chinese, size/S, ok-to-test

#13239 Automator: update common-files@release-1.16 in istio/istio.io@release-1.16
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Labels: size/XS, auto-merge, release-notes-none

#13240 [zh] try to make consistency in zh expressions and layout
  content/zh/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
  content/zh/docs/ops/diagnostic-tools/istioctl-analyze/index.md
  content/zh/news/releases/1.16.x/announcing-1.16.1/index.md
  content/zh/news/releases/1.16.x/announcing-1.16/change-notes/index.md
  content/zh/news/releases/1.17.x/announcing-1.17.1/index.md
  content/zh/news/releases/1.17.x/announcing-1.17.2/index.md
Labels: kind/docs, translation/chinese, size/L

#13241 [zh] sync 1.16.2, 1.16.3, 1.16.4 release notes
  content/zh/news/releases/1.16.x/announcing-1.16.2/index.md
  content/zh/news/releases/1.16.x/announcing-1.16.3/index.md
  content/zh/news/releases/1.16.x/announcing-1.16.4/index.md
Labels: kind/docs, translation/chinese, size/L

#13238 [zh] Sync 1.17.x change note into Chinese and fix a typo (dup space) in en version
  content/en/news/releases/1.17.x/announcing-1.17/change-notes/index.md
  content/zh/news/releases/1.17.x/announcing-1.17/change-notes/index.md
Labels: kind/docs, translation/chinese, size/L

#13244 [zh] Sync broken link fix to the Chinese version
  content/zh/docs/tasks/traffic-management/locality-load-balancing/_index.md
Labels: kind/docs, translation/chinese, size/XS

#13246 [zh] Sync 1.16 release note and 1.16.5 release note into Chinese
  content/zh/news/releases/1.16.x/announcing-1.16.5/index.md
  content/zh/news/releases/1.16.x/announcing-1.16/_index.md
Labels: kind/docs, translation/chinese, size/L

#13247 [zh] sync /tasks/observability/metrics/customize-metrics
  content/zh/docs/tasks/observability/metrics/customize-metrics/index.md
Labels: kind/docs, translation/chinese, size/XS

#13252 [zh] Sync a missed aliases file into Chinese
  content/zh/docs/reference/config/proxy_extensions/_index.md
Labels: kind/docs, translation/chinese, size/XS

#13253 [zh] Sync 1.6 change note into Chinese
  content/zh/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Labels: kind/docs, translation/chinese, size/L

#13256 [zh] Sync 1.11.7, 1.14.6 and 1.15.7 release notes into Chinese
  content/zh/news/releases/1.11.x/announcing-1.11.7/index.md
  content/zh/news/releases/1.14.x/announcing-1.14.6/index.md
  content/zh/news/releases/1.15.x/announcing-1.15.7/index.md
Labels: kind/docs, translation/chinese, size/L

#13255 [zh] Sync 1.6 release note into Chinese
  content/zh/news/releases/1.6.x/announcing-1.6/_index.md
Labels: kind/docs, translation/chinese, size/L

#13257 [zh] Sync 1.11.8, 1.13.9 and 1.14.5 release notes into Chinese
  content/zh/news/releases/1.11.x/announcing-1.11.8/index.md
  content/zh/news/releases/1.13.x/announcing-1.13.9/index.md
  content/zh/news/releases/1.14.x/announcing-1.14.5/index.md
Labels: kind/docs, translation/chinese, size/L

#13259 [zh] improve concepts/security
  content/zh/docs/concepts/observability/index.md
  content/zh/docs/concepts/security/index.md
Labels: kind/docs, size/L

#13258 Automator: update istio@ test reference
  go.mod
  go.sum
Labels: size/XS, release-notes-none

#13261 [zh] Sync Istio publishes results of 2022 security audit blog into Chinese
  content/zh/blog/2023/ada-logics-security-assessment/Istio audit report - ADA Logics - 2023-01-30 - v1.0.pdf
  content/zh/blog/2023/ada-logics-security-assessment/index.md
Labels: kind/docs, translation/chinese, size/L
