Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Fix doc 'Using the Istioctl Command-line Tool' (#7116)
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Fix code in 'Authorization for TCP traffic' (#7117)
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc in 'Egress Gateways with TLS Origination' (#7118)
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc 'Traffic Management' (#7119)
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

add new docs
  content/en/docs/reference/config/proxy_extensions/_index.md
  content/en/docs/reference/config/proxy_extensions/metadata_exchange/index.html
  content/en/docs/reference/config/proxy_extensions/stackdriver/index.html
  content/en/docs/reference/config/proxy_extensions/stats/index.html
Owners: @istio/wg-docs-maintainers-english

Use correct binary name when downloading istioctl. (#7099)
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
  content/pt-br/docs/ops/diagnostic-tools/istioctl-analyze/index.md
  content/zh/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/license-lint.yml
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Owners: @istio/wg-docs-maintainers-infra

Release notes for 1.4.8
  content/en/news/releases/1.4.x/announcing-1.4.8/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7120)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/license-lint.yml
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Owners: @istio/wg-docs-maintainers-infra

fix lint
  content/en/docs/reference/config/proxy_extensions/_index.md
Owners: @istio/wg-docs-maintainers-english

Code review comments
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add docs for customizing tracing configuration
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
Owners: @istio/wg-docs-maintainers-english

Merge, reorder items.
  content/en/news/releases/1.4.x/announcing-1.4.8/index.md
Owners: @istio/wg-docs-maintainers-english

add proxy repo to scrap docs from (#7113)
  content/en/docs/reference/config/proxy_extensions/_index.md
  content/en/docs/reference/config/proxy_extensions/metadata_exchange/index.html
  content/en/docs/reference/config/proxy_extensions/stackdriver/index.html
  content/en/docs/reference/config/proxy_extensions/stats/index.html
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Updated with instructions for LightStep Tracing vs. LightStep [x]pm (#4203)
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/en/docs/tasks/observability/distributed-tracing/lightstep/istio-explorer.png
  content/en/docs/tasks/observability/distributed-tracing/lightstep/isto-services.png
Owners: @istio/wg-docs-maintainers-english

remove bad dir
  content/docs/tasks/telemetry/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-infra

first draft
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Add test for Request Timeouts
  tests/common/scripts/bookinfo.txt
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update test to extract snippets
  content/en/docs/tasks/traffic-management/request-timeouts/index.md
  content/en/docs/tasks/traffic-management/request-timeouts/snips.sh
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Apply suggestions from code review
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/bookinfo/snips.sh
  tests/common/scripts/bookinfo.txt
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Use code snippets from bookinfo snips
  tests/common/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove sleep pods
  tests/common/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix lint error
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/bookinfo/snips.sh
Owners: @istio/wg-docs-maintainers-english

remove deprecated $snippet and use use verify func
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Skip test failure
  tests/trafficmanagement/request_timeouts_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

correrct ingress gateway link
  content/en/docs/examples/virtual-machines/multi-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix format
  content/en/docs/examples/virtual-machines/multi-network/index.md
Owners: @istio/wg-docs-maintainers-english

feat: translate 1942
  content/zh/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-chinese

Add test for Request Timeouts (#6660)
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/tasks/traffic-management/request-timeouts/index.md
  content/en/docs/tasks/traffic-management/request-timeouts/snips.sh
  tests/common/scripts/bookinfo.txt
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Convert health check test to new model
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  tests/README.md
  tests/configuration/scripts/cleanup.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_command.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_http_annotations.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_http_globally.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_http_separate_port.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Convert bookinfo test to new model
  tests/examples/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix cleanup
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

fix graphic name
  content/en/docs/tasks/observability/distributed-tracing/lightstep/istio-services.png
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
