Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Release 1.4.6 (#6708)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

ISTIO 2020-003 (#3)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Update text box syntax
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Fix args
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

[release-1.4] Release 1.4.6 (#6709)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

More PR comment fixes
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Fix CVE links and release notes goofiness
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Update architecture diagram to show istiod.
  content/en/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english

Linter fix
  content/en/docs/examples/bookinfo/index.md
Owners: @istio/wg-docs-maintainers-english

update links
  content/en/blog/2018/egress-mongo/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/en/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-english

address comments
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

address comments
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

lint fixing egs gw
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

Fix CVE links and release notes goofiness (#6710)
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Fix CVE links and release notes goofiness (#6710)
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Fix CVE links and release notes goofiness
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

more removal
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

fixing linting errors
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Fix CVE links and release notes goofiness (#6712)
  content/en/news/releases/1.4.x/announcing-1.4.6/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Redact jwks in example
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Upate trouble shooting for end-user authentication
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Remove ClusterRbacConfig
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Rewrite verify envoy config
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Remove redundant line
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Fixed extra line causing linter error
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Blog post to be cherrypicked and published immediately with 1.4
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Linter fix
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

More linter issues
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

More linter issues2
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

fixing linting problem
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

access log updates for command output, variable names (#6685)
  content/en/docs/tasks/observability/logs/access-log/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
