Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

remove drop-shadows
  content/en/docs/ops/best-practices/observability/production-prometheus.svg
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

refactor to appease the spellcheck process
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

feat(observability): add best practices guide
  content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/production-prometheus.svg
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] feat(observability): add best practices guide (#6865)
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/production-prometheus.svg
Owners: @istio/wg-docs-maintainers-english

Updates inbound linking documents
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Remove "Helm with Tiller" install path docs (#6864)
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Update index.md (#6866)
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#6867)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Mirror changes from #6864 that didn't cherrypick
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Pushed changes for review
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

fixed lint errors
  .spelling
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

Move the document location
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revisions based on the review comments
  content/en/docs/tasks/security/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise install command based on the review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Make the blog more concise
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Provision a certificate to an application through a sidecar
  content/en/docs/tasks/security/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Update generated docs
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Update home page links
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

fixed bash syntax
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

update note to http for module delivery
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

add new translation
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Mirror changes from #6864 that didn't cherrypick (#6869)
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Point to the higher level config page.
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Extensibilty concept section postion wrong
  content/en/docs/concepts/security/index.md
  content/en/docs/concepts/wasm/index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english
