Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

zh-translate:/content/zh/about/contribute/review/index.md (#6746)
  content/zh/about/contribute/build/index.md
  content/zh/about/contribute/review/index.md
Owners: @istio/wg-docs-maintainers-chinese

Rename root _index.md to _index.html to keep new Hugo happy.
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Rename root _index.md to _index.html to keep new Hugo happy.
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Rename root _index.md to _index.html to keep new Hugo happy.
  content/_index.html
Owners: @istio/wg-docs-maintainers-infra

Rename root _index.md to _index.html to keep new Hugo happy.
  content/_index.html
Owners: @istio/wg-docs-maintainers-infra

Rename root _index.md to _index.html to keep new Hugo happy.
  content/_index.html
Owners: @istio/wg-docs-maintainers-infra

Rename root _index.md to _index.html to keep new Hugo happy.
  content/_index.html
Owners: @istio/wg-docs-maintainers-infra

add new blog 'wasm-announce/index.md' in 2020 to zh/blog/2020/
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6811)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6811)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Fix archive site build.
  scripts/build_archive_site.sh
Owners: @istio/wg-docs-maintainers-infra

Fix archive site build.
  scripts/build_archive_site.sh
Owners: @istio/wg-docs-maintainers-infra

Remove telemetry as it has not been upstreamed
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Add jwt example
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Fix build
  content/zh/about/contribute/build/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix some format
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-chinese

retouch
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix hpa lint error
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-chinese

(#6586) move istio.io test for circuit breaking to istio.io repository
  tests/trafficmanagement/circuitbreaker_test.go
  tests/trafficmanagement/scripts/circuitbreaker_test_cleanup.txt
  tests/trafficmanagement/scripts/circuitbreaker_test_setup.txt
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

(#6586) add verification for output metrics
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

(#6586) widened bounds for both before and after tripping and use ruby for evaluation
  tests/trafficmanagement/circuitbreaker_test.go
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

(#6586) fix istioio package import
  tests/trafficmanagement/circuitbreaker_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

(#6579) move observability with kiali istio.io test to docs repo
  tests/observability/main_test.go
  tests/observability/mesh_visualization_test.go
  tests/observability/scripts/cleanup.txt
  tests/observability/scripts/perform_kiali_test.txt
  tests/observability/scripts/setup_bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

zh-translation: fix some format errors
  content/zh/blog/2019/evolving-istios-apis/index.md
  content/zh/docs/ops/best-practices/traffic-management/index.md
  content/zh/docs/ops/deployment/deployment-models/index.md
  content/zh/faq/general/what-deployment-environment.md
  content/zh/faq/general/what-is-istio.md
Owners: @istio/wg-docs-maintainers-chinese

roufique.yml
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

replace Citadel with Istio CA
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

fix url error
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

add /docs/reference/config/telemetry/metrics/
  content/zh/blog/2020/wasm-announce/index.md
  content/zh/docs/reference/config/telemetry/_index.md
  content/zh/docs/reference/config/telemetry/configurable_metrics/index.md
  content/zh/docs/reference/config/telemetry/metrics/index.md
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix build (#6776)
  content/zh/about/contribute/build/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix build (#6776)
  content/zh/about/contribute/build/index.md
Owners: @istio/wg-docs-maintainers-chinese

gke firewall ports
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Remove telemetry as it has not been upstreamed (#6813)
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Add jwt example
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Remove telemetry as it has not been upstreamed
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

replace Citadel with Istio CA (#6819)
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

replace Citadel with Istio CA
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Remove telemetry as it has not been upstreamed (#6824)
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

remove mtls destination rules, apply patch instead of redeploy (#6805)
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

remove mtls destination rules, apply patch instead of redeploy
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english
