Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

fix(observability): remove outdated info from concept doc
  content/en/docs/concepts/observability/index.md
Owners: @istio/wg-docs-maintainers-english

fix(observability): remove outdated info from concept doc (#7289)
  content/en/docs/concepts/observability/index.md
Owners: @istio/wg-docs-maintainers-english

fix(classify-metrics): remove problematic config
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix architecture diagram
  content/en/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english

add extra bit for catching config errors
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Fix external charts (#7282)
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Trivial grammar error fix (#7276)
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
Owners: @istio/wg-docs-maintainers-english

Move comment to proper line
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Add warning to 1.5.3
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/news/security/istio-security-2020-005/index.md
Owners: @istio/wg-docs-maintainers-english

Stop recommending bleeding edge istioctl analyzers (#7277)
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english

Add --all-namespace flag to istioctl analyze (#7278)
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/security/istio-security-2020-005/index.md
  content/en/news/security/istio-security-2020-005/index.md
Owners: @istio/wg-docs-maintainers-english

Add warning to 1.5.3 (#7294)
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
Owners: @istio/wg-docs-maintainers-english

Update security note to skip 1.5.3 (#7295)
  content/en/news/security/istio-security-2020-005/index.md
Owners: @istio/wg-docs-maintainers-english

Make authn peer authn output matches impl
  content/en/docs/tasks/security/authentication/authn-policy/index.md
Owners: @istio/wg-docs-maintainers-english

Update publish date
  content/en/news/releases/1.5.x/announcing-1.5.4/index.md
Owners: @istio/wg-docs-maintainers-english

Add 1.5.4 release note
  content/en/news/releases/1.5.x/announcing-1.5.4/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

update links
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
  content/en/news/security/istio-security-2020-005/index.md
Owners: @istio/wg-docs-maintainers-english

Add Type colomn for svc output
  content/en/docs/tasks/observability/metrics/querying-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Add 1.5.4 release note (#7296)
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
  content/en/news/releases/1.5.x/announcing-1.5.4/index.md
  content/en/news/security/istio-security-2020-005/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update http 1.1 to http 2
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7292)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
Owners: @istio/wg-docs-maintainers-english

Remove warning on hardening with distroless (#7264)
  content/en/docs/ops/configuration/security/harden-docker-images/index.md
Owners: @istio/wg-docs-maintainers-english

Move comment to proper line (#7293)
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Add Type colomn for svc output (#7299)
  content/en/docs/tasks/observability/metrics/querying-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update http 1.1 to http 2 (#7301)
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

Fixed .spelling and addressed spelling errors
  .spelling
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

snips
  content/en/docs/tasks/traffic-management/circuit-breaking/snips.sh
Owners: @istio/wg-docs-maintainers-english

Update circuit breaker docs (#7272)
  content/en/docs/tasks/traffic-management/circuit-breaking/index.md
  content/en/docs/tasks/traffic-management/circuit-breaking/snips.sh
Owners: @istio/wg-docs-maintainers-english

Updating screenshots for kiali task
  content/en/docs/tasks/observability/kiali/index.md
  content/en/docs/tasks/observability/kiali/kiali-graph.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig0-errormsgs.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig1-tooltip.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig2-details-errormsgs.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig3-details-yaml1.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig3-details-yaml2.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig3-details-yaml3.png
  content/en/docs/tasks/observability/kiali/kiali-overview.png
  content/en/docs/tasks/observability/kiali/kiali-validate1-list.png
  content/en/docs/tasks/observability/kiali/kiali-validate2-errormsg.png
  content/en/docs/tasks/observability/kiali/kiali-validate3-ok.png
  content/en/docs/tasks/observability/kiali/kiali-wiz0-graph-options.png
  content/en/docs/tasks/observability/kiali/kiali-wiz1-graph-ratings-percent.png
  content/en/docs/tasks/observability/kiali/kiali-wiz2-ratings-service-action-menu.png
Owners: @istio/wg-docs-maintainers-english

Updating screenshots for kiali task (#7302)
  content/en/docs/tasks/observability/kiali/index.md
  content/en/docs/tasks/observability/kiali/kiali-graph.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig0-errormsgs.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig1-tooltip.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig2-details-errormsgs.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig3-details-yaml1.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig3-details-yaml2.png
  content/en/docs/tasks/observability/kiali/kiali-istioconfig3-details-yaml3.png
  content/en/docs/tasks/observability/kiali/kiali-overview.png
  content/en/docs/tasks/observability/kiali/kiali-validate1-list.png
  content/en/docs/tasks/observability/kiali/kiali-validate2-errormsg.png
  content/en/docs/tasks/observability/kiali/kiali-validate3-ok.png
  content/en/docs/tasks/observability/kiali/kiali-wiz0-graph-options.png
  content/en/docs/tasks/observability/kiali/kiali-wiz1-graph-ratings-percent.png
  content/en/docs/tasks/observability/kiali/kiali-wiz2-ratings-service-action-menu.png
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@release-1.5 in istio/istio.io@release-1.5
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Manual cherry-pick of release files #7285 #7294 #7296
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.9/index.md
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
  content/en/news/releases/1.5.x/announcing-1.5.4/index.md
  content/en/news/security/istio-security-2020-005/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@release-1.5 in istio/istio.io@release-1.5 (#7304)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Fix test.kube.postsubmit no longer needing to write snippets.
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

correct fix from rcaballeromx
  content/en/docs/ops/deployment/architecture/arch.svg
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

fix(metrics): Add multicluster labels to Standard Metrics doc
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english
