Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

[release-1.5] create blog post for webassembly hub + Istio; one more try (#6950)
  .spelling
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Fix dead lines
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Remove cert-manager task with reference to new integration page (#6936)
  content/en/docs/ops/integrations/certmanager/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-certmgr/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

add some clarification to the helm api customization (#6920)
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

remove extra part
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

address comment
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

add some clarification to the helm api
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Minor cleanup fixups (#6948)
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] add some clarification to the helm api customization (#6951)
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

更新到 1.5
  content/zh/docs/tasks/security/authentication/authn-policy/index.md
Owners: @istio/wg-docs-maintainers-chinese

Sidecar > sidecar
  content/zh/docs/tasks/security/authentication/authn-policy/index.md
Owners: @istio/wg-docs-maintainers-chinese

FIX: lint errors.
  content/zh/docs/tasks/security/authentication/authn-policy/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

lint fixing
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

lint
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

修改lint
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

Done
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

address cmt.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translate:content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md (#6786)
  content/zh/docs/tasks/security/authentication/authn-policy/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/en/docs/setup/install/standalone-operator/index.md
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update instructions for local filesystem charts
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation:content/zh/blog/2020/istiod/index.md (#6943)
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

Lint
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
Owners: @istio/wg-docs-maintainers-english

add missing `=`
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation:content/zh/blog/2020/deploy-wasm-declarative/index.md (#6938)
  content/zh/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/zh/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-chinese

Identity Provision
  content/zh/docs/concepts/security/arch-sec.svg
  content/zh/docs/concepts/security/authn.svg
  content/zh/docs/concepts/security/authz.svg
  content/zh/docs/concepts/security/id-prov.svg
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-chinese

Correct typos in the blog
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

(#6837) remove istio.io test for enabling/disabling policy enforcement
  tests/policies/enabling_policy_enforcement_test.go
  tests/policies/main_test.go
  tests/policies/scripts/enabling_policy_enforcement.txt
  tests/policies/scripts/revert_policy_enforcement.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

(#6837) remove istio.io test for enabling/disabling policy enforcement (#6838)
  tests/policies/enabling_policy_enforcement_test.go
  tests/policies/main_test.go
  tests/policies/scripts/enabling_policy_enforcement.txt
  tests/policies/scripts/revert_policy_enforcement.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add Helm install instructions and operator remove command (#6937)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/standalone-operator/index.md
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Add Helm install instructions and operator remove command
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update instructions for local filesystem charts (#6953)
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

[master] Add Helm install instructions and operator remove command (#6956)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs (#6954)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Add a tcpdump verification FAQ entry for mutual TLS effect proof. (#6922)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

move to the migration doc.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

add a tcpdump verification for mtls
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english
