Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Fix linting errors
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: egress gateway
  content/zh/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix doc in 'Egress Gateways with TLS Origination'
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

Fix code for istioctl 1.4; update comments at end
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fix code in 'Authorization for TCP traffic'
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
Owners: @istio/wg-docs-maintainers-english

Retire helm documentation as we use a protobuf
  content/en/docs/reference/config/installation-options/index.md
  scripts/tablegen.py
  scripts/tablegen_diff.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Follow the flowchart
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/ops/configuration/mesh/secret-creation/index.md
  content/en/docs/reference/config/policy-and-telemetry/mixer-overview/index.md
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/tasks/observability/logs/access-log/index.md
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/en/news/security/istio-security-2019-006/index.md
Owners: @istio/wg-docs-maintainers-english

update vm docs
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

update vm docs for multi-network
  content/en/docs/examples/virtual-machines/multi-network/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: egress gateway (#7102)
  content/zh/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix doc 'Using the Istioctl Command-line Tool'
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Fix code in 'Authorization for TCP traffic' (#7105)
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc in 'Egress Gateways with TLS Origination' (#7104)
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc 'Using the Istioctl Command-line Tool' (#7108)
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Add builtin verify functions to test framework
  pkg/test/istioio/script.go
  tests/README.md
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
  tests/security/scripts/mtls_migration.txt
  tests/trafficmanagement/scripts/traffic_shifting.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix lint
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

tweaks
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix bold
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add prometheus integration doc
  content/en/docs/ops/integrations/certmanager/index.md
  content/en/docs/ops/integrations/prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

Add built-in verify functions to test framework (#7110)
  pkg/test/istioio/script.go
  tests/README.md
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
  tests/security/scripts/mtls_migration.txt
  tests/trafficmanagement/scripts/traffic_shifting.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Typo in URL
  content/en/docs/ops/integrations/prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

User guide tests for DNS certificate management
  content/en/docs/tasks/security/dns-cert/index.md
  content/en/docs/tasks/security/dns-cert/snips.sh
  tests/security/dns_cert/dns_cert_test.go
  tests/security/dns_cert/main_test.go
  tests/security/dns_cert/scripts/dns_cert.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Use _verify_contains function
  tests/security/dns_cert/scripts/dns_cert.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix doc 'Traffic Management'
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

add proxy repo to scrap docs
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

update pilot port info
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/blog/2019/performance-best-practices/index.md
  content/en/blog/2019/performance-best-practices/index.md
Owners: @istio/wg-docs-maintainers-english

User guide tests for DNS certificate management (#7103)
  content/en/docs/tasks/security/dns-cert/index.md
  content/en/docs/tasks/security/dns-cert/snips.sh
  tests/security/dns_cert/dns_cert_test.go
  tests/security/dns_cert/main_test.go
  tests/security/dns_cert/scripts/dns_cert.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Notes on testing
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update tests/README.md
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Retire helm documentation as we use a protobuf (#7106)
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/ops/configuration/mesh/secret-creation/index.md
  content/en/docs/reference/config/installation-options/index.md
  content/en/docs/reference/config/policy-and-telemetry/mixer-overview/index.md
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/tasks/observability/logs/access-log/index.md
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/en/news/security/istio-security-2019-006/index.md
  scripts/tablegen.py
  scripts/tablegen_diff.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Fix doc 'Using the Istioctl Command-line Tool'
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Fix code in 'Authorization for TCP traffic'
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc in 'Egress Gateways with TLS Origination'
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc 'Traffic Management' (#7114)
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Fix doc 'Traffic Management'
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Notes on testing (#7115)
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
