Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Update index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: /about/contribute/shortcodes/index.md #1772 (#6696)
  content/zh/about/contribute/shortcodes/index.md
  content/zh/events/stickers/1.5.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /about/contribute/shortcodes/index.md #1772 (#6696)
  content/zh/about/contribute/shortcodes/index.md
  content/zh/events/stickers/1.5.md
Owners: @istio/wg-docs-maintainers-chinese

removed colon from title
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

no need to use table now
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

fixed lint errors.
  .spelling
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

Revert non-english changes
  content/pt-br/docs/setup/platform-setup/openshift/index.md
  content/zh/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

operator.yaml: Update image tag to 1.5.0
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

fixed broken link error
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

Update pod and deployment requirements (#6666)
  .spelling
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Update pod and deployment requirements (#6666)
  .spelling
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
  content/en/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Fix bad link
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

link 1.0.3 lint
  content/en/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-english

Spelling and add a tip to using-istio-dashboard (#6684)
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
Owners: @istio/wg-docs-maintainers-english

Spelling and add a tip to using-istio-dashboard (#6684)
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
Owners: @istio/wg-docs-maintainers-english

address eric's comment
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

fixups
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix end tags
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

tags fix attempt 2
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix(telemetry): add deprecation notices to Mixer tasks
  content/en/docs/tasks/observability/gateways/index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/logs/_index.md
  content/en/docs/tasks/observability/mixer/logs/collecting-logs/index.md
  content/en/docs/tasks/observability/mixer/logs/fluentd/index.md
  content/en/docs/tasks/observability/mixer/metrics/_index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

add citadel dep
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Include the old components within Istiod in the diagram.
  content/en/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english

updated diagrams, final lint fixes, addressing ericvn comments
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

removed target release
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

Update Observability ops guide to reflect Mixer nature of tasks
  content/en/docs/ops/common-problems/observability-issues/index.md
Owners: @istio/wg-docs-maintainers-english

fix(architecture): remove mixer mentions from architecture doc
  content/en/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-english

make update_ref_docs against release_1.5
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/commands/sidecar-injector/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha12.pb/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Another clean up for global.mtls.enable (#6611)
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/tasks/security/authentication/authn-policy/index.md
  content/en/docs/tasks/security/citadel-config/health-check/index.md
  content/en/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Another clean up for global.mtls.enable (#6611)
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/tasks/security/authentication/authn-policy/index.md
  content/en/docs/tasks/security/citadel-config/health-check/index.md
  content/en/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Remove deep dive mtls taks. (#6706)
  content/en/blog/2018/egress-mongo/index.md
  content/en/docs/tasks/security/authentication/mutual-tls/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/en/faq/security/check-policy.md
  content/en/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-english

Remove deep dive mtls taks. (#6706)
  content/en/blog/2018/egress-mongo/index.md
  content/en/docs/tasks/security/authentication/mutual-tls/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/en/faq/security/check-policy.md
  content/en/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

remove outdated link
  content/en/blog/2019/app-identity-and-access-adapter/index.md
Owners: @istio/wg-docs-maintainers-english

Remove one module
  content/en/docs/examples/microservices-istio/add-mtls/dashboard-ratings-mtls.png
  content/en/docs/examples/microservices-istio/add-mtls/index.md
  content/en/docs/examples/microservices-istio/add-mtls/kiali-mtls.png
  content/en/docs/examples/microservices-istio/logs-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Put back the file deleted by the script: istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
Owners: @istio/wg-docs-maintainers-english

fix lint
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english
