Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Typos and linter fix
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Added verification and troubleshooting steps
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

last try
  tests/trafficmanagement/mirror_test.go
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

revert mirror test scripts
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Partial convert mirror test to new model (#7153)
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/dns-cert/snips.sh
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/mirroring/index.md
  content/en/docs/tasks/traffic-management/mirroring/snips.sh
  content/en/docs/tasks/traffic-management/request-timeouts/snips.sh
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
  tests/trafficmanagement/mirror_test.go
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

add tuya logo
  content/en/about/community/customers/index.md
  content/en/about/community/customers/tuya.png
  content/pt-br/about/community/customers/index.md
  content/pt-br/about/community/customers/tuya.png
  content/zh/about/community/customers/index.md
  content/zh/about/community/customers/tuya.png
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

add monitoring multicluster istio with prometheus guide
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/external-production-prometheus.svg
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/in-mesh-production-prometheus.svg
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

docs: fix lint error
  content/zh/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /docs/faq/security/verify-mtls-encryption.md (#7125)
  content/zh/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-chinese

Update supported releases
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

Reorder uninstall putting Bookinfo sample first.
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/galley/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
  content/en/docs/reference/config/attributegen/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/proxy_extensions/metadata_exchange.html./index.html
  content/en/docs/reference/config/proxy_extensions/stats/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update IBM Cloud instructions
  content/en/docs/setup/platform-setup/ibm/index.md
Owners: @istio/wg-docs-maintainers-english

Update kind setup instructions removing Golang version
  content/en/docs/setup/platform-setup/kind/index.md
Owners: @istio/wg-docs-maintainers-english

Update standalone operator docs
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update istioctl install docs
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

minikube updates
  content/en/docs/setup/platform-setup/minikube/index.md
Owners: @istio/wg-docs-maintainers-english

minikube updates (#7167)
  content/en/docs/setup/platform-setup/minikube/index.md
Owners: @istio/wg-docs-maintainers-english

Update IBM Cloud instructions (#7163)
  content/en/docs/setup/platform-setup/ibm/index.md
Owners: @istio/wg-docs-maintainers-english

Update kind setup instructions removing Golang version (#7164)
  content/en/docs/setup/platform-setup/kind/index.md
Owners: @istio/wg-docs-maintainers-english

Fix galley related errors
  content/en/docs/concepts/observability/index.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update supported releases (#7160)
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

Reorder uninstall putting Bookinfo sample first. (#7161)
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Update standalone operator docs (#7165)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update istioctl install docs (#7166)
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

remove self signed
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

remove self signed (#7169)
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update links
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Run SOURCE_BRANCH_NAME=release-1.6 make update_ref_docs
  content/en/docs/reference/commands/galley/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
  content/en/docs/reference/config/attributegen/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/proxy_extensions/stats/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Fix galley reference doc being removed.
  content/en/docs/concepts/observability/index.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Default branch to master if undefined, lint fixes
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Fix @ in Makefile.core.mk
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Update lint to only check languages for files in current PR
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Add pt-br support to language check
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Deleted redundant file
  content/en/docs/reference/config/telemetry/configurable_metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Typo fix
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Bash fix
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint issues and add LighStep back into .spelling
  .spelling
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-english
