Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

login to bookinfo
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add authz-tcp user guide test.
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
  content/en/docs/tasks/security/authorization/authz-tcp/snips.sh
  go.sum
  tests/security/authz_tcp/authz_tcp_test.go
  tests/security/authz_tcp/main_test.go
  tests/security/authz_tcp/scripts/authz_tcp.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

curl --user
  tests/trafficmanagement/scripts/request_routing.sh
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

temporary kludge for login not working
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fault injection test
  content/en/docs/tasks/traffic-management/fault-injection/index.md
  content/en/docs/tasks/traffic-management/fault-injection/snips.sh
  tests/trafficmanagement/fault_injection_test.go
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

rename test
  tests/trafficmanagement/fault_injection_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix cleanup
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

timeouts tests
  content/en/docs/tasks/traffic-management/fault-injection/index.md
  tests/common/scripts/bookinfo.txt
  tests/trafficmanagement/fault_injection_test.go
  tests/trafficmanagement/request_routing_test.go
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/trafficmanagement/scripts/request_timeouts.sh
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

regen
  content/en/docs/tasks/traffic-management/fault-injection/snips.sh
Owners: @istio/wg-docs-maintainers-english

make sure sleep pods are gone
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove experimental link in feature status page; change to development
  content/en/about/feature-stages/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

More traffic management task tests (#7250)
  content/en/docs/tasks/traffic-management/fault-injection/index.md
  content/en/docs/tasks/traffic-management/fault-injection/snips.sh
  content/en/docs/tasks/traffic-management/request-routing/index.md
  content/en/docs/tasks/traffic-management/request-routing/snips.sh
  tests/README.md
  tests/common/scripts/bookinfo.txt
  tests/trafficmanagement/fault_injection_test.go
  tests/trafficmanagement/request_routing_test.go
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/trafficmanagement/scripts/request_timeouts.sh
  tests/trafficmanagement/scripts/request_timeouts.txt
  tests/trafficmanagement/scripts/request_timeouts_delay.txt
  tests/util/samples.sh
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix yaml configuration and some explanation
  .spelling
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Ingress control test
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-control/snips.sh
  tests/trafficmanagement/ingress/ingress_control_test.go
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Ingress control test
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix lint
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-control/snips.sh
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update content/en/docs/tasks/observability/metrics/classify-metrics/index.md
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix package
  tests/trafficmanagement/ingress/ingress_control_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add default timeout
  content/en/docs/tasks/traffic-management/request-timeouts/index.md
Owners: @istio/wg-docs-maintainers-english

Virtual machine integration
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

Mark virtual machine credential distribution alpha
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

fix path
  tests/trafficmanagement/ingress/ingress_control_test.go
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add authz-tcp user guide test. (#7176)
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
  content/en/docs/tasks/security/authorization/authz-tcp/snips.sh
  go.sum
  tests/security/authz_tcp/authz_tcp_test.go
  tests/security/authz_tcp/main_test.go
  tests/security/authz_tcp/scripts/authz_tcp.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Label TCPTrafficShifting flaky (won't run)
  tests/trafficmanagement/tcp_trafficshifting_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

improve _verify_like
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-control/snips.sh
  tests/README.md
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

curl -s
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-control/snips.sh
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add default timeout (#7255)
  content/en/docs/tasks/traffic-management/request-timeouts/index.md
Owners: @istio/wg-docs-maintainers-english

debug
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix yaml configuration and some explanation (#7252)
  .spelling
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

initial draft
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

Remove warning on hardening with distroless
  content/en/docs/ops/configuration/security/harden-docker-images/index.md
Owners: @istio/wg-docs-maintainers-english

some lint-fast fixes
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

fix typo in block text
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

correct code block syntax token
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

another typo fixed
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

Cleanup and fix TCP traffic routing test
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

re-work the section notes
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

correct code block syntax token
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

re-work the section notes
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english
