Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Update zh translation
  content/zh/blog/2019/performance-best-practices/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation
  content/zh/faq/security/https-overlay.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation (#7091)
  content/zh/faq/security/https-overlay.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /docs/reference/glossary/secure-naming.md (#7088)
  content/zh/docs/reference/glossary/secure-naming.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation (#7089)
  content/zh/docs/reference/glossary/workload-instance-principal.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation (#7086)
  content/zh/docs/reference/glossary/service-name.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation (#7087)
  content/zh/docs/reference/glossary/mixer-instance.md
Owners: @istio/wg-docs-maintainers-chinese

more readme clarification
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Snip regen (#7084)
  Makefile.core.mk
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

added a blog on using an external api gateway with istio 1.5 and SDS
  .spelling
  content/en/blog/2020/istio-sds-gloo/index.md
Owners: @istio/wg-docs-maintainers-english

Remove Helm install instructions (#7083)
  content/en/about/feature-stages/index.md
  content/en/blog/2018/incremental-traffic-management/index.md
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/setup/additional-setup/sidecar-injection/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/faq/distributed-tracing/minimal-requirements.md
  content/en/news/releases/0.x/announcing-0.7/index.md
  content/en/news/releases/1.0.x/announcing-1.0/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/security/istio-security-2019-005/index.md
Owners: @istio/wg-docs-maintainers-english

Remove from ports table
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Use standard ports for telemetry exposure (#7069)
  content/en/docs/ops/deployment/requirements/index.md
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7093)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

fix lint error
  content/en/blog/2020/istio-sds-gloo/index.md
Owners: @istio/wg-docs-maintainers-english

added a blog on using an external api gateway with istio 1.5 and SDS (#7092)
  .spelling
  content/en/blog/2020/istio-sds-gloo/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/blog/2020/istio-sds-gloo/index.md
Owners: @istio/wg-docs-maintainers-english

added a blog on using an external api gateway with istio 1.5 and SDS
  .spelling
  content/en/blog/2020/istio-sds-gloo/index.md
Owners: @istio/wg-docs-maintainers-english

Backport of openshift installation instructions
  content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english

Fix all links with doc relative path in glossary directory
  content/zh/docs/reference/glossary/adapters.md
  content/zh/docs/reference/glossary/data-plane.md
  content/zh/docs/reference/glossary/destination.md
  content/zh/docs/reference/glossary/envoy.md
  content/zh/docs/reference/glossary/mixer-handler.md
  content/zh/docs/reference/glossary/mixer.md
  content/zh/docs/reference/glossary/pilot.md
  content/zh/docs/reference/glossary/pod.md
  content/zh/docs/reference/glossary/service-consumer.md
  content/zh/docs/reference/glossary/service-endpoint.md
  content/zh/docs/reference/glossary/service-mesh.md
  content/zh/docs/reference/glossary/service-name.md
  content/zh/docs/reference/glossary/service-operator.md
  content/zh/docs/reference/glossary/service-producer.md
  content/zh/docs/reference/glossary/service-registry.md
  content/zh/docs/reference/glossary/service-version.md
  content/zh/docs/reference/glossary/service.md
  content/zh/docs/reference/glossary/source.md
  content/zh/docs/reference/glossary/workload-instance.md
  content/zh/docs/reference/glossary/workload.md
Owners: @istio/wg-docs-maintainers-chinese

Fix all links with doc relative path in glossary directory (#7096)
  content/zh/docs/reference/glossary/adapters.md
  content/zh/docs/reference/glossary/data-plane.md
  content/zh/docs/reference/glossary/destination.md
  content/zh/docs/reference/glossary/envoy.md
  content/zh/docs/reference/glossary/mixer-handler.md
  content/zh/docs/reference/glossary/mixer.md
  content/zh/docs/reference/glossary/pilot.md
  content/zh/docs/reference/glossary/pod.md
  content/zh/docs/reference/glossary/service-consumer.md
  content/zh/docs/reference/glossary/service-endpoint.md
  content/zh/docs/reference/glossary/service-mesh.md
  content/zh/docs/reference/glossary/service-name.md
  content/zh/docs/reference/glossary/service-operator.md
  content/zh/docs/reference/glossary/service-producer.md
  content/zh/docs/reference/glossary/service-registry.md
  content/zh/docs/reference/glossary/service-version.md
  content/zh/docs/reference/glossary/service.md
  content/zh/docs/reference/glossary/source.md
  content/zh/docs/reference/glossary/workload-instance.md
  content/zh/docs/reference/glossary/workload.md
Owners: @istio/wg-docs-maintainers-chinese

Pass utf-8 encoding as a param to opening md files
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-infra

User guide tests and remove manual steps for plugging in CA cert
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/plugin-ca-cert/index.md
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  go.mod
  go.sum
  scripts/snip.py
  tests/security/plugin_ca_cert/main_test.go
  tests/security/plugin_ca_cert/plugin_ca_cert_test.go
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

[release-1.5] added a blog on using an external api gateway with istio 1.5 and SDS (#7094)
  .spelling
  content/en/blog/2020/istio-sds-gloo/index.md
Owners: @istio/wg-docs-maintainers-english

Use correct binary name when downloading istioctl.
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
  content/pt-br/docs/ops/diagnostic-tools/istioctl-analyze/index.md
  content/zh/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Pass utf-8 encoding as a param to opening md files (#7098)
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-infra

Fix SC2046 lint error and the trafficmanagement test errors
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/plugin-ca-cert/index.md
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add required annotations
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

User guide tests and remove manual steps for plugging in CA cert (#7085)
  content/en/docs/tasks/security/plugin-ca-cert/index.md
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  go.mod
  go.sum
  tests/security/plugin_ca_cert/main_test.go
  tests/security/plugin_ca_cert/plugin_ca_cert_test.go
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Document source of user confusion
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

tweak
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add documentation for adding sidecar injector webhook annotations in 1.4
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add proper yaml to -f argument
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Document check for lint errors in generated snip.sh files (#7100)
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Don't mix and match set and file options
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add note that docs are out of date for istio 1.4 and openshift
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fix linting errors
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
