Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/static/         @istio/wg-docs-maintainers-english

zh-trans-1503
  content/zh/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-chinese

function switched to feature
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

one more lint
  content/en/news/releases/1.0.x/announcing-1.0.1/index.md
Owners: @istio/wg-docs-maintainers-english

more lint errors
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/ops/best-practices/traffic-management/index.md
  content/en/docs/ops/configuration/mesh/secret-creation/index.md
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/news/releases/1.1.x/announcing-1.1/_index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix aliases
  content/en/docs/ops/best-practices/deployment/index.md
  content/en/docs/ops/best-practices/traffic-management/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/injection-concepts/index.md
  content/en/docs/ops/configuration/mesh/validation/index.md
  content/en/docs/ops/configuration/mesh/webhook/index.md
  content/en/docs/ops/configuration/security/harden-docker-images/index.md
  content/en/docs/ops/configuration/security/root-transition/index.md
  content/en/docs/ops/configuration/telemetry/envoy-stats/index.md
  content/en/docs/ops/configuration/telemetry/in-proxy-service-telemetry/index.md
  content/en/docs/ops/configuration/traffic-management/locality-load-balancing/index.md
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
  content/en/docs/ops/deployment/architecture/index.md
  content/en/docs/ops/deployment/deployment-models/index.md
  content/en/docs/ops/deployment/performance-and-scalability/index.md
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Add a web site change log page. (#5861)
  content/en/about/log/index.md
  i18n/en.toml
  layouts/partials/toc.html
  layouts/shortcodes/change_log.html
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add a web site change log page. (#5861)
  content/en/about/log/index.md
  i18n/en.toml
  layouts/partials/toc.html
  layouts/shortcodes/change_log.html
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add a web site change log page. (#5861)
  content/en/about/log/index.md
  i18n/en.toml
  layouts/partials/toc.html
  layouts/shortcodes/change_log.html
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add a web site change log page.
  content/en/about/log/index.md
  i18n/en.toml
  layouts/partials/toc.html
  layouts/shortcodes/change_log.html
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

[ImgBot] Optimize images
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-infra

Add a web site change log page. (#5894)
  content/en/about/log/index.md
  i18n/en.toml
  layouts/partials/toc.html
  layouts/shortcodes/change_log.html
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

[ImgBot] Optimize images (#5895)
  src/icons/log.svg
Owners: @istio/wg-docs-maintainers-infra

Add note about annotations to control traffic
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

New page for analyzer message IST0002 (#5885)
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

New page for analyzer message IST0002 (#5885)
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

New page for analyzer message IST0002 (#5885)
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

Added page for error IST0002
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

Fixed typo
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

function switched to feature
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

disable zh build
  config.toml
Owners: @istio/wg-docs-maintainers-infra

[release-1.4] New page for analyzer message IST0002 (#5897)
  content/en/docs/reference/config/analysis/ist0002/index.md
Owners: @istio/wg-docs-maintainers-english

Fix cni doc
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Address comment
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add note about annotations to control traffic (#5896)
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Add note about annotations to control traffic (#5896)
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Add note about annotations to control traffic (#5896)
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Add note about annotations to control traffic
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Don't link to language-specific content from preliminary.istio.io to istio.io.
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-infra

Don't link to language-specific content from preliminary.istio.io to istio.io. (#5900)
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-infra

Don't link to language-specific content from preliminary.istio.io to istio.io. (#5900)
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-infra

Don't link to language-specific content from preliminary.istio.io to istio.io. (#5900)
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-infra

Fix protocol sniffing documentation
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

Fix protocol sniffing documentation (#5899)
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

Fix protocol sniffing documentation (#5899)
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

Fix protocol sniffing documentation (#5899)
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

Fix protocol sniffing documentation
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

add more fixes
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/zh/news/support/announcing-1.1-eol/index.md
Owners: @istio/wg-docs-maintainers-chinese
