Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Linting issues
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Put upgrades as a separate item; mention in-place upgrades
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add periods to all lines
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Remove spaces
  content/en/news/releases/1.6.x/announcing-1.6.x/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix cert management link
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Address linting problems
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Add instructions on installing Istio for vms
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Remove /var/run/secrets from document
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Address review comments
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Self review.
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Address reviewer comments and lintian problems
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Fix spellING errors.
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Move from setup/install/multicluster
  content/en/docs/setup/install/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Address reviewier comments
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

One small improvement to the make command
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Address review comments - not quite functional
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Add a plugin ca cert reference to individual CSOs.
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Address reviewer comments.
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

few linting errors.
  content/en/docs/setup/install/multicluster/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Add links to issues resolved
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Rebase to pick up cert-management directory change
  content/en/docs/setup/install/virtual-machine/index.md
Owners: @istio/wg-docs-maintainers-english

Replaced the confusing goals section with a minimal section on app's design
  content/en/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-english

address review comments
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

Delete Citadel warning
  content/zh/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update Python and Java code snippet
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
Owners: @istio/wg-docs-maintainers-english

Update to 1.6.0-rc.1
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@release-1.6 reference docs (#7324)
  content/en/docs/reference/commands/istioctl/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Misleading default namespace value 'istio'
  content/en/blog/2018/aws-nlb/index.md
Owners: @istio/wg-docs-maintainers-english

fix(retry): add default behavior about retry
  content/en/docs/concepts/traffic-management/index.md
  content/pt-br/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Delete mixer filter stats as they no longer exist (#7312)
  content/en/docs/ops/configuration/telemetry/envoy-stats/index.md
Owners: @istio/wg-docs-maintainers-english

fix(retry): add default behavior about retry (#7328)
  content/en/docs/concepts/traffic-management/index.md
  content/pt-br/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update content/en/docs/concepts/what-is-istio/index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/what-is-istio/index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Add diagram to what-is-istio page (#7283)
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

update FAQ > General > slack instructions (#7320)
  content/en/faq/general/how-to-join-slack.md
  content/pt-br/faq/general/how-to-join-slack.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Review comments
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Change back to 1.5 release note structure
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Misleading default namespace value 'istio' (#7331)
  content/en/blog/2018/aws-nlb/index.md
Owners: @istio/wg-docs-maintainers-english

Removed trailing spaces
  content/en/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-english
