Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @frankbu, @rcaballeromx, @sdake, @fleeto, @gyliu513, @rootsongjc

rewrite the cleanup instructions for timeouts
  content/docs/tutorial/timeouts-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

remove "the productpage turned red" for the retries module
  content/docs/tutorial/retries-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

reviews unavailable -> ratings unavailable
  content/docs/tutorial/retries-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite cleanup instructions for retries
  content/docs/tutorial/retries-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

the reviews -> reviews
  content/docs/tutorial/outlier-detection-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite the sentence about Istio detecting unavailable microservice
  content/docs/tutorial/outlier-detection-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

too much requests -> too many requests
  content/docs/tutorial/rate-limiting-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add missing dot
  content/docs/tutorial/rate-limiting-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Performs -> Perform
  content/docs/tutorial/rate-limiting-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

remove redundant backticks
  content/docs/tutorial/rate-limiting-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

let to cascade -> let it cascade
  content/docs/tutorial/rate-limiting-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite the cleanup of rate limiting
  content/docs/tutorial/rate-limiting-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

can be accessed -> should be accessed
  content/docs/tutorial/add-a-security-policy-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

prohibited -> denied
  content/docs/tutorial/add-a-security-policy-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add a sentence about Kubernetes Network Policies and Istio RBAC
  content/docs/tutorial/add-a-security-policy-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

expand the introduction, add a linking word and a linking sentence
  content/docs/tutorial/add-a-security-policy-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

fixed: typo
  content_zh/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

removed original text
  content_zh/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh: added 1.1.7 (#4178)
  content_zh/about/notes/1.1.7/index.md
  content_zh/blog/2019/announcing-1.1.7/index.md
  content_zh/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

fix(ops): change the yaml used in "Probes Rewriting"
  content/docs/ops/setup/app-health-check/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Address comments
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

linter errors
  .spelling
  content/blog/2018/export-logs-through-stackdriver/index.md
  content/blog/2018/incremental-traffic-management/index.md
  content/docs/examples/endpoints/index.md
  content/docs/ops/traffic-management/troubleshooting/index.md
  content/docs/setup/kubernetes/additional-setup/cni/index.md
  content/docs/setup/kubernetes/getting-started/index.md
  content/docs/setup/kubernetes/install/helm/index.md
  content/docs/setup/kubernetes/platform-setup/minikube/index.md
  content/docs/setup/kubernetes/upgrade/steps/index.md
  content/docs/tasks/traffic-management/request-routing/index.md
Owners: @geeknoid, @frankbu, @rcaballeromx, @sdake

Address lint
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update secure naming in security concept page (#4238)
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update secure naming in security concept page (#4238)
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update secure naming in security concept page (#4238)
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Address Riggs feedback
  content/docs/setup/kubernetes/getting-started/index.md
  content/docs/setup/kubernetes/install/_index.md
  content/docs/setup/kubernetes/platform-setup/openshift/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

spelling
  .spelling
Owners: @geeknoid, @frankbu, @rcaballeromx

Add high-level flow
  content/docs/setup/kubernetes/install/_index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

wrong file
  content/docs/setup/kubernetes/_index.md
  content/docs/setup/kubernetes/install/_index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Import common files into this repo. (#4246)
  .commonfiles.sha
  .golangci.yml
  BUGS-AND-FEATURE-REQUESTS.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  Makefile.common.mk
  SUPPORT.md
  scripts/check_license.sh
  scripts/run_gofmt.sh
  scripts/run_golangci.sh
Owners: @geeknoid

Delete one more stale OWNERS file.
  OWNERS
Owners: @geeknoid

Enhance split horizon EDS doc (#4225)
  content/docs/examples/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update secure naming in security concept page (#4238)
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update content/docs/setup/kubernetes/_index.md
  content/docs/setup/kubernetes/_index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update .spelling
  .spelling
Owners: @geeknoid, @frankbu, @rcaballeromx

Update content/docs/setup/kubernetes/getting-started/index.md
  content/docs/setup/kubernetes/getting-started/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update content/docs/setup/kubernetes/getting-started/index.md
  content/docs/setup/kubernetes/getting-started/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update content/docs/setup/kubernetes/getting-started/index.md
  content/docs/setup/kubernetes/getting-started/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update content/docs/setup/kubernetes/_index.md
  content/docs/setup/kubernetes/_index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

CODEOWNERS:

*               @geeknoid
.spelling       @geeknoid @frankbu @rcaballeromx
content/        @geeknoid @sdake @frankbu @rcaballeromx
content_zh/     @geeknoid @fleeto @gyliu513 @rootsongjc @frankbu
