Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

lint fixing
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

add period
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

address cmt.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add a tcpdump verification FAQ entry for mutual TLS effect proof. (#6957)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@release-1.5 in istio/istio.io@release-1.5
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/license-lint.yml
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Display entry dates on blog index page
  layouts/_default/list.html
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@release-1.5 in istio/istio.io@release-1.5 (#6959)
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/config/license-lint.yml
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

tweak
  layouts/_default/list.html
Owners: @istio/wg-docs-maintainers-infra

Add release notes for 1.5.1
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Temporary fix broken link blocking doc builds
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

better fix
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

Display entry dates on blog index page (#6960)
  layouts/_default/list.html
Owners: @istio/wg-docs-maintainers-infra

Display entry dates on blog index page
  layouts/_default/list.html
Owners: @istio/wg-docs-maintainers-infra

tweak
  layouts/_default/list.html
Owners: @istio/wg-docs-maintainers-infra

Add 1.4.7 release notes
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Display entry dates on blog index page (#6962)
  layouts/_default/list.html
Owners: @istio/wg-docs-maintainers-infra

pt and zh
  content/pt-br/docs/reference/config/installation-options/index.md
  content/zh/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/annotations/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/workload-entry/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/circonus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/cloudwatch/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/datadog/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/list/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/prometheus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/redisquota/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stackdriver/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/statsd/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stdio/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/index.html
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  content/en/docs/reference/config/security/istio.rbac.v1alpha1/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
Owners: @istio/wg-docs-maintainers-english

Temporary fix broken link blocking doc builds (#6961)
  content/en/docs/reference/config/installation-options/index.md
  content/pt-br/docs/reference/config/installation-options/index.md
  content/zh/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master (#6958)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@master reference docs (#6964)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/annotations/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/workload-entry/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/circonus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/cloudwatch/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/datadog/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/list/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/prometheus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/redisquota/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stackdriver/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/statsd/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stdio/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/index.html
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  content/en/docs/reference/config/security/istio.rbac.v1alpha1/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
Owners: @istio/wg-docs-maintainers-english

Correct typos in the blog (#6955)
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Explain the use case
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Fix sourceLabels example yaml error
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Revised based on comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

sync image with en
  content/zh/about/community/customers/inspurcloud.png
  content/zh/about/community/customers/toss.svg
  content/zh/about/community/partners/daocloud.svg
  content/zh/about/community/partners/kubesphere.svg
  content/zh/about/community/partners/layer5.svg
  content/zh/about/community/partners/solo.png
  content/zh/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/zh/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/zh/docs/concepts/security/arch-sec.svg
  content/zh/docs/concepts/security/authn.svg
  content/zh/docs/concepts/security/authz.svg
  content/zh/docs/concepts/security/id-prov.svg
  content/zh/docs/examples/microservices-istio/bookinfo-kubernetes/bookinfo.png
  content/zh/docs/examples/microservices-istio/production-testing/bookinfo-details-unavailable.png
  content/zh/docs/ops/deployment/performance-and-scalability/latency_p90.svg
  content/zh/docs/ops/deployment/performance-and-scalability/latency_p99.svg
  content/zh/docs/setup/getting-started/kiali-example2.png
  content/zh/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
  content/zh/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result_graphical.png
  content/zh/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
Owners: @istio/wg-docs-maintainers-chinese

Revised based on the review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Provision a certificate to an application through a sidecar (#6554)
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revisions based on the review comments
  content/en/docs/tasks/security/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise install command based on the review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Make the blog more concise
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english
