Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Add instructions for gateway customization
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

add a tcpdump verification for mtls
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

add period
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/setup/upgrade/istioctl-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

add format Instructive and default value information for tcp connectionTimeout
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/pt-br/docs/reference/config/networking/destination-rule/index.html
  content/zh/docs/reference/config/networking/destination-rule/index.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

fix issues
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix issues
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Provide alternative way for how to set LOCAL_GW_ADDR
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Update istio arch image in the Chinese doc (#6911)
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-chinese

Update istio arch image in the Chinese doc
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-chinese

Update _index.md
  content/zh/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-chinese

Update multi cluster output
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Fix typo
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Fix YAML highlighting
  content/en/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-english

Fix YAML highlighting (#6932)
  content/en/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-english

add some clarification to the helm api
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

address comment
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

create blog post for webassembly hub + Istio; in place of #6885
  .spelling
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Minor changes to replicated control plane doc
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Replace Citadel with Istio CA
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

move to the migration doc.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Incorporate feedback into shared control plane docs
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Add $ to CLUSTER2_GW_ADDR per review
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Remove cert-manager task with reference to new integration page
  content/en/docs/ops/integrations/certmanager/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-certmgr/index.md
Owners: @istio/wg-docs-maintainers-english

update ilb usage
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

fix alias
  content/en/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint errors
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Remove proto link
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Add Helm install instructions and operator remove command
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

fix linter
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

add new wasm zh blog
  content/zh/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/zh/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-chinese

To select external charts replace installPackagePath with install_package_path
  content/en/docs/setup/install/istioctl/index.md
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/circonus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/cloudwatch/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/datadog/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/list/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/memquota/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/prometheus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/redisquota/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/solarwinds/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stackdriver/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/statsd/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stdio/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/authorization/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/kubernetes/index.html
Owners: @istio/wg-docs-maintainers-english

remove extra part
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs (#6940)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/circonus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/cloudwatch/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/datadog/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/list/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/memquota/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/prometheus/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/redisquota/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/solarwinds/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stackdriver/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/statsd/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/stdio/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/authorization/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/kubernetes/index.html
Owners: @istio/wg-docs-maintainers-english

Manual cherry-pick of #6886 - Remove KubeCon EU event, ignore 429s.
  content/en/events/banners/kubecon-europe-2020.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

add new istiod zh blog
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

修改lint
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese
