Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Release notes for 1.4.8 (#7121)
  content/en/news/releases/1.4.x/announcing-1.4.8/index.md
Owners: @istio/wg-docs-maintainers-english

Release notes for 1.4.8
  content/en/news/releases/1.4.x/announcing-1.4.8/index.md
Owners: @istio/wg-docs-maintainers-english

Merge, reorder items.
  content/en/news/releases/1.4.x/announcing-1.4.8/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add documentation for adding sidecar injector webhook annotations in 1.4 (#7140)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

language fixes
  content/en/docs/ops/integrations/prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

Add prometheus integration doc (#7112)
  content/en/docs/ops/integrations/certmanager/index.md
  content/en/docs/ops/integrations/prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

Fix linting
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Release notes for 1.4.8 (#7141)
  content/en/news/releases/1.4.x/announcing-1.4.8/index.md
Owners: @istio/wg-docs-maintainers-english

add missing release note
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

Fix cleanup to delete authorization policy
  content/en/docs/tasks/security/authentication/authn-policy/index.md
Owners: @istio/wg-docs-maintainers-english

Fix cleanup to delete authorization policy (#7142)
  content/en/docs/tasks/security/authentication/authn-policy/index.md
Owners: @istio/wg-docs-maintainers-english

Adding release notes for 1.5.2 (#7130)
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

Adding release notes for 1.5.2
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

add missing release note
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

Fix linting
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

Clarify wording for openshift installs
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update args.yml version
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

Update content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Clarify wording for openshift installs (#7144)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Clarify wording for openshift installs
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Adding release notes for 1.5.2 (#7143)
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

remove changes from other langs
  content/pt-br/docs/concepts/observability/index.md
  content/pt-br/docs/reference/commands/pilot-agent/index.html
  content/pt-br/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/pt-br/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/pt-br/docs/tasks/observability/distributed-tracing/overview/index.md
  content/pt-br/faq/distributed-tracing/how-distributed-tracing-works.md
  content/pt-br/faq/distributed-tracing/how-envoy-based-tracing-works.md
  content/pt-br/faq/distributed-tracing/how-to-support-tracing.md
  content/pt-br/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/zh/docs/concepts/observability/index.md
  content/zh/docs/reference/commands/pilot-agent/index.html
  content/zh/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/zh/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/zh/docs/tasks/observability/distributed-tracing/overview/index.md
  content/zh/faq/distributed-tracing/how-distributed-tracing-works.md
  content/zh/faq/distributed-tracing/how-envoy-based-tracing-works.md
  content/zh/faq/distributed-tracing/how-to-support-tracing.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

merge changes from istio
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
Owners: @istio/wg-docs-maintainers-english

Add draft content
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Corrections
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Clarify wording for openshift installs (#7147)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Uninstall: add note about removal of istio-system ns
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Clarify the reason of not removing it
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Uninstall: add note about removal of istio-system ns (#7151)
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Convert mirror test to new model
  content/en/docs/tasks/traffic-management/mirroring/index.md
  content/en/docs/tasks/traffic-management/mirroring/snips.sh
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  tests/trafficmanagement/mirror_test.go
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

lint errors
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/dns-cert/snips.sh
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/mirroring/index.md
  content/en/docs/tasks/traffic-management/mirroring/snips.sh
  content/en/docs/tasks/traffic-management/request-timeouts/snips.sh
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix ns
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

put branding changes back in
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-english

debug
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

resolve merge conflict
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-english

debug
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

multipod wait
  tests/trafficmanagement/mirror_test.go
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

debug
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
