Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Spelling
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fixed header problems
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Minor edits in the Mixer Deprecation section
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: /about/contribute/front-matter/index.md #1770 (#6698)
  content/zh/about/contribute/front-matter/index.md
  content/zh/faq/_index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /about/contribute/front-matter/index.md #1770 (#6698)
  content/zh/about/contribute/front-matter/index.md
  content/zh/faq/_index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /blog/2020/multi-cluster-mesh-automation/index.md #1736 (#6702)
  content/zh/blog/2020/istio-agent/index.md
  content/zh/blog/2020/istio-agent/istio_agent.svg
  content/zh/blog/2020/multi-cluster-mesh-automation/Istio_mesh_example.svg
  content/zh/blog/2020/multi-cluster-mesh-automation/Istio_mesh_example_with_admiral.svg
  content/zh/blog/2020/multi-cluster-mesh-automation/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /blog/2020/multi-cluster-mesh-automation/index.md #1736 (#6702)
  content/zh/blog/2020/istio-agent/index.md
  content/zh/blog/2020/istio-agent/istio_agent.svg
  content/zh/blog/2020/multi-cluster-mesh-automation/Istio_mesh_example.svg
  content/zh/blog/2020/multi-cluster-mesh-automation/Istio_mesh_example_with_admiral.svg
  content/zh/blog/2020/multi-cluster-mesh-automation/index.md
Owners: @istio/wg-docs-maintainers-chinese

update certmanager part in the telemetry addon doc
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Add multicluster warnings
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix a markdown syntax error for a link
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#6739)
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6739)
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Owners: @istio/wg-docs-maintainers-infra

Fix lint error
  content/en/docs/tasks/observability/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

update vm doc for 1.5
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Fix lint error
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

remove duplication
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/docs/examples/virtual-machines/multi-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

addressing comments from richardwxn and rshriram
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

fix broken link
  content/en/docs/examples/virtual-machines/multi-network/index.md
Owners: @istio/wg-docs-maintainers-english

fix broken link
  content/en/docs/examples/virtual-machines/multi-network/index.md
Owners: @istio/wg-docs-maintainers-english

first pass at updated kops documentation
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

updated k8s versions as appropiate
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

added sds doc links
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

formatting
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

翻译完成
  content/zh/about/contribute/review/index.md
Owners: @istio/wg-docs-maintainers-chinese

Rename Pilot to Istiod
  content/en/docs/ops/diagnostic-tools/proxy-cmd/index.md
Owners: @istio/wg-docs-maintainers-english

Fix: 程序 -> 流程
  content/zh/about/contribute/review/index.md
Owners: @istio/wg-docs-maintainers-chinese

refine the description, remove k8s version
  content/en/docs/setup/platform-setup/kubesphere/index.md
Owners: @istio/wg-docs-maintainers-english

Fix: lint errors.
  content/zh/about/contribute/review/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix pilot -> istiod for config validation docs (#6673)
  content/en/docs/ops/common-problems/validation/index.md
Owners: @istio/wg-docs-maintainers-english

Fix pilot -> istiod for config validation docs (#6673)
  content/en/docs/ops/common-problems/validation/index.md
Owners: @istio/wg-docs-maintainers-english

Updating istio/istio dependency (#6724)
  Makefile.core.mk
  bin/init.sh
  go.mod
  go.sum
  tests/examples/bookinfo_test.go
  tests/policies/enabling_policy_enforcement_test.go
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Updating istio/istio dependency (#6724)
  Makefile.core.mk
  bin/init.sh
  go.mod
  go.sum
  tests/examples/bookinfo_test.go
  tests/policies/enabling_policy_enforcement_test.go
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Address comments.
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

spelling and lint fixes
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english
