Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @frankbu, @rcaballeromx, @sdake, @fleeto, @gyliu513, @rootsongjc

more broken links
  content/blog/2018/egress-https/index.md
  content/blog/2018/egress-mongo/index.md
  content/blog/2018/egress-monitoring-access-control/index.md
  content/blog/2018/egress-tcp/index.md
  content/docs/examples/bookinfo/index.md
  content/docs/examples/endpoints/index.md
  content/docs/tasks/multicluster/gateways/index.md
  content/docs/tasks/multicluster/icp/index.md
  content/docs/tasks/multicluster/split-horizon-eds/index.md
  content/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/docs/tasks/traffic-management/ingress/secore-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content_zh/blog/2018/egress-mongo/index.md
  content_zh/blog/2018/egress-monitoring-access-control/index.md
  content_zh/docs/setup/kubernetes/upgrade/notice/index.md
  content_zh/docs/tasks/traffic-management/edge-traffic/egress-gateway-tls-origination/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

more broken links
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/faq/security/secure-ingress.md
  content_zh/blog/2018/egress-mongo/index.md
  content_zh/blog/2018/egress-monitoring-access-control/index.md
  content_zh/docs/tasks/traffic-management/edge-traffic/egress-gateway-tls-origination/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Update index.md
  content/docs/tasks/telemetry/distributed-tracing/lightstep/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

fix links
  content_zh/blog/2018/egress-mongo/index.md
  content_zh/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

fix todelete images
  content_zh/docs/concepts/performance-and-scalability/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

Experiment with subtitles
  layouts/_default/list.html
Owners: @geeknoid

The final(?) attempt to please the gods of good documentation.
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Use shorter titles and no linktitle for traffic managment tasks
  content/docs/tasks/traffic-management/egress/_index.md
  content/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/docs/tasks/traffic-management/egress/egress-tls-origination/index.md
  content/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/docs/tasks/traffic-management/ingress/_index.md
  content/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/docs/tasks/traffic-management/request-routing/index.md
  content/docs/tasks/traffic-management/request-timeouts/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Use shorter titles and no linktitle for traffic managment tasks (#4212)
  content/docs/tasks/traffic-management/egress/_index.md
  content/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/docs/tasks/traffic-management/egress/egress-tls-origination/index.md
  content/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/docs/tasks/traffic-management/ingress/_index.md
  content/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/docs/tasks/traffic-management/request-routing/index.md
  content/docs/tasks/traffic-management/request-timeouts/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Use shorter titles and no linktitle for traffic managment tasks (#4212)
  content/docs/tasks/traffic-management/egress/_index.md
  content/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/docs/tasks/traffic-management/egress/egress-tls-origination/index.md
  content/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/docs/tasks/traffic-management/ingress/_index.md
  content/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/docs/tasks/traffic-management/request-routing/index.md
  content/docs/tasks/traffic-management/request-timeouts/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Use shorter titles and no linktitle for traffic managment tasks (#4212)
  content/docs/tasks/traffic-management/egress/_index.md
  content/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/docs/tasks/traffic-management/egress/egress-tls-origination/index.md
  content/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/docs/tasks/traffic-management/ingress/_index.md
  content/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/docs/tasks/traffic-management/request-routing/index.md
  content/docs/tasks/traffic-management/request-timeouts/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Announcement for upcoming 1.0 end of support (#4197)
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Announcement for upcoming 1.0 end of support (#4197)
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Release notes for 1.1.5 (#4088)
  content/about/notes/1.1.5/index.md
  content/blog/2019/announcing-1.1.5/index.md
  content/boilerplates/notes/1.1.5.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.6 release notes (#4113)
  content/about/notes/1.1.6/index.md
  content/blog/2019/announcing-1.1.6/index.md
  content/boilerplates/notes/1.1.6.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.7 release notes (#4165)
  content/about/notes/1.1.7/index.md
  content/blog/2019/announcing-1.1.7/index.md
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Announcement for upcoming 1.0 end of support (#4197)
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Announcement for upcoming 1.0 end of support (#4197) (#4214)
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Announcement for upcoming 1.0 end of support (#4197) (#4214)
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Announcement for upcoming 1.0 end of support (#4197) (#4214)
  content/blog/2019/announcing-1.0-eol/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Release notes for 1.1.5 (#4088) (#4217)
  content/about/notes/1.1.5/index.md
  content/blog/2019/announcing-1.1.5/index.md
  content/boilerplates/notes/1.1.5.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Release notes for 1.1.5 (#4088) (#4217)
  content/about/notes/1.1.5/index.md
  content/blog/2019/announcing-1.1.5/index.md
  content/boilerplates/notes/1.1.5.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Release notes for 1.1.5 (#4088) (#4217)
  content/about/notes/1.1.5/index.md
  content/blog/2019/announcing-1.1.5/index.md
  content/boilerplates/notes/1.1.5.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.6 release notes (#4113) (#4216)
  content/about/notes/1.1.6/index.md
  content/blog/2019/announcing-1.1.6/index.md
  content/boilerplates/notes/1.1.6.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.6 release notes (#4113) (#4216)
  content/about/notes/1.1.6/index.md
  content/blog/2019/announcing-1.1.6/index.md
  content/boilerplates/notes/1.1.6.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.6 release notes (#4113) (#4216)
  content/about/notes/1.1.6/index.md
  content/blog/2019/announcing-1.1.6/index.md
  content/boilerplates/notes/1.1.6.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.7 release notes (#4165) (#4215)
  content/about/notes/1.1.7/index.md
  content/blog/2019/announcing-1.1.7/index.md
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.7 release notes (#4165) (#4215)
  content/about/notes/1.1.7/index.md
  content/blog/2019/announcing-1.1.7/index.md
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

1.1.7 release notes (#4165) (#4215)
  content/about/notes/1.1.7/index.md
  content/blog/2019/announcing-1.1.7/index.md
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Add information about configuring Istio to use an external Jaeger (production) instance (#4210)
  content/docs/tasks/telemetry/distributed-tracing/jaeger/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Add information about configuring Istio to use an external Jaeger (production) instance (#4210)
  content/docs/tasks/telemetry/distributed-tracing/jaeger/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Add information about configuring Istio to use an external Jaeger (production) instance (#4210)
  content/docs/tasks/telemetry/distributed-tracing/jaeger/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Fix references to parent dir in TLS tasks
  content/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content_zh/docs/tasks/traffic-management/edge-traffic/ingress-sni-passthrough/index.md
  content_zh/docs/tasks/traffic-management/secure-ingress/sds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Warning not to use demo profile for performance evaluation
  content/docs/setup/kubernetes/install/kubernetes/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Warning not to use demo profile for performance evaluation (#4220)
  content/docs/setup/kubernetes/install/kubernetes/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Warning not to use demo profile for performance evaluation (#4220)
  content/docs/setup/kubernetes/install/kubernetes/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Warning not to use demo profile for performance evaluation (#4220)
  content/docs/setup/kubernetes/install/kubernetes/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Warning not to use demo profile for performance evaluation (#4220)
  content/docs/setup/kubernetes/install/kubernetes/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Fix references to parent dir in TLS tasks (#4219)
  content/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content_zh/docs/tasks/traffic-management/edge-traffic/ingress-sni-passthrough/index.md
  content_zh/docs/tasks/traffic-management/secure-ingress/sds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Fix references to parent dir in TLS tasks (#4219)
  content/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content_zh/docs/tasks/traffic-management/edge-traffic/ingress-sni-passthrough/index.md
  content_zh/docs/tasks/traffic-management/secure-ingress/sds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

CODEOWNERS:

*               @geeknoid
.spelling       @geeknoid @frankbu @rcaballeromx
content/        @geeknoid @sdake @frankbu @rcaballeromx
content_zh/     @geeknoid @fleeto @gyliu513 @rootsongjc @frankbu
