Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Adding new flags to CNI docs (#6528)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Adding new flags to CNI docs (#6528)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

update operator ref doc
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha12.pb/index.html
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

suggestion batch2.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

fix broken link
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Highly unedited version of the change notes
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Remove https overlay task (#6596)
  content/en/docs/tasks/security/authentication/https-overlay/index.md
  content/en/faq/security/https-overlay.md
Owners: @istio/wg-docs-maintainers-english

Remove https overlay task (#6596)
  content/en/docs/tasks/security/authentication/https-overlay/index.md
  content/en/faq/security/https-overlay.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/_index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Remove warning about multiple replicas in citadel deployment (#6610)
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Remove warning about multiple replicas in citadel deployment (#6610)
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Remove warning about multiple replicas in citadel deployment
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

More fixes and cleanup for makefiles
  Makefile.core.mk
  bin/init.sh
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master (#6616)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6616)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

fix(observability docs): restructure docs for v2 telemetry (and remove problematic Mixer refs) (#6533)
  content/en/about/bugs/index.md
  content/en/about/feature-stages/index.md
  content/en/blog/2018/egress-monitoring-access-control/index.md
  content/en/docs/concepts/observability/index.md
  content/en/docs/concepts/what-is-istio/index.md
  content/en/docs/examples/microservices-istio/logs-istio/index.md
  content/en/docs/ops/configuration/telemetry/in-proxy-service-telemetry/index.md
  content/en/docs/setup/getting-started/index.md
  content/en/docs/tasks/observability/logs/_index.md
  content/en/docs/tasks/observability/metrics/_index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/index.md
  content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/logs/_index.md
  content/en/docs/tasks/observability/mixer/logs/collecting-logs/index.md
  content/en/docs/tasks/observability/mixer/logs/fluentd/index.md
  content/en/docs/tasks/observability/mixer/metrics/_index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/istio-tcp-attribute-flow.svg
  content/en/news/releases/0.x/announcing-0.5/index.md
  content/en/news/releases/1.3.x/announcing-1.3.1/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix(observability docs): restructure docs for v2 telemetry (and remove problematic Mixer refs) (#6533)
  content/en/about/bugs/index.md
  content/en/about/feature-stages/index.md
  content/en/blog/2018/egress-monitoring-access-control/index.md
  content/en/docs/concepts/observability/index.md
  content/en/docs/concepts/what-is-istio/index.md
  content/en/docs/examples/microservices-istio/logs-istio/index.md
  content/en/docs/ops/configuration/telemetry/in-proxy-service-telemetry/index.md
  content/en/docs/setup/getting-started/index.md
  content/en/docs/tasks/observability/logs/_index.md
  content/en/docs/tasks/observability/metrics/_index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/index.md
  content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/logs/_index.md
  content/en/docs/tasks/observability/mixer/logs/collecting-logs/index.md
  content/en/docs/tasks/observability/mixer/logs/fluentd/index.md
  content/en/docs/tasks/observability/mixer/metrics/_index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/istio-tcp-attribute-flow.svg
  content/en/news/releases/0.x/announcing-0.5/index.md
  content/en/news/releases/1.3.x/announcing-1.3.1/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

More fixes and cleanup for makefiles (#6612)
  Makefile.core.mk
  bin/init.sh
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

More fixes and cleanup for makefiles (#6612)
  Makefile.core.mk
  bin/init.sh
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: sync some missing content
  content/zh/news/releases/1.3.x/announcing-1.3.7/index.md
  content/zh/news/releases/1.3.x/announcing-1.3.8/index.md
  content/zh/news/releases/1.4.x/announcing-1.4.4/index.md
  content/zh/news/releases/1.4.x/announcing-1.4.5/index.md
  content/zh/news/security/istio-security-2019-007/index.md
  content/zh/news/security/istio-security-2020-001/index.md
  content/zh/news/security/istio-security-2020-002/index.md
  content/zh/news/support/announcing-1.3-eol-final/index.md
Owners: @istio/wg-docs-maintainers-chinese

address turn3
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

ns create separtae.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

sync new file to /about/contribute
  content/zh/about/contribute/build/index.md
  content/zh/about/contribute/code-blocks/index.md
  content/zh/about/contribute/formatting/index.md
  content/zh/about/contribute/front-matter/index.md
  content/zh/about/contribute/shortcodes/index.md
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

sync new file to /about/contribute (#6620)
  content/zh/about/contribute/build/index.md
  content/zh/about/contribute/code-blocks/index.md
  content/zh/about/contribute/formatting/index.md
  content/zh/about/contribute/front-matter/index.md
  content/zh/about/contribute/shortcodes/index.md
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

sync new file to /about/contribute (#6620)
  content/zh/about/contribute/build/index.md
  content/zh/about/contribute/code-blocks/index.md
  content/zh/about/contribute/formatting/index.md
  content/zh/about/contribute/front-matter/index.md
  content/zh/about/contribute/shortcodes/index.md
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

Updated pilot options
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

Add test for Enabling Policy Enforcement
  tests/policies/enabling_policy_enforcement_test.go
  tests/policies/main_test.go
  tests/policies/scripts/enabling_policy_enforcement.txt
  tests/policies/scripts/revert_policy_enforcement.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Rewrite mtls migration instructions. (#6589)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

Rewrite mtls migration instructions. (#6589)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

Add ingress-gateway reachability to bookinfo test
  tests/examples/bookinfo_test.go
  tests/examples/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove warning about multiple replicas in citadel deployment (#6617)
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add test for Enabling Policy Enforcement (#6622)
  tests/policies/enabling_policy_enforcement_test.go
  tests/policies/main_test.go
  tests/policies/scripts/enabling_policy_enforcement.txt
  tests/policies/scripts/revert_policy_enforcement.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add test for Enabling Policy Enforcement (#6622)
  tests/policies/enabling_policy_enforcement_test.go
  tests/policies/main_test.go
  tests/policies/scripts/enabling_policy_enforcement.txt
  tests/policies/scripts/revert_policy_enforcement.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
