Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

fixed lint issues
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Add a blog on declarative wasm extensions for envoy and istio (#6859)
  .spelling
  content/en/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

fixed lint errors
  .spelling
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

fixed bash syntax
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

clean rest of lint issues
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

Pushed changes for review
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

Add a blog on declarative wasm extensions for envoy and istio
  content/en/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

update note to http for module delivery
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add a blog on declarative wasm extensions for envoy and istio (#6906)
  .spelling
  content/en/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

fixed spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

zh-translation: /blog/2020/wasm-announce/ (#6835)
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix lint
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix review issues
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix lint
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix style
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation-/blog/2020/wasm-announce/
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
Owners: @istio/wg-docs-maintainers-english

[release-1.5] zh-translation: /blog/2020/wasm-announce/ (#6907)
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /blog/2020/wasm-announce/ (#6835)
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: update arch image
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-chinese

Update istio arch image in the Chinese doc
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-chinese

增加翻译博客 (#6901)
  content/zh/docs/reference/config/telemetry/_index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translate: /docs/concepts/wasm
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs (#6908)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
Owners: @istio/wg-docs-maintainers-english

Reword to clarify the intent of external access (#6888)
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

rebase and fix last lint error
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update home page links (#6872)
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Add a blog on declarative wasm extensions for envoy and istio (#6859)
  .spelling
  content/en/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

Update to the latest istio/istio (#6881)
  go.mod
  go.sum
  pkg/test/istioio/pod.go
  pkg/test/istioio/script.go
  pkg/test/istioio/subtest.go
  tests/configuration/main_test.go
  tests/examples/main_test.go
  tests/policies/main_test.go
  tests/security/main_test.go
  tests/trafficmanagement/ingress/main_test.go
  tests/trafficmanagement/main_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master (#6891)
  common/.commonfiles.sha
  common/Makefile.common.mk
Owners: @istio/wg-docs-maintainers-infra

Add cert-manager integration doc (#6896)
  content/en/docs/ops/integrations/_index.md
  content/en/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-english

增加翻译博客 (#6901)
  content/zh/docs/reference/config/telemetry/_index.md
Owners: @istio/wg-docs-maintainers-chinese

Add istiod to the glossary page (#6899)
  content/en/docs/concepts/security/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/diagnostic-tools/proxy-cmd/index.md
  content/en/docs/reference/glossary/istiod.md
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation:content/zh/docs/reference/config/telemetry/configurable_metrics/index.md (#6880)
  content/zh/docs/reference/config/telemetry/configurable_metrics/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation:content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md (#6878)
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Remove KubeCon EU event, fix KubeSphere.io links, ignore 429s. (#6886)
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/events/banners/kubecon-europe-2020.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update Istio DNS certificate document for Istio 1.5 (#6871)
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Gke private firewall port (#6882)
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: release 1.5 with cherrypick/release-1.5 (#6777)
  content/zh/docs/concepts/policies/index.md
  content/zh/docs/concepts/wasm/extending.svg
  content/zh/docs/concepts/wasm/index.md
  content/zh/docs/concepts/what-is-istio/index.md
  content/zh/docs/reference/config/istio.operator.v1alpha1/index.html
  content/zh/docs/reference/config/security/jwt/index.html
  content/zh/docs/reference/config/security/peer_authentication/index.html
  content/zh/docs/reference/config/security/request_authentication/index.html
  content/zh/news/releases/1.5.x/announcing-1.5/_index.md
  content/zh/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

update multicluster shared control plane docs (#6843)
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/setup/install/multicluster/shared/diagram.svg
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/multicluster-with-vpn.svg
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english
