Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

missing include
  tests/examples/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix linting error
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Fix kubectl output
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/bookinfo/snips.sh
Owners: @istio/wg-docs-maintainers-english

Caution the use custom_tags and gateways
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

fix elapsed time regex
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Spelling fixes; change to active voice
  .spelling
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Convert health check test to new model (#7126)
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  tests/README.md
  tests/configuration/scripts/cleanup.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_command.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_http_annotations.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_http_globally.txt
  tests/configuration/scripts/liveness_and_readiness_probes_with_http_separate_port.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update based on comments
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Convert bookinfo test to new model (#7127)
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/bookinfo/snips.sh
  tests/examples/scripts/bookinfo.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Changed spelling of Lightstep
  .spelling
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7128)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Update Lightstep
  content/pt-br/docs/tasks/observability/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-infra

Remove MeshConfig from ignored spelling
  .spelling
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Change LightStep to Lightstep and removed bad link
  content/zh/docs/tasks/observability/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-chinese

Galley cmd removed in 1.6.
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Change LightStep to Lightstep
  content/zh/faq/distributed-tracing/how-envoy-based-tracing-works.md
Owners: @istio/wg-docs-maintainers-chinese

Change LightStep to Lightstep
  content/en/faq/distributed-tracing/how-envoy-based-tracing-works.md
Owners: @istio/wg-docs-maintainers-english

Change LightStep to Lightstep
  content/pt-br/faq/distributed-tracing/how-envoy-based-tracing-works.md
Owners: @istio/wg-docs-maintainers-infra

change LightStep to Lightstep
  content/en/docs/concepts/observability/index.md
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
  content/en/faq/distributed-tracing/how-distributed-tracing-works.md
  content/en/faq/distributed-tracing/how-to-support-tracing.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/pt-br/docs/concepts/observability/index.md
  content/pt-br/docs/reference/commands/pilot-agent/index.html
  content/pt-br/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/pt-br/docs/tasks/observability/distributed-tracing/overview/index.md
  content/pt-br/faq/distributed-tracing/how-distributed-tracing-works.md
  content/pt-br/faq/distributed-tracing/how-to-support-tracing.md
  content/pt-br/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/zh/docs/concepts/observability/index.md
  content/zh/docs/reference/commands/pilot-agent/index.html
  content/zh/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/zh/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/zh/docs/tasks/observability/distributed-tracing/overview/index.md
  content/zh/faq/distributed-tracing/how-distributed-tracing-works.md
  content/zh/faq/distributed-tracing/how-to-support-tracing.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Convert TCP traffic shifting test
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_cleanup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Adding release notes for 1.5.2
  content/en/news/releases/1.5.x/announcing-1.5.2/index.md
Owners: @istio/wg-docs-maintainers-english

lint errors
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
Owners: @istio/wg-docs-maintainers-english

regen
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
Owners: @istio/wg-docs-maintainers-english

Fix reference docs: galley cmd removed
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Fix links
  content/en/about/feature-stages/index.md
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/en/faq/distributed-tracing/control-sampling.md
  content/en/faq/distributed-tracing/no-tracing.md
  content/en/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-english

test disable spellcheck
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
