Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revised based on comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Move the document location
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Provision a certificate to an application through a sidecar
  content/en/docs/tasks/security/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Explain the use case
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revised based on the review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise based on review comments
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Remove sourceLabels match part
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Remove ...
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Provision a certificate to an application through a sidecar (#6967)
  content/en/blog/2020/proxy-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Remove sourceLabels match part (#6965)
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Remove sourceLabels match part
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Remove ...
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Fix sourceLabels example yaml error
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Announcing 1.5.1 and 1.4.7
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
  content/en/news/security/istio-security-2020-004/index.md
Owners: @istio/wg-docs-maintainers-english

fix dates
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5.1/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Remove sourceLabels match part (#6968)
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/security/istio-security-2020-004/index.md
  content/en/news/security/istio-security-2020-004/index.md
Owners: @istio/wg-docs-maintainers-english

1.4.7, 1.5.1, istio-security-2020-004 (#6969)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
  content/en/news/security/istio-security-2020-004/index.md
Owners: @istio/wg-docs-maintainers-english

fix dates
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5.1/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/security/istio-security-2020-004/index.md
  content/en/news/security/istio-security-2020-004/index.md
Owners: @istio/wg-docs-maintainers-english

Announcing 1.5.1 and 1.4.7
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
  content/en/news/security/istio-security-2020-004/index.md
Owners: @istio/wg-docs-maintainers-english

Update args.yml
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

[release-1.5] 1.4.7, 1.5.1, istio-security-2020-004 (#6971)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.7/index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
  content/en/news/security/istio-security-2020-004/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Rename PKI to Identity Issuance
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken latest_release banner
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-infra

Fix check for link: latest_release in events
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-infra

Fix broken latest_release banner (#6973)
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-infra

Fix check for link: latest_release in events (#6974)
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-infra

cherry-pick updated multicluster shared control plane setup docs into 1.5 (#6949)
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/setup/install/multicluster/shared/diagram.svg
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/multicluster-with-vpn.svg
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add instructions for gateway customization (#6919)
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/setup/upgrade/istioctl-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/setup/upgrade/istioctl-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Remove proto link
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
