Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Automator: update istio.io@release-1.6 reference docs (#7234)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
Owners: @istio/wg-docs-maintainers-english

Try removing helm entries from see also on getting started page (#7232)
  content/en/news/releases/1.1.x/announcing-1.1/helm-changes/index.md
  content/en/news/releases/1.2.x/announcing-1.2/helm-changes/index.md
  content/en/news/releases/1.3.x/announcing-1.3/helm-changes/index.md
Owners: @istio/wg-docs-maintainers-english

Update deprecated flags for meshConfig
  content/en/docs/ops/configuration/traffic-management/locality-load-balancing/index.md
  content/en/docs/tasks/observability/logs/access-log/index.md
  content/en/docs/tasks/policy-enforcement/enabling-policy/index.md
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Update deprecated flags for meshConfig (#7236)
  content/en/docs/ops/configuration/traffic-management/locality-load-balancing/index.md
  content/en/docs/tasks/observability/logs/access-log/index.md
  content/en/docs/tasks/policy-enforcement/enabling-policy/index.md
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Highly unedited version of the release notes for 1.6
  content/en/news/releases/1.6.x/announcing-1.6/index.md
Owners: @istio/wg-docs-maintainers-english

Move table
  content/en/about/version-policy/index.md
  content/en/docs/setup/install/_index.md
  content/en/docs/setup/platform-setup/_index.md
Owners: @istio/wg-docs-maintainers-english

Add version skew policy
  content/en/about/version-policy/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/index.md
  content/en/news/releases/1.6.x/announcing-1.6/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/index.md
  content/en/news/releases/1.6.x/announcing-1.6/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/index.md
  content/en/news/releases/1.6.x/announcing-1.6/index.md
Owners: @istio/wg-docs-maintainers-english

Cleanup and remove all snippet generateing from istioio test framework
  content/en/docs/tasks/traffic-management/circuit-breaking/index.md
  content/en/docs/tasks/traffic-management/circuit-breaking/snips.sh
  pkg/test/istioio/builder.go
  pkg/test/istioio/context.go
  pkg/test/istioio/func.go
  pkg/test/istioio/script.go
  pkg/test/istioio/snippet.go
  pkg/test/istioio/yaml.go
  tests/security/authz_http_test.go
  tests/trafficmanagement/ingress/secure_ingress_sds_test.go
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/tcp_trafficshifting_test.go
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Move to appropriate directory; add hyperlinks from google doc
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Move back to version policy page
  content/en/about/version-policy/index.md
  content/en/docs/setup/platform-setup/_index.md
Owners: @istio/wg-docs-maintainers-english

Lint issue
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/circuit-breaking/index.md
  content/en/docs/tasks/traffic-management/circuit-breaking/snips.sh
Owners: @istio/wg-docs-maintainers-english

small fix
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

one more lint
  pkg/test/istioio/verifier.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

remove dead code
  pkg/test/istioio/verifier.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Use template for sub testcases, fix TAG for them (#7237)
  Makefile.core.mk
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
Owners: @istio/wg-docs-maintainers-english

Update index.md (#7235)
  content/zh/docs/tasks/security/authentication/auto-mtls/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update index.md
  content/zh/docs/tasks/policy-enforcement/enabling-policy/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add recommended bulleted items from Doug
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Reorder based on Louis' suggestion
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7240)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
Owners: @istio/wg-docs-maintainers-english

Delete all snippet generating code from istioio test framework (#7239)
  content/en/docs/tasks/traffic-management/circuit-breaking/index.md
  content/en/docs/tasks/traffic-management/circuit-breaking/snips.sh
  pkg/test/istioio/builder.go
  pkg/test/istioio/context.go
  pkg/test/istioio/func.go
  pkg/test/istioio/script.go
  pkg/test/istioio/snippet.go
  pkg/test/istioio/verifier.go
  pkg/test/istioio/yaml.go
  tests/security/authz_http_test.go
  tests/trafficmanagement/ingress/secure_ingress_sds_test.go
  tests/trafficmanagement/request_timeouts_test.go
  tests/trafficmanagement/tcp_trafficshifting_test.go
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove step 3 GKE-ism for single network vm
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7246)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Update index.md
  content/zh/docs/tasks/security/authentication/auto-mtls/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update index.md (#7249)
  content/zh/docs/tasks/security/authentication/auto-mtls/index.md
Owners: @istio/wg-docs-maintainers-chinese

More traffic management task tests
  content/en/docs/tasks/traffic-management/fault-injection/index.md
  content/en/docs/tasks/traffic-management/fault-injection/snips.sh
  content/en/docs/tasks/traffic-management/request-routing/index.md
  content/en/docs/tasks/traffic-management/request-routing/snips.sh
  tests/README.md
  tests/trafficmanagement/request_routing_test.go
  tests/trafficmanagement/scripts/request_routing.sh
  tests/util/samples.sh
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

lint errors
  tests/trafficmanagement/scripts/request_routing.sh
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix kubectl output
  content/en/docs/tasks/traffic-management/request-routing/index.md
  content/en/docs/tasks/traffic-management/request-routing/snips.sh
Owners: @istio/wg-docs-maintainers-english

fix arg check
  tests/trafficmanagement/scripts/request_routing.sh
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
