Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
Owners: @istio/wg-docs-maintainers-english

Add Kind Example
  .spelling
  content/en/docs/examples/local-testing-with-kind/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7224)
  content/en/docs/reference/commands/istioctl/index.html
Owners: @istio/wg-docs-maintainers-english

Add 1.4 EOL warning (#7222)
  content/en/news/support/announcing-1.4-eol/index.md
Owners: @istio/wg-docs-maintainers-english

Add 1.4 EOL warning
  content/en/news/support/announcing-1.4-eol/index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken section links
  content/en/news/releases/1.1.x/announcing-1.1/_index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Reapply lost changes made via the GitHub UI
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Remove Galley Architecture section (#7186)
  content/en/docs/ops/deployment/architecture/index.md
  content/en/news/releases/1.1.x/announcing-1.1/_index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Correct Envoy Access Log links
  content/en/docs/ops/common-problems/network-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/reference/config/telemetry/metrics/index.md
  content/en/docs/tasks/observability/logs/access-log/index.md
  content/pt-br/docs/ops/common-problems/network-issues/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/pt-br/docs/tasks/observability/logs/access-log/index.md
  content/zh/docs/ops/common-problems/network-issues/index.md
  content/zh/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/zh/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/zh/docs/reference/config/telemetry/metrics/index.md
  content/zh/docs/tasks/observability/logs/access-log/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Add 1.4 EOL warning (#7225)
  content/en/news/support/announcing-1.4-eol/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7223)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

PR comment
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7227)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Update test framework to use 1.6.0-beta.0
  Makefile.core.mk
  bin/init.sh
  go.mod
  go.sum
  prow/integ-suite-kind.sh
Owners: @istio/wg-docs-maintainers-infra

Add more test targets, fix mtls test (new PA added)
  .gitignore
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-test-and-release-maintainers

Go back to copies from env var
  bin/init.sh
Owners: @istio/wg-docs-maintainers-infra

Try and remove TAG from prow
  Makefile.core.mk
  prow/integ-suite-kind.sh
Owners: @istio/wg-docs-maintainers-infra

Update to use Istio SHA from go.mod (convert to long SHA)
  Makefile.core.mk
  prow/integ-suite-kind.sh
  tests/README.md
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Debug TAG not being set
  Makefile.core.mk
  prow/integ-suite-kind.sh
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add docs for Wait for Resource Status to Apply Configuration (#7157)
  content/en/docs/ops/configuration/mesh/config-resource-ready/index.md
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Correct Envoy Access Log links (#7226)
  content/en/docs/ops/common-problems/network-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/reference/config/telemetry/metrics/index.md
  content/en/docs/tasks/observability/logs/access-log/index.md
  content/pt-br/docs/ops/common-problems/network-issues/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/pt-br/docs/tasks/observability/logs/access-log/index.md
  content/zh/docs/ops/common-problems/network-issues/index.md
  content/zh/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/zh/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/zh/docs/reference/config/telemetry/metrics/index.md
  content/zh/docs/tasks/observability/logs/access-log/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Fix paralization issue
  Makefile.core.mk
  prow/integ-suite-kind.sh
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update kind image to 1.18.2
  prow/lib.sh
Owners: @istio/wg-docs-maintainers-infra

fix(multicluster): add sections on enabling multicluster labels
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update prow/lib.sh
  prow/lib.sh
Owners: @istio/wg-docs-maintainers-infra

Update kind image to 1.18.2 (#7228)
  prow/lib.sh
Owners: @istio/wg-docs-maintainers-infra

Remove some extra output
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

update VirtualService template
  content/zh/blog/2017/0.1-canary/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update istio.io@release-1.6 reference docs (#7230)
  content/en/docs/reference/commands/istioctl/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Review comments
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Update test framework to use 1.6.0-beta.0 (#7214)
  .gitignore
  Makefile.core.mk
  bin/init.sh
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  go.mod
  go.sum
  prow/integ-suite-kind.sh
  tests/README.md
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-test-and-release-maintainers

Try removing helm entries from see also on getting started page
  content/en/news/releases/1.1.x/announcing-1.1/helm-changes/index.md
  content/en/news/releases/1.2.x/announcing-1.2/helm-changes/index.md
  content/en/news/releases/1.3.x/announcing-1.3/helm-changes/index.md
Owners: @istio/wg-docs-maintainers-english

Remove obsolete '# ' uses from all tests
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/authorization/authz-http/index.md
  content/en/docs/tasks/security/authorization/authz-http/snips.sh
  content/en/docs/tasks/security/cert-management/dns-cert/snips.sh
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/ingress/secure-ingress/index.md
  content/en/docs/tasks/traffic-management/ingress/secure-ingress/snips.sh
  content/en/docs/tasks/traffic-management/mirroring/snips.sh
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
  tests/README.md
  tests/security/authz_http_test.go
  tests/security/scripts/authz_http.txt
  tests/tests.mk
  tests/trafficmanagement/ingress/scripts/cleanup.txt
  tests/trafficmanagement/ingress/scripts/configure_mtls_ingress.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_multiple_hosts.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_single_host.txt
  tests/trafficmanagement/ingress/scripts/generate_certs_and_keys.txt
  tests/trafficmanagement/ingress/scripts/troubleshooting.txt
  tests/trafficmanagement/ingress/secure_ingress_sds_test.go
  tests/trafficmanagement/scripts/circuitbreaker_test_cleanup.txt
  tests/trafficmanagement/scripts/circuitbreaker_test_setup.txt
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove obsolete '# ' uses from all tests (#7233)
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/authorization/authz-http/index.md
  content/en/docs/tasks/security/authorization/authz-http/snips.sh
  content/en/docs/tasks/security/cert-management/dns-cert/snips.sh
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/ingress/secure-ingress/index.md
  content/en/docs/tasks/traffic-management/ingress/secure-ingress/snips.sh
  content/en/docs/tasks/traffic-management/mirroring/snips.sh
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
  tests/README.md
  tests/security/authz_http_test.go
  tests/security/scripts/authz_http.txt
  tests/trafficmanagement/ingress/scripts/cleanup.txt
  tests/trafficmanagement/ingress/scripts/configure_mtls_ingress.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_multiple_hosts.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_single_host.txt
  tests/trafficmanagement/ingress/scripts/generate_certs_and_keys.txt
  tests/trafficmanagement/ingress/scripts/troubleshooting.txt
  tests/trafficmanagement/ingress/secure_ingress_sds_test.go
  tests/trafficmanagement/scripts/circuitbreaker_test_cleanup.txt
  tests/trafficmanagement/scripts/circuitbreaker_test_setup.txt
  tests/trafficmanagement/scripts/mirror_deploy.txt
  tests/trafficmanagement/scripts/mirror_traffic.txt
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/zh/docs/tasks/security/authentication/auto-mtls/index.md
Owners: @istio/wg-docs-maintainers-chinese

Use template for sub testcases, fix TAG for them
  Makefile.core.mk
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
