Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

tranlate getting-started page to brazilian portuguese pt-br
  content/pt-br/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-infra

add copyright header
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

lint errors
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

lint error in md instructions
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
Owners: @istio/wg-docs-maintainers-english

zh-translation: remove /docs/tasks/security/citadel-config/auth-sds/index.md
  content/zh/about/feature-stages/index.md
  content/zh/docs/setup/additional-setup/config-profiles/index.md
  content/zh/docs/tasks/security/authorization/authz-td-migration/index.md
  content/zh/docs/tasks/security/citadel-config/auth-sds/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/security/citadel-config/auth-sds/index.md (#7058)
  content/zh/about/feature-stages/index.md
  content/zh/docs/setup/additional-setup/config-profiles/index.md
  content/zh/docs/tasks/security/authorization/authz-td-migration/index.md
  content/zh/docs/tasks/security/citadel-config/auth-sds/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/security/citadel-config/_index.md
  content/zh/docs/tasks/security/citadel-config/_index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7065)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

zh-translation: add /docs/tasks/security/authorization/authz-jwt/index.md
  content/zh/docs/tasks/security/authorization/authz-jwt/index.md
  content/zh/docs/tasks/security/authorization/rbac-groups/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: add /docs/tasks/security/authorization/authz-jwt/index.md (#7066)
  content/zh/docs/tasks/security/authorization/authz-jwt/index.md
  content/zh/docs/tasks/security/authorization/rbac-groups/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

better default snip_id
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Run examples tests under the demo profile (#7046)
  tests/examples/bookinfo_test.go
  tests/examples/main_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix text yaml indent in docs/concepts/security (#7056)
  content/en/docs/concepts/security/index.md
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Apply suggestions from code review
  content/en/blog/2020/multiple-control-planes/index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Retire helm documentation as we use a protobuf
  content/en/docs/reference/config/installation-options/index.md
  scripts/tablegen.py
  scripts/tablegen_diff.py
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Fixing incorrect quote type in istio-authorization blog post (#7059)
  content/en/blog/2018/istio-authorization/index.md
Owners: @istio/wg-docs-maintainers-english

Initial documentation on Multiple Control Planes (#7035)
  content/en/blog/2020/multiple-control-planes/index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

tranlate getting-started page to brazilian portuguese pt-br (#7060)
  content/pt-br/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-infra

Add a Remove retired documentation section
  content/en/about/contribute/code-blocks/index.md
  content/en/about/contribute/diagrams/index.md
  content/en/about/contribute/formatting/index.md
  content/en/about/contribute/front-matter/index.md
  content/en/about/contribute/remove-content/index.md
  content/en/about/contribute/remove-content/remove-documentation.svg
  content/en/about/contribute/review/index.md
  content/en/about/contribute/shortcodes/index.md
  content/en/about/contribute/style-guide/index.md
  content/en/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-english

Clean up diagram
  content/en/about/contribute/remove-content/remove-documentation.svg
Owners: @istio/wg-docs-maintainers-english

run test without snippet gen
  pkg/test/istioio/script.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

gofmt
  pkg/test/istioio/script.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fixes
  pkg/test/istioio/script.go
  scripts/gen_snips.sh
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix path
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fixes
  pkg/test/istioio/script.go
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add grafana integration docs
  content/en/docs/ops/integrations/grafana/index.md
Owners: @istio/wg-docs-maintainers-english

fix verify
  pkg/test/istioio/script.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7071)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Fix nits in diagram.
  content/en/about/contribute/remove-content/remove-documentation.svg
Owners: @istio/wg-docs-maintainers-english

zh-translation: Update zh translation
  content/zh/docs/reference/glossary/service-registry.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: Update zh translation
  content/zh/docs/reference/glossary/service-registry.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: Update zh translation
  content/zh/docs/reference/glossary/service-registry.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/security/authentication/mutual-tls/index.md
  content/zh/blog/2018/egress-mongo/index.md
  content/zh/docs/tasks/security/authentication/mutual-tls/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/zh/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/zh/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix flaky circuit breaker test
  tests/trafficmanagement/circuitbreaker_test.go
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Allow specifying additional CONTAINER_OPTIONS to help running tests locally
  Makefile.overrides.mk
Owners: @istio/wg-docs-maintainers-infra

Fix flaky circuit breaker test (#7043)
  tests/trafficmanagement/circuitbreaker_test.go
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7076)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
