Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

access log updates for command output, variable names (#6685)
  content/en/docs/tasks/observability/logs/access-log/index.md
Owners: @istio/wg-docs-maintainers-english

Updated guide for Authorization Policy Trust Domain Migration (#6694)
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
Owners: @istio/wg-docs-maintainers-english

Updated guide for Authorization Policy Trust Domain Migration (#6694)
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
Owners: @istio/wg-docs-maintainers-english

last changes. ready to go!
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Add canonical service
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Updates to ExternalName doc (#6664)
  content/en/docs/tasks/traffic-management/egress/egress-kubernetes-services/index.md
Owners: @istio/wg-docs-maintainers-english

Updates to ExternalName doc (#6664)
  content/en/docs/tasks/traffic-management/egress/egress-kubernetes-services/index.md
Owners: @istio/wg-docs-maintainers-english

istio-policy should be merged into istiod, cannnot see it by testing (#6691)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

istio-policy should be merged into istiod, cannnot see it by testing (#6691)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

authz: add task for IP allow list and black list on ingress gateway (#6692)
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
Owners: @istio/wg-docs-maintainers-english

authz: add task for IP allow list and black list on ingress gateway (#6692)
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update authz JWT task (#6693)
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/rbac-groups/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update authz JWT task (#6693)
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/rbac-groups/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Improved Istio Getting Started (#6642)
  .spelling
  content/en/about/contribute/github/index.md
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/microservices-istio/enable-istio-all-microservices/index.md
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/getting-started/kiali-example2.png
Owners: @istio/wg-docs-maintainers-english

Improved Istio Getting Started (#6642)
  .spelling
  content/en/about/contribute/github/index.md
  content/en/docs/examples/bookinfo/index.md
  content/en/docs/examples/microservices-istio/enable-istio-all-microservices/index.md
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/getting-started/kiali-example2.png
Owners: @istio/wg-docs-maintainers-english

Add lint-fast target for local development
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

fixing more linter errors
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

still working on linting
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

addressing Lin's comments
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Aceept GuangmingLuo's suggestion
  content/zh/about/contribute/code-blocks/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix the guide of "Verifying connectivity to Istio Pilot"
  content/en/docs/ops/diagnostic-tools/proxy-cmd/index.md
Owners: @istio/wg-docs-maintainers-english

removing Alpha reference to istioctl analyze
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

last lint errors
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: /about/contribute/code-blocks/index.md #1768 (#6701)
  content/zh/about/contribute/code-blocks/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /about/contribute/code-blocks/index.md #1768 (#6701)
  content/zh/about/contribute/code-blocks/index.md
Owners: @istio/wg-docs-maintainers-chinese

Accept gauliang's suggestion
  content/zh/about/contribute/front-matter/index.md
Owners: @istio/wg-docs-maintainers-chinese

Accept gauliang's suggestion
  content/zh/blog/2020/istio-agent/index.md
  content/zh/blog/2020/multi-cluster-mesh-automation/index.md
Owners: @istio/wg-docs-maintainers-chinese

Add empty profile description
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Fix issues related to OpenShift setup
  content/en/docs/setup/platform-setup/openshift/index.md
  content/pt-br/docs/setup/platform-setup/openshift/index.md
  content/zh/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Add updated profile to the list of istioctl profile list
  content/pt-br/docs/setup/install/istioctl/index.md
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

zh-translation: /about/contribute/formatting/index.md #1769 (#6699)
  content/zh/about/contribute/formatting/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /about/contribute/formatting/index.md #1769 (#6699)
  content/zh/about/contribute/formatting/index.md
Owners: @istio/wg-docs-maintainers-chinese

[WIP] Just a test for CI
  bin/init.sh
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

update the specified version to a variable
  content/en/docs/setup/platform-setup/kubesphere/index.md
Owners: @istio/wg-docs-maintainers-english

Update for 1.5 profiles
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Add 3 new profiles
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/docs/ops/common-problems/validation/index.md
Owners: @istio/wg-docs-maintainers-english

remove helm upgrade
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english
