Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @frankbu, @rcaballeromx, @sdake, @fleeto, @gyliu513, @rootsongjc

CODEOWNERS:

*               @geeknoid
.spelling       @geeknoid @frankbu @rcaballeromx
content/        @geeknoid @sdake @frankbu @rcaballeromx
content_zh/     @geeknoid @fleeto @gyliu513 @rootsongjc @frankbu

requirements for your system -> requirements for a system for egress traffic control
  content/blog/2019/egress-traffic-control-in-istio-part-1/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add links from part 1 to part 2
  content/blog/2019/egress-traffic-control-in-istio-part-1/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Security update.
  content/blog/2019/cve-2019-12243/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Security update. (#4233)
  content/blog/2019/cve-2019-12243/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Security update. (#4233)
  content/blog/2019/cve-2019-12243/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Security update. (#4233)
  content/blog/2019/cve-2019-12243/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Security update. (#4233)
  content/blog/2019/cve-2019-12243/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update 1.1.7 release notes to mention the CVE
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add istio-identity to .spelling
  .spelling
Owners: @geeknoid, @frankbu, @rcaballeromx

Update reference docs.
  content/boilerplates/notes/1.1.1.md
  content/boilerplates/notes/1.1.md
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apache-skywalking/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apigee/index.html
  content/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content_zh/boilerplates/notes/1.1.1.md
  content_zh/boilerplates/notes/1.1.md
  scripts/grab_reference_docs.sh
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Update reference docs. (#4236)
  content/boilerplates/notes/1.1.1.md
  content/boilerplates/notes/1.1.md
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apache-skywalking/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apigee/index.html
  content/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content_zh/boilerplates/notes/1.1.1.md
  content_zh/boilerplates/notes/1.1.md
  scripts/grab_reference_docs.sh
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Update reference docs. (#4236)
  content/boilerplates/notes/1.1.1.md
  content/boilerplates/notes/1.1.md
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apache-skywalking/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apigee/index.html
  content/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content_zh/boilerplates/notes/1.1.1.md
  content_zh/boilerplates/notes/1.1.md
  scripts/grab_reference_docs.sh
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Update reference docs. (#4236)
  content/boilerplates/notes/1.1.1.md
  content/boilerplates/notes/1.1.md
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apache-skywalking/index.html
  content/docs/reference/config/policy-and-telemetry/adapters/apigee/index.html
  content/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content_zh/boilerplates/notes/1.1.1.md
  content_zh/boilerplates/notes/1.1.md
  scripts/grab_reference_docs.sh
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

fix lint
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

zh：what-is-istio (#4194)
  content_zh/docs/concepts/what-is-istio/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：tcp-traffic-shifting (#4185)
  content_zh/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh： authn-policy (#4179)
  content_zh/docs/tasks/security/authn-policy/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

Update 1.1.7 release notes to mention the CVE (#4235)
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update 1.1.7 release notes to mention the CVE (#4235)
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update 1.1.7 release notes to mention the CVE (#4235)
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update 1.1.7 release notes to mention the CVE (#4235)
  content/boilerplates/notes/1.1.7.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update secure naming in security concept page
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Small fix
  content/docs/concepts/security/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update reference docs.
  content/OWNERS
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/operator/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/templates/tracespan/index.html
  content_zh/OWNERS
  scripts/grab_reference_docs.sh
  src/ts/kbdnav.ts
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Update reference docs.
  content/OWNERS
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/operator/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/templates/tracespan/index.html
  content_zh/OWNERS
  scripts/grab_reference_docs.sh
  src/ts/kbdnav.ts
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Update reference docs.
  content/OWNERS
  content/docs/reference/commands/galley/index.html
  content/docs/reference/commands/istio_ca/index.html
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/mixs/index.html
  content/docs/reference/commands/operator/index.html
  content/docs/reference/commands/pilot-agent/index.html
  content/docs/reference/commands/pilot-discovery/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/docs/reference/config/networking/v1alpha3/destination-rule/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/docs/reference/config/policy-and-telemetry/templates/tracespan/index.html
  content_zh/OWNERS
  scripts/grab_reference_docs.sh
  src/ts/kbdnav.ts
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Add a link to a guide for configuring k8s auth method on Vault
  content/docs/tasks/security/vault-ca/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Add a link to a guide for configuring k8s auth method on Vault
  content/docs/tasks/security/vault-ca/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Try to get mergify to handle CLA-related stuff in auto-backport cases.
  .mergify.yml
Owners: @geeknoid

Try to get mergify to handle CLA-related stuff in auto-backport cases.
  .mergify.yml
Owners: @geeknoid

Try to get mergify to handle CLA-related stuff in auto-backport cases.
  .mergify.yml
Owners: @geeknoid

Test mergify.
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Update reference docs again.
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Test mergify. (#4242)
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Test mergify. (#4242)
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Test mergify. (#4242)
  content/docs/reference/commands/istioctl/index.html
  content/docs/reference/commands/sidecar-injector/index.html
  content/docs/reference/config/networking/v1alpha3/virtual-service/index.html
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Another mergify test.
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Another mergify test. (#4243)
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Another mergify test. (#4243)
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Another mergify test. (#4243)
  content/test/boil/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx
