Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

remove mixer references from egress tasks and deprecate where needed
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Remove extraneous file (missing cherry pick from master)
  content/en/docs/reference/config/istio.operator.v1alpha12.pb/index.html
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Refactor TCP Metrics task for telemetry v2
  content/en/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
  content/en/docs/tasks/observability/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Fix spell error
  content/en/docs/tasks/observability/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update telemetry with mixer deprecations in config section (#6700)
  content/en/docs/reference/config/policy-and-telemetry/_index.md
  content/en/docs/reference/config/policy-and-telemetry/adapters/_index.md
  content/en/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/en/docs/reference/config/policy-and-telemetry/mixer-overview/index.md
  content/en/docs/reference/config/telemetry/_index.md
  content/en/docs/reference/config/telemetry/configurable_metrics/index.md
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update telemetry with mixer deprecations in config section (#6700)
  content/en/docs/reference/config/policy-and-telemetry/_index.md
  content/en/docs/reference/config/policy-and-telemetry/adapters/_index.md
  content/en/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
  content/en/docs/reference/config/policy-and-telemetry/mixer-overview/index.md
  content/en/docs/reference/config/telemetry/_index.md
  content/en/docs/reference/config/telemetry/configurable_metrics/index.md
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Blog post to be cherrypicked and published immediately with 1.4 (#6715)
  .spelling
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Blog post to be cherrypicked and published immediately with 1.4 (#6715)
  .spelling
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Fix linter errors
  content/en/docs/examples/microservices-istio/add-istio/index.md
  content/en/docs/examples/microservices-istio/enable-istio-all-microservices/index.md
Owners: @istio/wg-docs-maintainers-english

lint fixes
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
Owners: @istio/wg-docs-maintainers-english

Typos and clarifications
  content/en/docs/examples/microservices-istio/enable-istio-all-microservices/index.md
Owners: @istio/wg-docs-maintainers-english

Blog post to be cherrypicked and published immediately with 1.4 (#6715)
  .spelling
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Blog post to be cherrypicked and published immediately with 1.4 (#6715) (#6736)
  .spelling
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/news/security/istio-security-2020-003/index.md
Owners: @istio/wg-docs-maintainers-english

Early draft for VM updates
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Fix issues related to OpenShift setup (#6721)
  content/en/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english

Fix issues related to OpenShift setup (#6721)
  content/en/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english

fix(architecture): remove mixer mentions from architecture doc (#6731)
  content/en/blog/2019/app-identity-and-access-adapter/index.md
  content/en/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-english

fix(architecture): remove mixer mentions from architecture doc (#6731)
  content/en/blog/2019/app-identity-and-access-adapter/index.md
  content/en/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-english

Add a guide of plugging in CA cert to istiod and update CA documents
  content/en/about/feature-stages/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
  content/en/docs/tasks/security/ca-config/_index.md
  content/en/docs/tasks/security/ca-config/plugin-ca-cert/index.md
  content/en/docs/tasks/security/citadel-config/_index.md
  content/en/docs/tasks/security/citadel-config/auth-sds/index.md
  content/en/docs/tasks/security/citadel-config/ca-namespace-targeting/index.md
  content/en/docs/tasks/security/citadel-config/health-check/index.md
  content/en/news/releases/0.x/announcing-0.5/index.md
  content/en/news/releases/0.x/announcing-0.6/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update the second doc - instead of duplication we should just link
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Remove some details, we should document ACME certs in 1.6
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Add WebAssembly page.
  content/en/docs/concepts/wasm/extending.svg
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

Blog for adding the suport of legacy Kubernetes service accounts
  content/en/blog/2020/support-legacy-service-accounts/index.md
Owners: @istio/wg-docs-maintainers-english

Copy edit pass
  content/en/blog/2020/support-legacy-service-accounts/index.md
Owners: @istio/wg-docs-maintainers-english

Move the blog to announcing-1.5/
  content/en/blog/2020/support-legacy-service-accounts/index.md
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Updating istio/istio dependency
  Makefile
  Makefile.core.mk
  bin/init.sh
  common/.commonfiles.sha
  common/Makefile.common.mk
  go.mod
  go.sum
  tests/examples/bookinfo_test.go
  tests/policies/enabling_policy_enforcement_test.go
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update Observability ops guide to reflect Mixer nature of tasks (#6730)
  content/en/docs/ops/common-problems/observability-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update Observability ops guide to reflect Mixer nature of tasks (#6730)
  content/en/docs/ops/common-problems/observability-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/Makefile.common.mk
Owners: @istio/wg-docs-maintainers-infra

Revisions based on review comments
  content/en/about/feature-stages/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/tasks/security/ca-config/_index.md
  content/en/docs/tasks/security/plugin-ca-cert/index.md
  content/en/news/releases/0.x/announcing-0.5/index.md
Owners: @istio/wg-docs-maintainers-english

Initial attempt at upgrade notice
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Lint and mixer deprecation
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

minor tweaks
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update Mixer notes and add feature gaps
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
