Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

celan up destination rule differences for auto mtls on by default
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

lint fixes
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

Add telemetry v2 with Wasm runtime as experiment feature (#6793)
  content/en/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-english

Add telemetry v2 with Wasm runtime as experiment feature (#6793)
  content/en/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update the change notes for deny and exclude matching (#6798)
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update the change notes for deny and exclude matching (#6798)
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update the change notes for deny and exclude matching
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update TCP task to use tcp-echo (#6797)
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
Owners: @istio/wg-docs-maintainers-english

Traffic Mirror cleanup (#6787)
  content/en/docs/tasks/traffic-management/mirroring/index.md
Owners: @istio/wg-docs-maintainers-english

Traffic Mirror cleanup (#6787)
  content/en/docs/tasks/traffic-management/mirroring/index.md
Owners: @istio/wg-docs-maintainers-english

automtls wording and remove broken sudo command
  content/en/docs/tasks/traffic-management/mirroring/index.md
Owners: @istio/wg-docs-maintainers-english

remove confusing tip regarding auto mtls
  content/en/docs/tasks/traffic-management/mirroring/index.md
Owners: @istio/wg-docs-maintainers-english

[ImgBot] Optimize images
  content/en/docs/concepts/wasm/extending.svg
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
Owners: @istio/wg-docs-maintainers-english

authz: use shorter title in tasks
  content/en/docs/tasks/security/authorization/authz-deny/index.md
  content/en/docs/tasks/security/authorization/authz-http/index.md
  content/en/docs/tasks/security/authorization/authz-ingress/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/authz-tcp/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
Owners: @istio/wg-docs-maintainers-english

remove mtls destination rules, apply patch instead of redeploy
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

[1.5] fixed link in blog post, fixed typo in relnote template (#6792)
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/blog/2020/wasm-announce/index.md
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

[1.5] fixed link in blog post, fixed typo in relnote template (#6792)
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/blog/2020/wasm-announce/index.md
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

fixed link in blog post, fixed typo in relnote template
  content/en/blog/2020/wasm-announce/index.md
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

fixed broken link in roadmap
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

fixing the broken link in my broken link
  content/en/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Remove MTLS DR from Egress Gateway Task (#6800)
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update the change notes for deny and exclude matching (#6801)
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add note on automatic mutual TLS in the upgrade note
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add WebAssembly page. (#6799)
  .spelling
  content/en/docs/concepts/wasm/extending.svg
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Traffic Mirror cleanup (#6802)
  content/en/docs/tasks/traffic-management/mirroring/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] [1.5] fixed link in blog post, fixed typo in relnote template (#6806)
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/blog/2020/wasm-announce/index.md
  layouts/shortcodes/relnote.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

[release-1.5] Add note on automatic mutual TLS in the upgrade note (#6763)
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add note on automatic mutual TLS in the upgrade note (#6763)
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add note on automatic mutual TLS in the upgrade note
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add note on automatic mutual TLS in the upgrade note (#6808)
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Updated / added Kops documentation (#6744)
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

Updated / added Kops documentation (#6744)
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/network-issues/index.md
  content/en/docs/ops/common-problems/network-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6809)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6809)
  Makefile
  common/.commonfiles.sha
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

zh-translation: trade winds 2020
  content/zh/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/zh/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/docs/examples/bookinfo-multicluster/index.md
  content/zh/docs/examples/platform/_index.md
  content/zh/docs/examples/platform/endpoints/index.md
  content/zh/docs/examples/platform/gke/index.md
  content/zh/docs/examples/platform/icp/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: trade winds 2020 (#6745)
  content/zh/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/zh/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/docs/examples/bookinfo-multicluster/index.md
  content/zh/docs/examples/platform/_index.md
  content/zh/docs/examples/platform/endpoints/index.md
  content/zh/docs/examples/platform/gke/index.md
  content/zh/docs/examples/platform/icp/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: trade winds 2020 (#6745)
  content/zh/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/zh/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/docs/examples/bookinfo-multicluster/index.md
  content/zh/docs/examples/platform/_index.md
  content/zh/docs/examples/platform/endpoints/index.md
  content/zh/docs/examples/platform/gke/index.md
  content/zh/docs/examples/platform/icp/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translate:/content/zh/about/contribute/review/index.md (#6746)
  content/zh/about/contribute/build/index.md
  content/zh/about/contribute/review/index.md
Owners: @istio/wg-docs-maintainers-chinese
