Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

[Release-1.5] Update the Installation Options page for Helm (#6750)
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Update the Installation Options page for Helm (#6750)
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links.
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

[ImgBot] Optimize images
  content/en/docs/concepts/security/arch-sec.svg
  content/en/docs/concepts/security/authn.svg
  content/en/docs/concepts/security/authz.svg
  content/en/docs/concepts/security/id-prov.svg
Owners: @istio/wg-docs-maintainers-english

Update generated docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/commands/sidecar-injector/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  content/en/docs/reference/config/security/jwt/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  scripts/grab_reference_docs.sh
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add new security reference docs (#6755)
  content/en/docs/reference/config/security/jwt/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
Owners: @istio/wg-docs-maintainers-english

Add new security reference docs (#6755)
  content/en/docs/reference/config/security/jwt/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Update VM expansion doc (#6743)
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Update VM expansion doc (#6743)
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] remove mixer references from egress tasks and deprecate where needed (#6734)
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] remove mixer references from egress tasks and deprecate where needed (#6734)
  content/en/docs/tasks/traffic-management/egress/egress-control/index.md
  content/en/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Update istioctl manifest cni installation option (#6604)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Update istioctl manifest cni installation option (#6604)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Remove tasks referring to the deprecated tool (#6587)
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Remove tasks referring to the deprecated tool (#6587)
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] upgrade notice (#6551)
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] upgrade notice (#6551)
  .spelling
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update security feature stages. (#6740)
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

Update security feature stages. (#6740)
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

Extensibility
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

Fix typo.
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

Add missing word to the spelling dictionary.
  .spelling
Owners: @istio/wg-docs-maintainers-english

updating to 1.5
  data/versions.yml
  scripts/build_archive_site.sh
Owners: @istio/wg-docs-maintainers-infra

v1.5
  data/versions.yml
  scripts/build_archive_site.sh
Owners: @istio/wg-docs-maintainers-infra

v1.5 (#6760)
  data/versions.yml
  scripts/build_archive_site.sh
Owners: @istio/wg-docs-maintainers-infra

v1.5 (#6760)
  data/versions.yml
  scripts/build_archive_site.sh
Owners: @istio/wg-docs-maintainers-infra

v1.5
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

v1.5 (#6761)
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

Remove trailing whitespace.
  content/en/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Draft upgrade note for new authn
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Address comment
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix link
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

add doc to enable telemetry v2 with WebAssembly
  content/en/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-english

nit
  content/en/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-english

hard code the link to 1.5
  content/en/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-english

Update _index.md
  content/en/news/releases/1.5.x/_index.md
Owners: @istio/wg-docs-maintainers-english

Update _index.md (#6765)
  content/en/news/releases/1.5.x/_index.md
Owners: @istio/wg-docs-maintainers-english

v1.5
  config.toml
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
