Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Fix privildeged (#7023)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

improvements
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/galley/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/apache-skywalking/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  content/en/docs/reference/config/security/istio.rbac.v1alpha1/index.html
Owners: @istio/wg-docs-maintainers-english

fix lint error
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

Apply suggestions from code review
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Add documentation on Ingress support (#7012)
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

improvements
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Add documentation on Ingress support
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Suppress brittle link warnings
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

tweak
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7030)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Remove GKE v1.11.x instructions
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: add content/zh/docs/ops/integrations
  content/zh/docs/ops/integrations/_index.md
  content/zh/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-chinese

Suppress brittle link warnings (#7028)
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Initial documentation on Multiple Control Planes
  content/en/blog/2020/multiple-control-planes/index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Remove GKE v1.11.x instructions (#7031)
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Remove GKE v1.11.x instructions
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Remove GKE v1.11.x instructions (#7036)
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Updates to fix automated doc changes
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/concepts/security/index.md
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/en/news/releases/1.3.x/announcing-1.3.8/index.md
  content/en/news/releases/1.4.x/announcing-1.4.4/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/security/istio-security-2020-001/index.md
Owners: @istio/wg-docs-maintainers-english

Typo
  content/en/blog/2020/multiple-control-planes/index.md
Owners: @istio/wg-docs-maintainers-english

Minor edits
  content/en/blog/2020/multiple-control-planes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/blog/2020/multiple-control-planes/index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs (#6976)
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/concepts/security/index.md
  content/en/docs/reference/commands/galley/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/policy-and-telemetry/adapters/apache-skywalking/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  content/en/docs/reference/config/security/istio.rbac.v1alpha1/index.html
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/en/news/releases/1.3.x/announcing-1.3.8/index.md
  content/en/news/releases/1.4.x/announcing-1.4.4/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/security/istio-security-2020-001/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: add content/zh/docs/ops/integrations (#7033)
  content/zh/docs/ops/integrations/_index.md
  content/zh/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation:/docs/concepts/security/index.md (#6982)
  content/zh/docs/concepts/security/arch-sec.svg
  content/zh/docs/concepts/security/architecture.svg
  content/zh/docs/concepts/security/auth.svg
  content/zh/docs/concepts/security/authn.svg
  content/zh/docs/concepts/security/authz.svg
  content/zh/docs/concepts/security/id-prov.svg
  content/zh/docs/concepts/security/index.md
  content/zh/docs/concepts/security/node_agent.svg
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/traffic-management/ingress/ingress-certmgr/index.md
  content/zh/docs/tasks/traffic-management/ingress/ingress-certmgr/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/traffic-management/ingress/ingress-certmgr/index.md (#7005)
  content/zh/docs/tasks/traffic-management/ingress/ingress-certmgr/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/zh/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: move and update /docs/tasks/security/plugin-ca-cert/index.md
  content/zh/about/feature-stages/index.md
  content/zh/blog/2020/istiod/index.md
  content/zh/docs/examples/virtual-machines/multi-network/index.md
  content/zh/docs/examples/virtual-machines/single-network/index.md
  content/zh/docs/setup/install/multicluster/gateways/index.md
  content/zh/docs/setup/install/multicluster/shared-vpn/index.md
  content/zh/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
  content/zh/docs/tasks/security/plugin-ca-cert/index.md
  content/zh/news/releases/0.x/announcing-0.5/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: move and update /docs/tasks/security/plugin-ca-cert/index.md (#7037)
  content/zh/about/feature-stages/index.md
  content/zh/blog/2020/istiod/index.md
  content/zh/docs/examples/virtual-machines/multi-network/index.md
  content/zh/docs/examples/virtual-machines/single-network/index.md
  content/zh/docs/setup/install/multicluster/gateways/index.md
  content/zh/docs/setup/install/multicluster/shared-vpn/index.md
  content/zh/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
  content/zh/docs/tasks/security/plugin-ca-cert/index.md
  content/zh/news/releases/0.x/announcing-0.5/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update base64 -d to --decode
  content/en/docs/setup/platform-setup/kind/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation concepts/security/index.md to 1.5
  content/zh/docs/concepts/security/arch-sec.svg
  content/zh/docs/concepts/security/authn.svg
  content/zh/docs/concepts/security/authz.svg
  content/zh/docs/concepts/security/id-prov.svg
  content/zh/docs/concepts/security/index.md
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/security/citadel-config/health-check/index.md
  content/zh/docs/tasks/security/citadel-config/health-check/index.md
  content/zh/news/releases/0.x/announcing-0.6/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/security/citadel-config/health-check/index.md (#7042)
  content/zh/docs/tasks/security/citadel-config/health-check/index.md
  content/zh/news/releases/0.x/announcing-0.6/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix additional -d to --decode change
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Generate test snippets from md POC
  content/en/docs/tasks/security/authentication/authn-policy/authn-policy_snip.txt
  content/en/docs/tasks/security/authentication/authn-policy/index.md
  content/en/docs/tasks/traffic-management/traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/traffic-shifting/traffic-shifting_snip.txt
  scripts/snip.py
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
