Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

[release-1.5] Add WASM blog (#6773)
  .spelling
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Backport script fixes
  src/ts/sidebar.ts
Owners: @istio/wg-docs-maintainers-infra

Backport script fixes (#6775)
  src/ts/sidebar.ts
Owners: @istio/wg-docs-maintainers-infra

Backport script fixes
  src/ts/sidebar.ts
Owners: @istio/wg-docs-maintainers-infra

Backport script fixes
  src/ts/sidebar.ts
Owners: @istio/wg-docs-maintainers-infra

add new blog to zh/blog/2020/
  content/zh/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/zh/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix build err
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix build in /content/zh/about/contribute/build/index.md
  content/zh/about/contribute/build/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation-1799
  content/zh/docs/reference/config/istio.operator.v1alpha1/index.html
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-chinese

simplified docs
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

Fix operator image
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Fix: lint errors
  content/zh/about/contribute/build/index.md
Owners: @istio/wg-docs-maintainers-chinese

Add 1.6.x to spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

fix deployment-models lint error
  content/zh/docs/ops/deployment/deployment-models/index.md
Owners: @istio/wg-docs-maintainers-chinese

remove errant period
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Add link to Wasm post
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Fix some broken links with sidecar/tls-check being removed
  content/en/docs/ops/common-problems/network-issues/index.md
  content/en/news/releases/1.0.x/announcing-1.0/index.md
  content/en/news/releases/1.3.x/announcing-1.3/change-notes/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken html.
  content/en/_index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken html
  content/en/_index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken html
  content/_index.md
Owners: @istio/wg-docs-maintainers-infra

Fix broken html
  content/_index.md
Owners: @istio/wg-docs-maintainers-infra

Fix broken html
  content/_index.md
Owners: @istio/wg-docs-maintainers-infra

Fix links pointing to install/kubernetes/helm/...
  content/en/docs/ops/common-problems/network-issues/index.md
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/faq/metrics-and-logs/prometheus-application-metrics.md
  content/pt-br/docs/ops/common-problems/observability-issues/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/pt-br/docs/setup/install/helm/index.md
  content/pt-br/faq/metrics-and-logs/prometheus-application-metrics.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/zh/docs/examples/platform/gke/index.md
  content/zh/docs/ops/common-problems/observability-issues/index.md
  content/zh/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/zh/docs/setup/install/helm/index.md
  content/zh/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/zh/faq/metrics-and-logs/prometheus-application-metrics.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Fix bug requiring placeholder release notes.
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
  layouts/_default/baseof.html
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

zh-translate:change-notes
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

Updated links to zh folder.
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

Incorporate #6783 - Fix bug requiring placeholder release notes
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/upgrade-notes/index.md
  content/pt-br/news/releases/1.6.x/_index.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/_index.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/upgrade-notes/index.md
  content/zh/news/releases/1.6.x/_index.md
  content/zh/news/releases/1.6.x/announcing-1.6/_index.md
  content/zh/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/zh/news/releases/1.6.x/announcing-1.6/upgrade-notes/index.md
  layouts/_default/baseof.html
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Restore some links to archive
  content/en/news/releases/1.0.x/announcing-1.0/index.md
  content/en/news/releases/1.3.x/announcing-1.3/_index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix one remainging link to archive
  content/en/news/releases/1.3.x/announcing-1.3/_index.md
  content/en/news/releases/1.3.x/announcing-1.3/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Someone still pointing to current release upgrade notes. Remove.
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/pt-br/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/zh/docs/setup/upgrade/cni-helm-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Fix operator image (#6785)
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

More base release 1.6 stuff - Get pipeline working again (#6769)
  .spelling
  content/en/docs/ops/common-problems/network-issues/index.md
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/faq/metrics-and-logs/prometheus-application-metrics.md
  content/en/news/releases/1.0.x/announcing-1.0/index.md
  content/en/news/releases/1.3.x/announcing-1.3/change-notes/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
  content/pt-br/docs/ops/common-problems/observability-issues/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/pt-br/docs/setup/install/helm/index.md
  content/pt-br/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/pt-br/faq/metrics-and-logs/prometheus-application-metrics.md
  content/zh/docs/examples/platform/gke/index.md
  content/zh/docs/ops/common-problems/observability-issues/index.md
  content/zh/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/zh/docs/setup/install/helm/index.md
  content/zh/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/zh/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/zh/faq/metrics-and-logs/prometheus-application-metrics.md
  layouts/_default/baseof.html
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

More base release 1.6 stuff - Get pipeline working again (#6769)
  .spelling
  content/en/docs/ops/common-problems/network-issues/index.md
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/faq/metrics-and-logs/prometheus-application-metrics.md
  content/en/news/releases/1.0.x/announcing-1.0/index.md
  content/en/news/releases/1.3.x/announcing-1.3/change-notes/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
  content/pt-br/docs/ops/common-problems/observability-issues/index.md
  content/pt-br/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/pt-br/docs/setup/install/helm/index.md
  content/pt-br/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/pt-br/faq/metrics-and-logs/prometheus-application-metrics.md
  content/zh/docs/examples/platform/gke/index.md
  content/zh/docs/ops/common-problems/observability-issues/index.md
  content/zh/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/zh/docs/setup/install/helm/index.md
  content/zh/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/zh/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content/zh/faq/metrics-and-logs/prometheus-application-metrics.md
  layouts/_default/baseof.html
  layouts/partials/events.html
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

automtls wording and remove broken sudo command
  content/en/docs/tasks/traffic-management/mirroring/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] [Release-1.5] Delete auto-mTLS task (#6772)
  content/en/about/feature-stages/index.md
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/docs/tasks/security/authentication/auto-mtls/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix(telemetry): add deprecation notices to Mixer tasks (#6635)
  content/en/docs/tasks/observability/gateways/index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/logs/_index.md
  content/en/docs/tasks/observability/mixer/logs/collecting-logs/index.md
  content/en/docs/tasks/observability/mixer/logs/fluentd/index.md
  content/en/docs/tasks/observability/mixer/metrics/_index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix(telemetry): add deprecation notices to Mixer tasks (#6635)
  content/en/docs/tasks/observability/gateways/index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/logs/_index.md
  content/en/docs/tasks/observability/mixer/logs/collecting-logs/index.md
  content/en/docs/tasks/observability/mixer/logs/fluentd/index.md
  content/en/docs/tasks/observability/mixer/metrics/_index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Add link to Wasm post (#6784)
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

Add link to Wasm post (#6784)
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-english

fix(telemetry): add deprecation notices to Mixer tasks
  content/en/docs/tasks/observability/gateways/index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
  content/en/docs/tasks/observability/metrics/using-istio-dashboard/index.md
  content/en/docs/tasks/observability/mixer/_index.md
  content/en/docs/tasks/observability/mixer/logs/_index.md
  content/en/docs/tasks/observability/mixer/logs/collecting-logs/index.md
  content/en/docs/tasks/observability/mixer/logs/fluentd/index.md
  content/en/docs/tasks/observability/mixer/metrics/_index.md
  content/en/docs/tasks/observability/mixer/metrics/collecting-metrics/index.md
  content/en/docs/tasks/observability/mixer/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
