Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

remove mtls destination rules, apply patch instead of redeploy (#6827)
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
Owners: @istio/wg-docs-maintainers-english

replace Citadel with Istio CA (#6825)
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

networking issue section update: disclaimer about auto mtls and remove authn check. (#6796)
  content/en/docs/ops/common-problems/network-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#6814)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/run.sh
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Manual Cherypick of #6796
  content/en/docs/ops/common-problems/network-issues/index.md
Owners: @istio/wg-docs-maintainers-english

cacerts secret to replace with istio-ca-secret
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

update
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Add lint-fast target for local development (#6718)
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Manual Cherypick of #6796 (#6828)
  content/en/docs/ops/common-problems/network-issues/index.md
Owners: @istio/wg-docs-maintainers-english

cacerts secret to replace with istio-ca-secret (#6829)
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Add missing quote
  content/en/docs/reference/config/networking/virtual-service/index.html
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6832)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

fix label name for telemetry v2
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

review edits
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

fix some lint issues
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

remove drop-shadows
  content/en/docs/ops/best-practices/observability/production-prometheus.svg
Owners: @istio/wg-docs-maintainers-english

feat(observability): add best practices guide
  content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/production-prometheus.svg
Owners: @istio/wg-docs-maintainers-english

refactor to appease the spellcheck process
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

update spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

update
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: fix some format errors (#6817)
  content/zh/blog/2019/evolving-istios-apis/index.md
  content/zh/docs/ops/best-practices/traffic-management/index.md
  content/zh/docs/ops/deployment/deployment-models/index.md
  content/zh/faq/general/what-deployment-environment.md
  content/zh/faq/general/what-is-istio.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

gke firewall ports
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

remove old pilot port from gke setup tip
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation:/docs/setup/install/istioctl/index.md (#6780)
  content/zh/docs/ops/deployment/deployment-models/index.md
  content/zh/docs/reference/config/istio.operator.v1alpha1/index.html
  content/zh/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: add new blog 2020 wasm-announce (#6812)
  content/zh/blog/2020/wasm-announce/index.md
  content/zh/docs/reference/config/telemetry/_index.md
  content/zh/docs/reference/config/telemetry/configurable_metrics/index.md
  content/zh/docs/reference/config/telemetry/metrics/index.md
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

add new blog 'wasm-announce/index.md' in 2020 to zh/blog/2020/
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

add /docs/reference/config/telemetry/metrics/
  content/zh/blog/2020/wasm-announce/index.md
  content/zh/docs/reference/config/telemetry/_index.md
  content/zh/docs/reference/config/telemetry/configurable_metrics/index.md
  content/zh/docs/reference/config/telemetry/metrics/index.md
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix url error
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master (#6833)
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

zh-translation-/blog/2020/wasm-announce/
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix style
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

Revert "cacerts secret to replace with istio-ca-secret (#6829)"
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
