Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Update for 1.5 profiles (#6547)
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Update for 1.5 profiles (#6547)
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Reweight platform pages
  content/en/docs/setup/platform-setup/MicroK8s/index.md
  content/en/docs/setup/platform-setup/alicloud/index.md
  content/en/docs/setup/platform-setup/azure/index.md
  content/en/docs/setup/platform-setup/docker/index.md
  content/en/docs/setup/platform-setup/gardener/index.md
  content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/ibm/index.md
  content/en/docs/setup/platform-setup/kind/index.md
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/docs/setup/platform-setup/minikube/index.md
  content/en/docs/setup/platform-setup/oci/index.md
  content/en/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english

Reweight platform pages (#6747)
  content/en/docs/setup/platform-setup/MicroK8s/index.md
  content/en/docs/setup/platform-setup/alicloud/index.md
  content/en/docs/setup/platform-setup/azure/index.md
  content/en/docs/setup/platform-setup/docker/index.md
  content/en/docs/setup/platform-setup/gardener/index.md
  content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/ibm/index.md
  content/en/docs/setup/platform-setup/kind/index.md
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/docs/setup/platform-setup/minikube/index.md
  content/en/docs/setup/platform-setup/oci/index.md
  content/en/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english

Reweight platform pages (#6747)
  content/en/docs/setup/platform-setup/MicroK8s/index.md
  content/en/docs/setup/platform-setup/alicloud/index.md
  content/en/docs/setup/platform-setup/azure/index.md
  content/en/docs/setup/platform-setup/docker/index.md
  content/en/docs/setup/platform-setup/gardener/index.md
  content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/ibm/index.md
  content/en/docs/setup/platform-setup/kind/index.md
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/docs/setup/platform-setup/minikube/index.md
  content/en/docs/setup/platform-setup/oci/index.md
  content/en/docs/setup/platform-setup/openshift/index.md
Owners: @istio/wg-docs-maintainers-english

changed to weight 33
  content/en/docs/setup/platform-setup/kops/index.md
Owners: @istio/wg-docs-maintainers-english

make update_ref_docs against release_1.5 (#6732)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/commands/sidecar-injector/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

make update_ref_docs against release_1.5 (#6732)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/commands/sidecar-injector/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

remove helm upgrade (#6725)
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

remove helm upgrade (#6725)
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update architecture diagram to show istiod. (#6711)
  content/en/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english

Update architecture diagram to show istiod. (#6711)
  content/en/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english

Expected output includes error message if pod outside mesh
  content/en/docs/ops/diagnostic-tools/istioctl-describe/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Refactor TCP Metrics task for telemetry v2 (#6540)
  content/en/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
  content/en/docs/tasks/observability/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Refactor TCP Metrics task for telemetry v2 (#6540)
  content/en/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
  content/en/docs/tasks/observability/metrics/tcp-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Add a guide of plugging in CA cert to istiod and update CA documents (#6644)
  content/en/about/feature-stages/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
  content/en/docs/tasks/security/citadel-config/_index.md
  content/en/docs/tasks/security/citadel-config/auth-sds/index.md
  content/en/docs/tasks/security/citadel-config/ca-namespace-targeting/index.md
  content/en/docs/tasks/security/citadel-config/health-check/index.md
  content/en/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
  content/en/docs/tasks/security/plugin-ca-cert/index.md
  content/en/news/releases/0.x/announcing-0.5/index.md
  content/en/news/releases/0.x/announcing-0.6/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add a guide of plugging in CA cert to istiod and update CA documents (#6644)
  content/en/about/feature-stages/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/tasks/security/authorization/authz-td-migration/index.md
  content/en/docs/tasks/security/citadel-config/_index.md
  content/en/docs/tasks/security/citadel-config/auth-sds/index.md
  content/en/docs/tasks/security/citadel-config/ca-namespace-targeting/index.md
  content/en/docs/tasks/security/citadel-config/health-check/index.md
  content/en/docs/tasks/security/citadel-config/plugin-ca-cert/index.md
  content/en/docs/tasks/security/plugin-ca-cert/index.md
  content/en/news/releases/0.x/announcing-0.5/index.md
  content/en/news/releases/0.x/announcing-0.6/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix cleanup section as well
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
  content/en/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Update the Installation Options page for Helm
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

[ImgBot] Optimize images (#6505)
  content/en/docs/setup/platform-setup/docker/dockerprefs.png
  content/pt-br/docs/setup/platform-setup/docker/dockerprefs.png
  content/zh/docs/setup/platform-setup/docker/dockerprefs.png
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

[ImgBot] Optimize images (#6505)
  content/en/docs/setup/platform-setup/docker/dockerprefs.png
  content/pt-br/docs/setup/platform-setup/docker/dockerprefs.png
  content/zh/docs/setup/platform-setup/docker/dockerprefs.png
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

[ImgBot] Optimize images
  content/en/blog/2020/istio-agent/istio_agent.svg
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/docs/concepts/security/node_agent.svg
  content/en/docs/ops/deployment/architecture/arch.svg
  content/en/docs/ops/deployment/performance-and-scalability/latency_p90.svg
  content/en/docs/ops/deployment/performance-and-scalability/latency_p99.svg
  content/en/docs/setup/getting-started/kiali-example2.png
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result_graphical.png
  content/en/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
  content/zh/blog/2020/istio-agent/istio_agent.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

[ImgBot] Optimize images (#6752)
  content/en/blog/2020/istio-agent/istio_agent.svg
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/docs/concepts/security/node_agent.svg
  content/en/docs/ops/deployment/architecture/arch.svg
  content/en/docs/ops/deployment/performance-and-scalability/latency_p90.svg
  content/en/docs/ops/deployment/performance-and-scalability/latency_p99.svg
  content/en/docs/setup/getting-started/kiali-example2.png
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result_graphical.png
  content/en/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
  content/zh/blog/2020/istio-agent/istio_agent.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

[ImgBot] Optimize images (#6752)
  content/en/blog/2020/istio-agent/istio_agent.svg
  content/en/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/en/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/en/docs/concepts/security/node_agent.svg
  content/en/docs/ops/deployment/architecture/arch.svg
  content/en/docs/ops/deployment/performance-and-scalability/latency_p90.svg
  content/en/docs/ops/deployment/performance-and-scalability/latency_p99.svg
  content/en/docs/setup/getting-started/kiali-example2.png
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result_graphical.png
  content/en/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
  content/zh/blog/2020/istio-agent/istio_agent.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Remove extra profile
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fixed linter issue
  content/en/docs/reference/config/installation-options/index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken list.
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Fix broken PKI link.
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Fix Identity section to use workload terminology.
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Fix confusing wording.
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english
