Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

another typo fixed
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

fix typo in block text
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

some lint-fast fixes
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

initial draft
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

addressing linter issues
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

Correcting front matter lint issues
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

Adding Nifi to spellchecker
  .spelling
Owners: @istio/wg-docs-maintainers-english

use ingress IP
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix compare
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

cleanup doc
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

curl 20 times
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
Owners: @istio/wg-docs-maintainers-english

remove flaky verify call
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Unify virtual machine documented examples
  content/en/docs/examples/virtual-machines/bookinfo/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Cleanup and fix TCP traffic routing test (#7265)
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix path
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

regen
  content/en/docs/tasks/traffic-management/ingress/ingress-control/snips.sh
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/proxy_extensions/attributegen/index.html
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7247)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/proxy_extensions/attributegen/index.html
Owners: @istio/wg-docs-maintainers-english

Add preview profile
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Updates for galley to istiod
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english

More doc testing (#7253)
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-control/snips.sh
  tests/README.md
  tests/trafficmanagement/ingress/ingress_control_test.go
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add preview profile (#7268)
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update formatting
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update circuit breaker docs
  content/en/docs/tasks/traffic-management/circuit-breaking/index.md
Owners: @istio/wg-docs-maintainers-english

Add Signal Sciences to partner page
  content/en/about/community/partners/index.md
Owners: @istio/wg-docs-maintainers-english

Upgrade notes for 1.6
  content/en/news/releases/1.6.x/index.md
Owners: @istio/wg-docs-maintainers-english

Trivial grammar error fix
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Updates
  content/en/news/releases/1.6.x/index.md
Owners: @istio/wg-docs-maintainers-english

Add --all-namespace flag to istioctl analyze
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english

Stop recommending bleeding edge istioctl analyzers
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english

Add istioctl analyze to Getting Started
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.6.x/index.md
  content/en/news/releases/1.6.x/index.md
Owners: @istio/wg-docs-maintainers-english

Fix external charts
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Add architecture diagram to what-is-istio page
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Updated to fix linter issues
  content/en/news/releases/1.6.x/index.md
Owners: @istio/wg-docs-maintainers-english

Add release notes for Istio 1.5.3 and Istio 1.4.9
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.9/index.md
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
  content/en/news/security/istio-security-2020-005/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add release notes for Istio 1.5.3 and Istio 1.4.9 (#7285)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.9/index.md
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
  content/en/news/security/istio-security-2020-005/index.md
  data/args.yml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english
