Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Lint
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Add instructions for gateway customization
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

[master] Add instructions for gateway customization (#6975)
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/setup/upgrade/istioctl-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

sync image with en (#6966)
  content/zh/about/community/customers/inspurcloud.png
  content/zh/about/community/customers/toss.svg
  content/zh/about/community/partners/daocloud.svg
  content/zh/about/community/partners/kubesphere.svg
  content/zh/about/community/partners/layer5.svg
  content/zh/about/community/partners/solo.png
  content/zh/blog/2020/tradewinds-2020/architecture-post-istiod.svg
  content/zh/blog/2020/tradewinds-2020/architecture-pre-istiod.svg
  content/zh/docs/concepts/security/arch-sec.svg
  content/zh/docs/concepts/security/authn.svg
  content/zh/docs/concepts/security/authz.svg
  content/zh/docs/concepts/security/id-prov.svg
  content/zh/docs/examples/microservices-istio/bookinfo-kubernetes/bookinfo.png
  content/zh/docs/examples/microservices-istio/production-testing/bookinfo-details-unavailable.png
  content/zh/docs/ops/deployment/performance-and-scalability/latency_p90.svg
  content/zh/docs/ops/deployment/performance-and-scalability/latency_p99.svg
  content/zh/docs/setup/getting-started/kiali-example2.png
  content/zh/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result.png
  content/zh/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result_graphical.png
  content/zh/docs/tasks/observability/metrics/tcp-metrics/alpn-based-tunneling-protocol.svg
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /faq/security/check-policy.md /events/banners/kubecon-europe-2020.md /docs/tasks/security/webhook/index.md
  content/zh/blog/2019/webhook/index.md
  content/zh/docs/tasks/security/webhook/index.md
  content/zh/events/banners/kubecon-europe-2020.md
  content/zh/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /faq/security/check-policy.md /events/banners/kubecon-europe-2020.md /docs/tasks/security/webhook/index.md (#6977)
  content/zh/blog/2019/webhook/index.md
  content/zh/docs/tasks/security/webhook/index.md
  content/zh/events/banners/kubecon-europe-2020.md
  content/zh/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-chinese

authentication
  content/en/docs/concepts/security/index.md
  content/zh/docs/concepts/security/index.md
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

done v1
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-chinese

Remove static operator yaml files
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator-profile-default.yaml
  static/operator-profile-demo-auth.yaml
  static/operator-profile-demo.yaml
  static/operator-profile-minimal.yaml
  static/operator-profile-sds.yaml
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

missing prereq
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

fix
  content/zh/docs/concepts/security/architecture.svg
  content/zh/docs/concepts/security/auth.svg
  content/zh/docs/concepts/security/index.md
  content/zh/docs/concepts/security/node_agent.svg
Owners: @istio/wg-docs-maintainers-chinese

Remove static operator yaml files (#6981)
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator-profile-default.yaml
  static/operator-profile-demo-auth.yaml
  static/operator-profile-demo.yaml
  static/operator-profile-minimal.yaml
  static/operator-profile-sds.yaml
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Manual cherry-pick of #6981
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator-profile-default.yaml
  static/operator-profile-demo-auth.yaml
  static/operator-profile-demo.yaml
  static/operator-profile-minimal.yaml
  static/operator-profile-sds.yaml
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Remove operator yaml experiment
  Makefile.core.mk
  scripts/grab_operator_yamls.sh
  static/operator-profile-default.yaml
  static/operator-profile-demo-auth.yaml
  static/operator-profile-demo.yaml
  static/operator-profile-minimal.yaml
  static/operator-profile-sds.yaml
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english

Manual cherry-pick of #6981 (#6984)
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator-profile-default.yaml
  static/operator-profile-demo-auth.yaml
  static/operator-profile-demo.yaml
  static/operator-profile-minimal.yaml
  static/operator-profile-sds.yaml
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Improve operator helm instruction
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

download -> install
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Remove operator yaml experiment (#6985)
  Makefile.core.mk
  scripts/grab_operator_yamls.sh
Owners: @istio/wg-docs-maintainers-infra

Remove operator yaml experiment
  Makefile.core.mk
  scripts/grab_operator_yamls.sh
Owners: @istio/wg-docs-maintainers-infra

Remove operator yaml experiment (#6988)
  Makefile.core.mk
  scripts/grab_operator_yamls.sh
Owners: @istio/wg-docs-maintainers-infra

Clarify improvement in master/1.5.1
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Fix privileged flag.
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: remove /faq/security/check-policy.md /events/banners/kubecon-europe-2020.md /docs/tasks/security/webhook/index.md
  content/zh/blog/2019/webhook/index.md
  content/zh/docs/tasks/security/webhook/index.md
  content/zh/events/banners/kubecon-europe-2020.md
  content/zh/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-chinese

Add test for Authorization for TCP traffic
  go.mod
  go.sum
  tests/common/scripts/bookinfo-cleanup.txt
  tests/common/scripts/bookinfo.txt
  tests/security/authz_tcp_traffic_test.go
  tests/security/scripts/authz_tcp_traffic.txt
  tests/security/scripts/authz_tcp_traffic_cleanup.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update comment for the snippet
  tests/common/scripts/bookinfo.txt
  tests/security/scripts/authz_tcp_traffic.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update base64 command with -D flag
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Clarify improvement in master/1.5.1 (#6990)
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Clarify improvement in master/1.5.1
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Copy iop-integration-test-defaults file from istio
  .gitignore
  bin/init.sh
Owners: @istio/wg-docs-maintainers-infra

Update to the latest istio/istio
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

Fix privildeged
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Clarify improvement in master/1.5.1 (#6995)
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Improve operator helm instruction (#6987)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Improve operator helm instruction
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

download -> install
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

[master] Improve operator helm instruction (#6998)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

remove v1alpha1 RBAC page
  content/en/blog/2018/istio-authorization/index.md
  content/en/docs/reference/config/security/conditions/index.md
  content/en/docs/reference/config/security/constraints-and-properties/index.md
Owners: @istio/wg-docs-maintainers-english

remove v1alpha1 RBAC page (#6989)
  content/en/blog/2018/istio-authorization/index.md
  content/en/docs/reference/config/security/conditions/index.md
  content/en/docs/reference/config/security/constraints-and-properties/index.md
Owners: @istio/wg-docs-maintainers-english
