Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

fix issues
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

remove blank lines
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update footer Z-index
  src/sass/base/_constants.scss
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@master reference docs
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/index.html
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/en/docs/reference/config/security/istio.rbac.v1alpha1/index.html
  content/en/docs/reference/config/security/jwt/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
Owners: @istio/wg-docs-maintainers-english

zh-translate: /docs/concepts/wasm (#6913)
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translate: /docs/concepts/wasm
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix issues
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix issues
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix issues
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

[release-1.5] zh-translate: /docs/concepts/wasm (#6945)
  content/zh/docs/concepts/wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update istio arch image in the Chinese doc (#6929)
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-chinese

Update _index.md (#6930)
  content/zh/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-chinese

修正lint格式
  content/zh/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-chinese

Minor changes to replicated control plane doc (#6935)
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Add $ to CLUSTER2_GW_ADDR per review
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Minor changes to replicated control plane doc
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Replace Citadel with Istio CA
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Update footer Z-index (#6944)
  src/sass/base/_constants.scss
Owners: @istio/wg-docs-maintainers-infra

Update content/zh/blog/2020/istiod/index.md
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/zh/blog/2020/istiod/index.md
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/zh/blog/2020/istiod/index.md
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update footer Z-index
  src/sass/base/_constants.scss
Owners: @istio/wg-docs-maintainers-infra

Apply suggestions from code review
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs (#6942)
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/index.html
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/en/docs/reference/config/security/istio.rbac.v1alpha1/index.html
  content/en/docs/reference/config/security/jwt/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
Owners: @istio/wg-docs-maintainers-english

修改文章并添加锚点
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

fixed some minor language/markdown
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

修改描述文字
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

[release-1.5] Minor changes to replicated control plane doc (#6946)
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Incorporate feedback into shared control plane docs (#6934)
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/zh/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update footer Z-index (#6947)
  src/sass/base/_constants.scss
Owners: @istio/wg-docs-maintainers-infra

Minor cleanup fixups
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

fix possible issue with lint; thanks @ericvn
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

update multicluster shared control plane docs (#6843)
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/setup/install/multicluster/shared/diagram.svg
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/multicluster-with-vpn.svg
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Incorporate feedback into shared control plane docs (#6934)
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Minor cleanup fixups (#6948)
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

create blog post for webassembly hub + Istio; one more try (#6933)
  .spelling
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

create blog post for webassembly hub + Istio; in place of #6885
  .spelling
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

fix possible issue with lint; thanks @ericvn
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

fixed some minor language/markdown
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
