Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Update content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/authorization/authz-jwt/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

trans glossary/istiod.md
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

fix zh punctuation
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

remove backslash
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
Owners: @istio/wg-docs-maintainers-english

Update sed to include space before boolen value
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: remove /docs/tasks/security/citadel-config/ca-namespace-targeting/index.md
  content/zh/docs/tasks/security/citadel-config/ca-namespace-targeting/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: remove /docs/tasks/security/citadel-config/ca-namespace-targeting/index.md (#7045)
  content/zh/docs/tasks/security/citadel-config/ca-namespace-targeting/index.md
Owners: @istio/wg-docs-maintainers-chinese

Run examples tests under the demo profile
  tests/examples/bookinfo_test.go
  tests/examples/main_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update base64 -d to --decode (#7039)
  content/en/docs/setup/platform-setup/kind/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Update base64 -d to --decode
  content/en/docs/setup/platform-setup/kind/index.md
Owners: @istio/wg-docs-maintainers-english

Fix additional -d to --decode change
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Update sed to include space before boolen value (#7038)
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
Owners: @istio/wg-docs-maintainers-english

remove backslash
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
Owners: @istio/wg-docs-maintainers-english

Update sed to include space before boolen value
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
Owners: @istio/wg-docs-maintainers-english

Learn more about Istiod
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

[release-1.5] Update sed to include space before boolen value (#7048)
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation:concepts/security/index.md (#7041)
  content/zh/docs/concepts/security/arch-sec.svg
  content/zh/docs/concepts/security/authn.svg
  content/zh/docs/concepts/security/authz.svg
  content/zh/docs/concepts/security/id-prov.svg
  content/zh/docs/concepts/security/index.md
  content/zh/docs/reference/glossary/istiod.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Owners: @istio/wg-docs-maintainers-infra

[release-1.5] Update base64 -d to --decode (#7047)
  content/en/docs/setup/platform-setup/kind/index.md
  content/en/docs/tasks/security/authorization/authz-jwt/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7049)
  common/.commonfiles.sha
  common/config/license-lint.yml
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7050)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Remove Aporeto as a partner. The were bought by Palo Alto Networks and I can't find anything to redirect to.
  content/en/about/community/partners/aporeto.svg
  content/en/about/community/partners/index.md
Owners: @istio/wg-docs-maintainers-english

Document app protocol
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

fixes
  content/en/docs/tasks/security/authentication/authn-policy/authn-policy_snip.txt
  content/en/docs/tasks/traffic-management/traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/traffic-shifting/traffic-shifting_snip.txt
  scripts/snip.py
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Frank's suggestions
  content/en/blog/2020/multiple-control-planes/index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

fix python lint
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-infra

fix snip source
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix lint
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

uniform tracing header format
  content/en/faq/distributed-tracing/how-to-support-tracing.md
  content/zh/faq/distributed-tracing/how-to-support-tracing.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

shouldn't this be istioctl, not kubectl ?
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

fix text yaml indent in docs/concepts/security
  content/en/docs/concepts/security/index.md
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Document app protocol (#7052)
  content/en/docs/ops/configuration/traffic-management/protocol-selection/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

lint
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7057)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

improvements
  content/en/docs/tasks/security/authentication/authn-policy/authn-policy_snip.txt
  content/en/docs/tasks/security/authentication/authn-policy/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

update snip calls
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fixing incorrect quote type in istio-authorization blog post
  content/en/blog/2018/istio-authorization/index.md
Owners: @istio/wg-docs-maintainers-english
