Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master (#6979)
  Makefile
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

zh-translation: remove /faq/security/check-policy.md /events/banners/kubecon-europe-2020.md /docs/tasks/security/webhook/index.md (#6993)
  content/zh/blog/2019/webhook/index.md
  content/zh/docs/tasks/security/webhook/index.md
  content/zh/events/banners/kubecon-europe-2020.md
  content/zh/faq/security/check-policy.md
Owners: @istio/wg-docs-maintainers-chinese

modify config
  content/zh/docs/reference/config/policy-and-telemetry/_index.md
Owners: @istio/wg-docs-maintainers-chinese

Update to the latest istio/istio
  bin/init.sh
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

update the index
  content/zh/docs/reference/config/policy-and-telemetry/_index.md
Owners: @istio/wg-docs-maintainers-chinese

fix the url link error in the blog
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

fix link error
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

add new zh blog
  content/zh/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation:content/zh/docs/reference/config/policy-and-telemetry/_index.md (#7000)
  content/zh/docs/reference/config/policy-and-telemetry/_index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix links for removal of helm installation directory
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/setup/upgrade/_index.md
  content/en/docs/setup/upgrade/index.md
  content/en/faq/metrics-and-logs/prometheus-application-metrics.md
Owners: @istio/wg-docs-maintainers-english

Point to archive version of istioctl upgrade instructions
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Add Aporeto to lint ignores for now.
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Ignore Aporeto.com for now
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Ignore Aporeto.com for now (#7003)
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

lint
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-chinese

Cherrypick of #7003
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

fix lint error
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update to the latest istio/istio (#6999)
  bin/init.sh
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

Cherrypick of #7003 (#7004)
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

fix the url link error in the blog wasmhub-istio (#7001)
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links for removal of helm installation directory (#6826)
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/reference/config/policy-and-telemetry/metrics/index.md
  content/en/docs/setup/upgrade/_index.md
  content/en/docs/setup/upgrade/index.md
  content/en/faq/metrics-and-logs/prometheus-application-metrics.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix TestTCPTrafficShifting bug
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix typo
  content/en/docs/reference/config/networking/envoy-filter/index.html
Owners: @istio/wg-docs-maintainers-english

pki to PKI
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-chinese

#7008
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

reverse en doc
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

修改lint
  content/zh/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix lint error
  content/zh/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix lint check
  content/zh/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix lint
  content/zh/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix mTLS migration test script
  tests/security/scripts/mtls_migration.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add documentation on Ingress support
  content/en/docs/tasks/traffic-management/ingress/ingress-control/index.md
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Make site linter more configurable
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Add Comment about TCP Blackhole Cluster Fix in master/release1.5.1
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Add Comment about TCP Blackhole Cluster Fix in master/release1.5.1 (#7013)
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

Add Comment about TCP Blackhole Cluster Fix in master/release1.5.1
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/en/docs/tasks/traffic-management/ingress/kubernetes-ingress/index.md
Owners: @istio/wg-docs-maintainers-english

Fix TCP Traffic Shifting test script
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers
