Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Update content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

update wasm-istio
  content/en/blog/2020/wasmhub-istio
Owners: @istio/wg-docs-maintainers-english

create blog post for webassembly hub + Istio
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

update index.md
  content/en/blog/2020/wasmhub-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Remove KubeCon EU event
  content/en/events/banners/kubecon-europe-2020.md
Owners: @istio/wg-docs-maintainers-english

Update to the latest istio/istio (#6881)
  go.mod
  go.sum
  pkg/test/istioio/pod.go
  pkg/test/istioio/script.go
  pkg/test/istioio/subtest.go
  tests/configuration/main_test.go
  tests/examples/main_test.go
  tests/policies/main_test.go
  tests/security/main_test.go
  tests/trafficmanagement/ingress/main_test.go
  tests/trafficmanagement/main_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Make kubsphere.io link changes
  content/en/docs/setup/platform-setup/kubesphere/index.md
Owners: @istio/wg-docs-maintainers-english

Update Istio DNS certificate document for Istio 1.5
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise overview based on review comments
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Ignore 429 return codes on links
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Reword to clarify the intent of external access
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Remove KubeCon EU event, fix KubeSphere.io links, ignore 429s. (#6886)
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/events/banners/kubecon-europe-2020.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Remove KubeCon EU event, fix KubeSphere.io links, ignore 429s. (#6886)
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/events/banners/kubecon-europe-2020.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Automator: update istio.io@master reference docs (#6419)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Reword to clarify the intent of external access (#6888)
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Remove KubeCon EU event, fix KubeSphere.io links, ignore 429s. (#6886) (#6890)
  content/en/docs/setup/platform-setup/kubesphere/index.md
  content/en/events/banners/kubecon-europe-2020.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

fix formatting and grammer
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/Makefile.common.mk
Owners: @istio/wg-docs-maintainers-infra

Update generated docs (#6870)
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Update home page links (#6872)
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

fix typo in the path for redis config (#6768)
  content/en/faq/applications/redis.md
  content/pt-br/faq/applications/redis.md
  content/zh/faq/applications/redis.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

fix typo in the path for redis config
  content/en/faq/applications/redis.md
  content/pt-br/faq/applications/redis.md
  content/zh/faq/applications/redis.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Fix output of command (#6883)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#6891)
  common/.commonfiles.sha
  common/Makefile.common.mk
Owners: @istio/wg-docs-maintainers-infra

fix typo in the path for redis config (#6892)
  content/en/faq/applications/redis.md
  content/pt-br/faq/applications/redis.md
  content/zh/faq/applications/redis.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

lint: trailing spaces
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update Istio DNS certificate document for Istio 1.5 (#6871)
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Revise overview based on review comments
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Update Istio DNS certificate document for Istio 1.5
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Update Istio DNS certificate document for Istio 1.5 (#6894)
  content/en/docs/tasks/security/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Remove links to deleted istio_ca reference doc
  content/en/docs/concepts/observability/index.md
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Add cert-manager integration doc
  content/en/docs/ops/integrations/_index.md
  content/en/docs/ops/integrations/certmanager/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/istio_ca/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

sync with master content/zh
  content/zh/blog/2020/tradewinds-2020/index.md
  content/zh/docs/setup/additional-setup/sidecar-injection/index.md
  content/zh/faq/applications/redis.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: release 1.5 with cherrypick/release-1.5 (#6777)
  content/zh/docs/concepts/policies/index.md
  content/zh/docs/concepts/wasm/extending.svg
  content/zh/docs/concepts/wasm/index.md
  content/zh/docs/concepts/what-is-istio/index.md
  content/zh/docs/reference/config/istio.operator.v1alpha1/index.html
  content/zh/docs/reference/config/security/jwt/index.html
  content/zh/docs/reference/config/security/peer_authentication/index.html
  content/zh/docs/reference/config/security/request_authentication/index.html
  content/zh/news/releases/1.5.x/announcing-1.5/_index.md
  content/zh/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix review issues
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

cacert->cacerts
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

增加英文间空格
  content/zh/docs/reference/config/telemetry/configurable_metrics/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/en/docs/ops/integrations/_index.md
  content/en/docs/ops/integrations/_index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
