Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Automator: update common-files@master in istio/istio.io@master (#6623)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6623)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Update url to archive link
  content/en/blog/2019/introducing-istio-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Fix configuration profiles table to reflect new architecture.
  content/en/docs/setup/additional-setup/config-profiles/index.md
Owners: @istio/wg-docs-maintainers-english

update operator ref doc (#6600)
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha12.pb/index.html
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

update operator ref doc (#6600)
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha12.pb/index.html
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

fix values in txt
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update GKE platform setup (#6602)
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update GKE platform setup (#6602)
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

update
  content/en/docs/tasks/policy-enforcement/control-headers/index.md
  content/en/docs/tasks/policy-enforcement/enabling-policy/index.md
  content/en/docs/tasks/policy-enforcement/rate-limiting/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update docs and manifest for kubectl install of operator
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Lint
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update docs and manifest for kubectl install of operator (#6637)
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Update docs and manifest for kubectl install of operator (#6637)
  content/en/docs/setup/install/standalone-operator/index.md
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english

Linter error fixes
  .spelling
  content/en/about/contribute/github/index.md
  content/en/docs/examples/microservices-istio/enable-istio-all-microservices/index.md
  content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/getting-started/kiali-example2.png
Owners: @istio/wg-docs-maintainers-english

Document the requirement for the NET_RAW capability
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/ops/deployment/requirements/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fixed more linter errors
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Linter issue again
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Update Autocompletion to point to the full release page for tools directory. (#6603)
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Update Autocompletion to point to the full release page for tools directory. (#6603)
  content/en/docs/ops/diagnostic-tools/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

PR feedback
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

CNI: Add a missing parameter to OpenShift
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Removed unneeded command from snippet
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

remove the mixer policy concept page (#6470)
  content/en/docs/concepts/policies/index.md
  content/en/docs/concepts/security/index.md
  content/en/docs/concepts/what-is-istio/index.md
  content/en/docs/tasks/policy-enforcement/control-headers/index.md
  content/en/docs/tasks/policy-enforcement/denial-and-list/index.md
  content/en/docs/tasks/policy-enforcement/enabling-policy/index.md
  content/en/docs/tasks/policy-enforcement/rate-limiting/index.md
Owners: @istio/wg-docs-maintainers-english

remove the mixer policy concept page (#6470)
  content/en/docs/concepts/policies/index.md
  content/en/docs/concepts/security/index.md
  content/en/docs/concepts/what-is-istio/index.md
  content/en/docs/tasks/policy-enforcement/control-headers/index.md
  content/en/docs/tasks/policy-enforcement/denial-and-list/index.md
  content/en/docs/tasks/policy-enforcement/enabling-policy/index.md
  content/en/docs/tasks/policy-enforcement/rate-limiting/index.md
Owners: @istio/wg-docs-maintainers-english

More PR comments
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/getting-started/index.md
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Further PR comments
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

CNI: Add a missing parameter to OpenShift (#6646)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

CNI: Add a missing parameter to OpenShift (#6646)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fixed anchor links to point at glossary
  content/en/docs/reference/glossary/adapters.md
  content/en/docs/reference/glossary/data-plane.md
  content/en/docs/reference/glossary/destination.md
  content/en/docs/reference/glossary/envoy.md
  content/en/docs/reference/glossary/mixer-handler.md
  content/en/docs/reference/glossary/mixer-instance.md
  content/en/docs/reference/glossary/mixer.md
  content/en/docs/reference/glossary/pilot.md
  content/en/docs/reference/glossary/pod.md
  content/en/docs/reference/glossary/secure-naming.md
  content/en/docs/reference/glossary/service-consumer.md
  content/en/docs/reference/glossary/service-endpoint.md
  content/en/docs/reference/glossary/service-mesh.md
  content/en/docs/reference/glossary/service-name.md
  content/en/docs/reference/glossary/service-operator.md
  content/en/docs/reference/glossary/service-producer.md
  content/en/docs/reference/glossary/service-registry.md
  content/en/docs/reference/glossary/service-version.md
  content/en/docs/reference/glossary/service.md
  content/en/docs/reference/glossary/source.md
  content/en/docs/reference/glossary/workload-instance-principal.md
  content/en/docs/reference/glossary/workload-instance.md
  content/en/docs/reference/glossary/workload.md
Owners: @istio/wg-docs-maintainers-english

Document the requirement for the NET_RAW capability (#6643)
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/ops/deployment/requirements/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Document the requirement for the NET_RAW capability (#6643)
  content/en/docs/ops/common-problems/observability-issues/index.md
  content/en/docs/ops/deployment/requirements/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add ingress-gateway reachability to bookinfo test (#6627)
  tests/examples/bookinfo_test.go
  tests/examples/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add ingress-gateway reachability to bookinfo test (#6627)
  tests/examples/bookinfo_test.go
  tests/examples/scripts/bookinfo.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fixed anchor links to point at glossary (#6652)
  content/en/docs/reference/glossary/adapters.md
  content/en/docs/reference/glossary/data-plane.md
  content/en/docs/reference/glossary/destination.md
  content/en/docs/reference/glossary/envoy.md
  content/en/docs/reference/glossary/mixer-handler.md
  content/en/docs/reference/glossary/mixer-instance.md
  content/en/docs/reference/glossary/mixer.md
  content/en/docs/reference/glossary/pilot.md
  content/en/docs/reference/glossary/pod.md
  content/en/docs/reference/glossary/secure-naming.md
  content/en/docs/reference/glossary/service-consumer.md
  content/en/docs/reference/glossary/service-endpoint.md
  content/en/docs/reference/glossary/service-mesh.md
  content/en/docs/reference/glossary/service-name.md
  content/en/docs/reference/glossary/service-operator.md
  content/en/docs/reference/glossary/service-producer.md
  content/en/docs/reference/glossary/service-registry.md
  content/en/docs/reference/glossary/service-version.md
  content/en/docs/reference/glossary/service.md
  content/en/docs/reference/glossary/source.md
  content/en/docs/reference/glossary/workload-instance-principal.md
  content/en/docs/reference/glossary/workload-instance.md
  content/en/docs/reference/glossary/workload.md
Owners: @istio/wg-docs-maintainers-english
