Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Cleanup .spelling
  .spelling
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Add a blog on declarative wasm extensions for envoy and istio
  content/en/blog/2020/deploy-wasm-declarative/how-it-works.png
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

remove lower case istiod
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/zh/blog/2020/tradewinds-2020/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

add backticks
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

remove backticks
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

restore backticks
  content/en/docs/examples/virtual-machines/single-network/index.md
Owners: @istio/wg-docs-maintainers-english

Fix OKD link
  content/en/docs/setup/additional-setup/sidecar-injection/index.md
  content/pt-br/docs/setup/additional-setup/sidecar-injection/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Cleanup .spelling (lower case istiod not allowed) (#6858)
  .spelling
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/zh/blog/2020/tradewinds-2020/index.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-docs-maintainers-infra

Fixed Chinese link too
  content/zh/docs/setup/additional-setup/sidecar-injection/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

update repost text
  content/en/blog/2020/wasmhub-istio
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6862)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Add missing script file.
  scripts/gen_site.sh
  src/ts/resizeObserver.js
Owners: @istio/wg-docs-maintainers-infra

Fix missing script file.
  scripts/build_site.sh
  src/ts/resizeObserver.js
Owners: @istio/wg-docs-maintainers-infra

Fix missing script file.
  scripts/build_site.sh
  src/ts/resizeObserver.js
Owners: @istio/wg-docs-maintainers-infra

Fix missing script file.
  scripts/build_site.sh
  src/ts/resizeObserver.js
Owners: @istio/wg-docs-maintainers-infra

Fix OKD link (#6861)
  content/en/docs/setup/additional-setup/sidecar-injection/index.md
  content/pt-br/docs/setup/additional-setup/sidecar-injection/index.md
  content/zh/docs/setup/additional-setup/sidecar-injection/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Fixed Chinese link too
  content/zh/docs/setup/additional-setup/sidecar-injection/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix OKD link
  content/en/docs/setup/additional-setup/sidecar-injection/index.md
  content/pt-br/docs/setup/additional-setup/sidecar-injection/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

[release-1.5] Fix OKD link (#6863)
  content/en/docs/setup/additional-setup/sidecar-injection/index.md
  content/pt-br/docs/setup/additional-setup/sidecar-injection/index.md
  content/zh/docs/setup/additional-setup/sidecar-injection/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Restructured doc to remove Tiller references
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Restructured doc to remove Tiller references
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Updates to address reviewer comments
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Fixing merge artifacts I missed prior
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Remove helm with tiller install path
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

(#6586) move istio.io test for circuit breaking to istio.io repository (#6609)
  tests/trafficmanagement/circuitbreaker_test.go
  tests/trafficmanagement/scripts/circuitbreaker_test_cleanup.txt
  tests/trafficmanagement/scripts/circuitbreaker_test_setup.txt
  tests/trafficmanagement/scripts/trip_circuitbreaker.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

feat(observability): add best practices guide (#6810)
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/production-prometheus.svg
Owners: @istio/wg-docs-maintainers-english

fix some lint issues
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

review edits
  .spelling
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/best-practices/observability/index.md
  content/en/docs/ops/best-practices/observability/index.md
Owners: @istio/wg-docs-maintainers-english

Update .spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
