Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

blog on customizing istio coredns domain names
  .spelling
  content/en/blog/2020/custom-istio-dns-name/index.md
Owners: @istio/wg-docs-maintainers-english

Restructure the cert management tasks.
  content/en/docs/tasks/security/authentication/_index.md
  content/en/docs/tasks/security/cert-management/_index.md
  content/en/docs/tasks/security/cert-management/dns-cert/index.md
  content/en/docs/tasks/security/cert-management/dns-cert/snips.sh
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/index.md
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/snips.sh
Owners: @istio/wg-docs-maintainers-english

Small fix.
  content/en/docs/tasks/security/cert-management/dns-cert/snips.sh
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/snips.sh
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7210)
  content/en/docs/reference/commands/istioctl/index.html
Owners: @istio/wg-docs-maintainers-english

Update automated test TAG to match go.mod istio commit
  prow/integ-suite-kind.sh
Owners: @istio/wg-docs-maintainers-infra

Fix the link to the Operator API (#7205)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Fix references.
  content/en/about/feature-stages/index.md
  content/en/blog/2019/dns-cert/index.md
  content/en/blog/2020/istiod/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/news/releases/0.x/announcing-0.5/index.md
Owners: @istio/wg-docs-maintainers-english

Update automated test TAG to match go.mod istio commit (#7211)
  prow/integ-suite-kind.sh
Owners: @istio/wg-docs-maintainers-infra

Update port information for 1.6
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

add linkinator to replace htmlproofer
  content/en/blog/2018/egress-mongo/index.md
  content/en/blog/2019/performance-best-practices/index.md
  content/en/blog/2019/webhook/index.md
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/analytics/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/apikey/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/authorization/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/edge/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/kubernetes/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/listentry/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/logentry/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/metric/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/quota/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/tracespan/index.html
  content/en/docs/reference/config/proxy_extensions/metadata_exchange/index.html
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  content/en/faq/distributed-tracing/how-to-support-tracing.md
  content/pt-br/blog/2018/egress-mongo/index.md
  scripts/grab_reference_docs.sh
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

add linkinator to replace htmlproofer (#7204)
  content/en/blog/2018/egress-mongo/index.md
  content/en/blog/2019/performance-best-practices/index.md
  content/en/blog/2019/webhook/index.md
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/analytics/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/apikey/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/authorization/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/edge/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/kubernetes/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/listentry/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/logentry/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/metric/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/quota/index.html
  content/en/docs/reference/config/policy-and-telemetry/templates/tracespan/index.html
  content/en/docs/reference/config/proxy_extensions/metadata_exchange/index.html
  content/en/docs/reference/config/security/authorization-policy/index.html
  content/en/docs/reference/config/security/peer_authentication/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  content/en/faq/distributed-tracing/how-to-support-tracing.md
  content/pt-br/blog/2018/egress-mongo/index.md
  scripts/grab_reference_docs.sh
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

change order
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/index.md
  tests/security/dns_cert/dns_cert_test.go
  tests/security/plugin_ca_cert/plugin_ca_cert_test.go
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update port information for 1.6 (#7213)
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Remove node_agent from ref docs check
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7217)
  common/.commonfiles.sha
  common/config/license-lint.yml
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/config/license-lint.yml
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7219)
  common/.commonfiles.sha
  common/config/license-lint.yml
Owners: @istio/wg-docs-maintainers-infra

Small fix.
  tests/security/dns_cert/dns_cert_test.go
  tests/security/dns_cert/scripts/dns_cert.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove node_agent from ref docs check (#7216)
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/node_agent/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/proxy_extensions/metadata_exchange.html./index.html
Owners: @istio/wg-docs-maintainers-english

Fix typo of PodDisruptionBudgets
  content/en/docs/setup/upgrade/index.md
  content/pt-br/docs/setup/upgrade/istioctl-upgrade/index.md
  content/zh/docs/setup/upgrade/istioctl-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Manual doc ref update
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
Owners: @istio/wg-docs-maintainers-english

Remove extraneous operator check
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Another manual update
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/node_agent/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/proxy_extensions/metadata_exchange.html./index.html
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7218)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/node_agent/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/proxy_extensions/metadata_exchange.html./index.html
Owners: @istio/wg-docs-maintainers-english

Remove extraneous operator repo from grab_reference_docs.sh (#7212)
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Fix typo of PodDisruptionBudgets (#7220)
  content/en/docs/setup/upgrade/index.md
  content/pt-br/docs/setup/upgrade/istioctl-upgrade/index.md
  content/zh/docs/setup/upgrade/istioctl-upgrade/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Add 1.4 EOL warning
  content/en/news/support/announcing-1.4-eol/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/security/cert-management/plugin-ca-cert/index.md
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Small fix.
  content/en/docs/tasks/security/cert-management/dns-cert/index.md
Owners: @istio/wg-docs-maintainers-english

Change the weights.
  content/en/docs/tasks/security/authentication/_index.md
  content/en/docs/tasks/security/authorization/_index.md
Owners: @istio/wg-docs-maintainers-english

Restructure the cert management tasks. (#7209)
  content/en/about/feature-stages/index.md
  content/en/blog/2019/dns-cert/index.md
  content/en/blog/2020/istiod/index.md
  content/en/docs/examples/virtual-machines/multi-network/index.md
  content/en/docs/examples/virtual-machines/single-network/index.md
  content/en/docs/setup/install/multicluster/gateways/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/tasks/security/authentication/_index.md
  content/en/docs/tasks/security/authorization/_index.md
  content/en/docs/tasks/security/cert-management/_index.md
  content/en/docs/tasks/security/cert-management/dns-cert/index.md
  content/en/docs/tasks/security/cert-management/dns-cert/snips.sh
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/index.md
  content/en/docs/tasks/security/cert-management/plugin-ca-cert/snips.sh
  content/en/news/releases/0.x/announcing-0.5/index.md
  tests/security/dns_cert/dns_cert_test.go
  tests/security/dns_cert/scripts/dns_cert.txt
  tests/security/plugin_ca_cert/plugin_ca_cert_test.go
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Reset branch and fix bad merge
  content/en/docs/ops/configuration/mesh/config-resource-ready/index.md
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/reference/config/config-status/index.md
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/reference/config/config-status/index.md
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Another linter fix
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

Recover dropped text
  content/en/docs/reference/config/config-status/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
