Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Updated Lightstep topic with new Lighstep brand and products (#7123)
  .spelling
  content/en/docs/concepts/observability/index.md
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/en/docs/tasks/observability/distributed-tracing/lightstep/istio-explorer.png
  content/en/docs/tasks/observability/distributed-tracing/lightstep/istio-services.png
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
  content/en/faq/distributed-tracing/how-distributed-tracing-works.md
  content/en/faq/distributed-tracing/how-envoy-based-tracing-works.md
  content/en/faq/distributed-tracing/how-to-support-tracing.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Linter fixes
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

lint_site.sh: Don't print error if "public" directory doesn't exist.
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

lint_site.sh: Don't print error if "public" directory doesn't exist. (#7172)
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Link to reference page
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Address PR comments
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Linter fix
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Fix PR feedback
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Typo fix 5
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/galley/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
  content/en/docs/reference/config/attributegen/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/proxy_extensions/stats/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

remove tuya logo in zh and pt-br
  content/en/about/community/customers/index.md
  content/pt-br/about/community/customers/index.md
  content/pt-br/about/community/customers/tuya.png
  content/zh/about/community/customers/index.md
  content/zh/about/community/customers/tuya.png
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Update links (#7170)
  content/en/docs/setup/install/multicluster/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7175)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Manual ref doc update from release 1.6 with galley removed. (#7171)
  content/en/docs/concepts/observability/index.md
  content/en/docs/reference/commands/galley/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
  content/en/docs/reference/config/attributegen/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/service-entry/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/proxy_extensions/stats/index.html
  content/en/docs/reference/config/security/request_authentication/index.html
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

add tuya logo (#7159)
  content/en/about/community/customers/index.md
  content/en/about/community/customers/tuya.png
Owners: @istio/wg-docs-maintainers-english

Linter fixes
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

address review comments
  content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/upgrade/index.md
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Updated procedure
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

URL fix
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Use `sniHosts` instead of `sni_hosts` in examples
  content/en/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/en/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/en/docs/tasks/traffic-management/egress/egress-tls-origination/index.md
  content/en/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
Owners: @istio/wg-docs-maintainers-english

Adjusted language
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Using temp link for community testing day
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/metrics/classify-metrics/index.md
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Add docs for Customizing Istio Metrics (#7137)
  content/en/docs/reference/config/telemetry/configurable_metrics/index.md
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Added indents
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/metrics/classify-metrics/index.md
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/metrics/classify-metrics/index.md
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/metrics/classify-metrics/index.md
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/tasks/observability/metrics/classify-metrics/index.md
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Linter fix 3
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Change verification to use istioctl proxy-config
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Update upgrade instructions (#7177)
  content/en/docs/setup/upgrade/index.md
Owners: @istio/wg-docs-maintainers-english

Update scripts/lint_site.sh
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Update Makefile.core.mk
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

zero touch setup for gke
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
