Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @frankbu, @rcaballeromx, @sdake, @fleeto, @gyliu513, @rootsongjc

Mergify experiment failed, revert.
  .mergify.yml
Owners: @geeknoid

Mergify experiment failed, revert.
  .mergify.yml
Owners: @geeknoid

Mergify experiment failed, revert.
  .mergify.yml
Owners: @geeknoid

fix frankbu's comments
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Import common files into this repo.
  .commonfiles.sha
  .golangci.yml
  BUGS-AND-FEATURE-REQUESTS.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  Makefile.common.mk
  SUPPORT.md
  scripts/check_license.sh
  scripts/run_gofmt.sh
  scripts/run_golangci.sh
Owners: @geeknoid

Import common files into this repo. (#4246)
  .commonfiles.sha
  .golangci.yml
  BUGS-AND-FEATURE-REQUESTS.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  Makefile.common.mk
  SUPPORT.md
  scripts/check_license.sh
  scripts/run_gofmt.sh
  scripts/run_golangci.sh
Owners: @geeknoid

Import common files into this repo. (#4246)
  .commonfiles.sha
  .golangci.yml
  BUGS-AND-FEATURE-REQUESTS.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  Makefile.common.mk
  SUPPORT.md
  scripts/check_license.sh
  scripts/run_gofmt.sh
  scripts/run_golangci.sh
Owners: @geeknoid

Import common files into this repo. (#4246)
  .commonfiles.sha
  .golangci.yml
  BUGS-AND-FEATURE-REQUESTS.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  Makefile.common.mk
  SUPPORT.md
  scripts/check_license.sh
  scripts/run_gofmt.sh
  scripts/run_golangci.sh
Owners: @geeknoid

Delete one more stale OWNERS file.
  OWNERS
Owners: @geeknoid

Delete one more stale OWNERS file.
  OWNERS
Owners: @geeknoid

Delete one more stale OWNERS file.
  OWNERS
Owners: @geeknoid

Update index.md
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

fix the buggy image docker references vadimeisenbergibm -> istio
  content/docs/tutorial/liveness-probes-with-kubernetes.md
  content/docs/tutorial/outlier-detection-with-istio.md
  content/docs/tutorial/rate-limiting-with-istio.md
  content/docs/tutorial/retries-with-istio.md
  content/docs/tutorial/timeouts-with-istio.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Enhance split horizon EDS doc (#4225)
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Enhance split horizon EDS doc (#4225)
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Enhance split horizon EDS doc (#4225)
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Clarify and improve setup instructions
  content/docs/setup/kubernetes/_index.md
  content/docs/setup/kubernetes/additional-setup/mesh-expansion/index.md
  content/docs/setup/kubernetes/additional-setup/requirements/index.md
  content/docs/setup/kubernetes/getting-started/index.md
  content/docs/setup/kubernetes/install/helm/index.md
  content/docs/setup/kubernetes/install/kubernetes/index.md
  content/docs/setup/kubernetes/platform-setup/_index.md
  content/docs/setup/kubernetes/platform-setup/alicloud/csconsole.png
  content/docs/setup/kubernetes/platform-setup/alicloud/index.md
  content/docs/setup/kubernetes/platform-setup/azure/index.md
  content/docs/setup/kubernetes/platform-setup/docker/dockerprefs.png
  content/docs/setup/kubernetes/platform-setup/docker/index.md
  content/docs/setup/kubernetes/platform-setup/gke/index.md
  content/docs/setup/kubernetes/platform-setup/ibm/index.md
  content/docs/setup/kubernetes/platform-setup/minikube/index.md
  content/docs/setup/kubernetes/platform-setup/oci/index.md
  content/docs/setup/kubernetes/platform-setup/openshift/index.md
  content/docs/setup/kubernetes/prepare/_index.md
  content_zh/docs/setup/kubernetes/prepare/platform-setup/alicloud/index.md
  content_zh/docs/setup/kubernetes/prepare/platform-setup/docker/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

bad links
  content/docs/setup/kubernetes/install/helm/index.md
  content/docs/setup/kubernetes/install/kubernetes/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

in introduction, fault injection -> microservice operation patterns
  content/docs/tutorial/introduction.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

instructors -> or self-learning participants
  content/docs/tutorial/prerequisites.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

instructors -> instructors or participants with their own cluster
  content/docs/tutorial/prerequisites.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

remove: All the commands will use this variable
  content/docs/tutorial/setup.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

istioctl command -> the istioctl command
  content/docs/tutorial/setup.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

For instructors -> For instructors and participants with their own cluster
  content/docs/tutorial/setup.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

IBM Cloud Container Service -> IBM Cloud Kubernetes Service
  content/docs/tutorial/setup.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

send this file to the tutorial's participant -> send this file to a tutorial's participant
  content/docs/tutorial/setup.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite the paragraph about the ratings microservice
  content/docs/tutorial/ratings-service.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

the path `/ratings/{productID}` -> the `/ratings/{productID}` path
  content/docs/tutorial/ratings-service.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add a step to kill the microservice
  content/docs/tutorial/ratings-service.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite the module introduction of running Bookinfo with Kubernetes
  content/docs/tutorial/run-bookinfo-with-kubernetes.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add output of get pods
  content/docs/tutorial/run-bookinfo-with-kubernetes.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add a screenshot of bookinfo
  content/docs/tutorial/images/bookinfo.png
  content/docs/tutorial/run-bookinfo-with-kubernetes.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add a missing empty space
  content/docs/tutorial/run-bookinfo-with-kubernetes.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add a screenshot of details unavailable, add get pods output
  content/docs/tutorial/images/bookinfo-details-unavailable.png
  content/docs/tutorial/testing-in-production.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite the first paragraph in deploy a new version with Kubernetes
  content/docs/tutorial/adding-a-new-version-of-a-microservice.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

fix indentation
  content/docs/tutorial/adding-a-new-version-of-a-microservice.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

echo REVIEWS_V2_POD_IP
  content/docs/tutorial/adding-a-new-version-of-a-microservice.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

rewrite the paragraph about releasing a new version of reviews v2 as a single pod
  content/docs/tutorial/adding-a-new-version-of-a-microservice.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

add a screenshot of bookinfo with black stars
  content/docs/tutorial/adding-a-new-version-of-a-microservice.md
  content/docs/tutorial/images/bookinfo-reviews-v2.png
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

extend the explanation about deploying the new version
  content/docs/tutorial/adding-a-new-version-of-a-microservice.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

CODEOWNERS:

*               @geeknoid
.spelling       @geeknoid @frankbu @rcaballeromx
content/        @geeknoid @sdake @frankbu @rcaballeromx
content_zh/     @geeknoid @fleeto @gyliu513 @rootsongjc @frankbu
