Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @frankbu, @rcaballeromx, @sdake, @fleeto, @gyliu513, @rootsongjc

CODEOWNERS:

*               @geeknoid
.spelling       @geeknoid @frankbu @rcaballeromx
content/        @geeknoid @sdake @frankbu @rcaballeromx
content_zh/     @geeknoid @fleeto @gyliu513 @rootsongjc @frankbu

Fix references to parent dir in TLS tasks (#4219)
  content/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
  content_zh/docs/tasks/traffic-management/edge-traffic/ingress-sni-passthrough/index.md
  content_zh/docs/tasks/traffic-management/secure-ingress/sds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx, @fleeto, @gyliu513, @rootsongjc

Enhance Cluster-Aware Service Routing multi cluster model setup
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

update verify part
  content/docs/tasks/multicluster/split-horizon-eds/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

zh：what-is-istio
  content_zh/docs/concepts/what-is-istio/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：egress-gateway
  content_zh/docs/examples/advanced-gateways/egress-gateway/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：collecting-logs
  content_zh/docs/setup/kubernetes/additional-setup/cni/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：mesh-expansion
  content_zh/docs/setup/kubernetes/additional-setup/mesh-expansion/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：control-headers
  content_zh/docs/tasks/policy-enforcement/control-headers/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：attribute-vocabulary
  content_zh/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：tcp-traffic-shifting
  content_zh/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：egress_sni_monitoring_and_policies
  content_zh/blog/2019/appswitch/index.md
  content_zh/docs/concepts/security/index.md
  content_zh/docs/examples/advanced-gateways/egress_sni_monitoring_and_policies/index.md
  content_zh/docs/examples/advanced-gateways/ingress-sni-passthrough/index.md
  content_zh/docs/examples/multicluster/iks-icp/index.md
  content_zh/docs/reference/commands/mixs/index.md
  content_zh/docs/setup/kubernetes/additional-setup/requirements/index.md
  content_zh/docs/setup/kubernetes/install/multicluster/vpn/index.md
  content_zh/docs/setup/kubernetes/prepare/platform-setup/ibm/index.md
  content_zh/docs/tasks/telemetry/metrics/using-istio-dashboard/index.md
  content_zh/help/faq/security/accessing-non-istio-services.md
  content_zh/help/ops/setup/validation/index.md
  content_zh/help/ops/setup/webhook/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：auths-ad
  content_zh/docs/tasks/security/auth-sds/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：auths-policy
  content_zh/docs/tasks/security/authn-policy/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：openshift
  content_zh/docs/setup/kubernetes/prepare/platform-setup/openshift/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：collecting-logs (#4190)
  content_zh/docs/setup/kubernetes/additional-setup/cni/index.md
  content_zh/docs/tasks/telemetry/logs/collecting-logs/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：control-headers (#4188)
  content_zh/docs/tasks/policy-enforcement/control-headers/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh： egress (#4158)
  content_zh/docs/tasks/traffic-management/egress/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh： bookinfo (#4157)
  content_zh/docs/examples/bookinfo/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh： app-health-check (#4159)
  content_zh/help/ops/setup/app-health-check/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh： authn-sds (#4180)
  content_zh/docs/tasks/security/auth-sds/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：ingress (#4168)
  content_zh/docs/tasks/traffic-management/ingress/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：mesh-expansion (#4189)
  content_zh/docs/setup/kubernetes/additional-setup/mesh-expansion/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh： openshift (#4172)
  content_zh/docs/setup/kubernetes/prepare/platform-setup/openshift/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

zh：attribute-vocabulary (#4186)
  content_zh/docs/reference/config/policy-and-telemetry/attribute-vocabulary/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

fix expression of clientSpan
  content/docs/reference/config/policy-and-telemetry/templates/tracespan/index.html
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

fix typo
  content_zh/docs/setup/kubernetes/install/helm/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

fix typo (#4227)
  content_zh/docs/setup/kubernetes/install/helm/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

fix typo in task mtls deep dive
  content/docs/tasks/security/mutual-tls/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Fix typo i instead of istioctl
  content/docs/tasks/security/mutual-tls/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

zh：egress-gateway (#4192)
  content_zh/docs/examples/advanced-gateways/egress-gateway/index.md
  content_zh/docs/examples/advanced-gateways/egress_sni_monitoring_and_policies/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

Fix typo in task mtls deep dive (#4228)
  content/docs/tasks/security/mutual-tls/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Fix typo in task mtls deep dive (#4228)
  content/docs/tasks/security/mutual-tls/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Fix typo in task mtls deep dive (#4228)
  content/docs/tasks/security/mutual-tls/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Add ha-demo example to show how istio behaves for ha
  content/docs/examples/ha-demo/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Round-offs to make example clearer
  content/docs/examples/ha-demo/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

Add information about configuring Istio to use an external Zipkin (production) instance
  content/docs/tasks/telemetry/distributed-tracing/zipkin/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

fix a link
  content/docs/examples/ha-demo/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx

sync trans
  content_zh/docs/setup/kubernetes/additional-setup/config-profiles/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

sync trans (#4231)
  content_zh/docs/setup/kubernetes/additional-setup/config-profiles/index.md
Owners: @geeknoid, @fleeto, @gyliu513, @rootsongjc, @frankbu

add the second part of the series about secure egress traffic control in Istio (#4196)
  content/blog/2019/egress-traffic-control-in-istio-part-2/SecurityArchitectureWithL3Firewalls.svg
  content/blog/2019/egress-traffic-control-in-istio-part-2/index.md
Owners: @geeknoid, @sdake, @frankbu, @rcaballeromx
