Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Fixed anchor links to point at glossary (#6652)
  content/en/docs/reference/glossary/adapters.md
  content/en/docs/reference/glossary/data-plane.md
  content/en/docs/reference/glossary/destination.md
  content/en/docs/reference/glossary/envoy.md
  content/en/docs/reference/glossary/mixer-handler.md
  content/en/docs/reference/glossary/mixer-instance.md
  content/en/docs/reference/glossary/mixer.md
  content/en/docs/reference/glossary/pilot.md
  content/en/docs/reference/glossary/pod.md
  content/en/docs/reference/glossary/secure-naming.md
  content/en/docs/reference/glossary/service-consumer.md
  content/en/docs/reference/glossary/service-endpoint.md
  content/en/docs/reference/glossary/service-mesh.md
  content/en/docs/reference/glossary/service-name.md
  content/en/docs/reference/glossary/service-operator.md
  content/en/docs/reference/glossary/service-producer.md
  content/en/docs/reference/glossary/service-registry.md
  content/en/docs/reference/glossary/service-version.md
  content/en/docs/reference/glossary/service.md
  content/en/docs/reference/glossary/source.md
  content/en/docs/reference/glossary/workload-instance-principal.md
  content/en/docs/reference/glossary/workload-instance.md
  content/en/docs/reference/glossary/workload.md
Owners: @istio/wg-docs-maintainers-english

PR review comments fixed
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Space fix
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

Removed SDS reference per John Howard
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation for about/contribute/terminology
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

Apply netlify best practices (#6381)
  netlify.toml
Owners: @istio/wg-docs-maintainers-infra

Update to 1.5
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix: links to /zh
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-trans: contribute
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update to 1.5
  content/zh/about/contribute/add-content/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix: lint errors.
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix: link `#add` to `/add-content`
  content/zh/about/contribute/diagrams/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix build error
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

fix build error
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

Apply netlify best practices (#6381) (#6656)
  netlify.toml
Owners: @istio/wg-docs-maintainers-infra

Removed SDS reference per John Howard (#6654)
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

Removed SDS reference per John Howard (#6654)
  content/en/docs/concepts/traffic-management/index.md
Owners: @istio/wg-docs-maintainers-english

fix review issue
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation for about/contribute/terminology (#6655)
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation for about/contribute/terminology (#6655)
  content/zh/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix: updated index.md
  content/zh/about/contribute/add-content/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix: lint errors.
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

remove en content by gauliang's advise
  content/zh/about/contribute/_index.md
Owners: @istio/wg-docs-maintainers-chinese

remove typo by gauliang's advise
  content/zh/about/contribute/style-guide/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: sync some missing content (#6619)
  content/zh/news/releases/1.3.x/announcing-1.3.7/index.md
  content/zh/news/releases/1.3.x/announcing-1.3.8/index.md
  content/zh/news/releases/1.4.x/announcing-1.4.4/index.md
  content/zh/news/releases/1.4.x/announcing-1.4.5/index.md
  content/zh/news/security/istio-security-2019-007/index.md
  content/zh/news/security/istio-security-2020-001/index.md
  content/zh/news/security/istio-security-2020-002/index.md
  content/zh/news/support/announcing-1.3-eol-final/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: sync some missing content (#6619)
  content/zh/news/releases/1.3.x/announcing-1.3.7/index.md
  content/zh/news/releases/1.3.x/announcing-1.3.8/index.md
  content/zh/news/releases/1.4.x/announcing-1.4.4/index.md
  content/zh/news/releases/1.4.x/announcing-1.4.5/index.md
  content/zh/news/security/istio-security-2019-007/index.md
  content/zh/news/security/istio-security-2020-001/index.md
  content/zh/news/security/istio-security-2020-002/index.md
  content/zh/news/support/announcing-1.3-eol-final/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation:/content/zh/about/contribute/github/index.md (#6658)
  content/zh/about/contribute/diagrams/index.md
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation:/content/zh/about/contribute/github/index.md (#6658)
  content/zh/about/contribute/diagrams/index.md
  content/zh/about/contribute/github/index.md
Owners: @istio/wg-docs-maintainers-chinese

change example for setting additional param
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Updates to ExternalName doc
  content/en/docs/tasks/traffic-management/egress/egress-kubernetes-services/index.md
Owners: @istio/wg-docs-maintainers-english

Spelling update
  content/en/docs/tasks/observability/logs/access-log/index.md
Owners: @istio/wg-docs-maintainers-english

Update pod and deployment requirements
  content/en/docs/ops/deployment/requirements/index.md
Owners: @istio/wg-docs-maintainers-english

Add note to citadel doc
  content/en/docs/ops/configuration/mesh/secret-creation/index.md
Owners: @istio/wg-docs-maintainers-english

change to a different example
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

Fix pilot -> istiod for config validation docs
  content/en/docs/ops/common-problems/validation/index.md
Owners: @istio/wg-docs-maintainers-english

Fix minor syntax error on istioctl describe
  content/en/docs/ops/diagnostic-tools/istioctl-describe/index.md
Owners: @istio/wg-docs-maintainers-english

Fixes from community testing
  content/en/docs/tasks/observability/metrics/querying-metrics/index.md
  content/en/docs/tasks/observability/metrics/querying-metrics/prometheus_query_result_graphical.png
Owners: @istio/wg-docs-maintainers-english

Removed unneeded command from snippet (#6648)
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Removed unneeded command from snippet (#6648)
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Change to --set addonComponents.grafana.enabled=true
  content/en/docs/setup/install/istioctl/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
