Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

temporary disable gen-check
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Remove gateways warning
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

disable inappropriate bash lint errors
  Makefile.core.mk
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/dns-cert/snips.sh
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/request-timeouts/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english

disable gen check
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#7134)
  common/.commonfiles.sha
  common/Makefile.common.mk
  common/scripts/check_no_modify.sh
  common/scripts/nomodify.md5
Owners: @istio/wg-docs-maintainers-infra

Update content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

Address nit in doc; link to jaeger
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

one more regen
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
Owners: @istio/wg-docs-maintainers-english

reenable gen check
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Trace sampling is beta; other features are experimental
  content/en/about/feature-stages/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
Owners: @istio/wg-docs-maintainers-english

remove -it options
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

revert commands
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
Owners: @istio/wg-docs-maintainers-english

Fix usage of Policy to PeerAuthentication
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
Owners: @istio/wg-docs-maintainers-english

fix app health check outdated
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
Owners: @istio/wg-docs-maintainers-english

Fix whitespace
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

Fix for running user guide tests
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Convert TCP traffic shifting test (#7131)
  content/en/docs/examples/bookinfo/snips.sh
  content/en/docs/ops/configuration/mesh/app-health-check/index.md
  content/en/docs/ops/configuration/mesh/app-health-check/snips.sh
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/security/dns-cert/snips.sh
  content/en/docs/tasks/security/plugin-ca-cert/snips.sh
  content/en/docs/tasks/traffic-management/request-timeouts/snips.sh
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/tcp-traffic-shifting/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  scripts/snip.py
  tests/trafficmanagement/scripts/tcp_trafficshifting_cleanup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

More updates
  content/en/docs/reference/config/telemetry/configurable_metrics/index.md
  content/en/docs/tasks/observability/metrics/customize-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Remove experimental tag
  content/en/docs/reference/config/telemetry/configurable_metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update index.md
  content/en/docs/reference/config/analysis/ist0118/index.md
Owners: @istio/wg-docs-maintainers-english

Update Certificate config for latest Cert-Manager compatibility
  content/en/docs/tasks/traffic-management/ingress/ingress-certmgr/index.md
Owners: @istio/wg-docs-maintainers-english

Fix for running user guide tests (#7136)
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update index.md (#7139)
  content/en/docs/reference/config/analysis/ist0118/index.md
Owners: @istio/wg-docs-maintainers-english

Fix reference docs: galley cmd removed (#7132)
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Add docs for experimental tracing configuration (#7122)
  content/en/about/feature-stages/index.md
  content/en/docs/tasks/observability/distributed-tracing/configurability/index.md
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/en/docs/tasks/observability/distributed-tracing/overview/index.md
  content/en/faq/distributed-tracing/control-sampling.md
  content/en/faq/distributed-tracing/no-tracing.md
  content/en/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-english

Add documentation for adding sidecar injector webhook annotations in 1.4 (#7101)
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Don't mix and match set and file options
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add documentation for adding sidecar injector webhook annotations in 1.4
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add proper yaml to -f argument
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fix code for istioctl 1.4; update comments at end
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fix linting errors
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Add note that docs are out of date for istio 1.4 and openshift
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Code review comments
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Fix linting errors
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/additional-setup/cni/index.md
  content/en/docs/setup/additional-setup/cni/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
