Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

fix typo in the path for redis config (#6768)
  content/en/faq/applications/redis.md
  content/pt-br/faq/applications/redis.md
  content/zh/faq/applications/redis.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs (#6900)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
Owners: @istio/wg-docs-maintainers-english

Remove links to deleted istio_ca reference doc (#6895)
  content/en/docs/concepts/observability/index.md
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation:content/zh/docs/reference/config/telemetry/metrics/index.md (#6879)
  content/zh/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-chinese

Fix output of command (#6883)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update generated docs (#6870)
  scripts/grab_reference_docs.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@master reference docs (#6419)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Solo.io logo for /partners page
  content/about/community/partners/Logo Solo Vertical gray font.png
Owners: @istio/wg-docs-maintainers-infra

Automator: update istio.io@master reference docs (#6893)
  content/en/docs/reference/commands/istio_ca/index.html
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
Owners: @istio/wg-docs-maintainers-english

zh-translation: sync architecture with en (#6898)
  content/zh/blog/2019/app-identity-and-access-adapter/index.md
  content/zh/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-chinese

zh-translation: /blog/2020/wasm-announce/ (#6835)
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs (#6908)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/annotations/index.html
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6914)
  common/.commonfiles.sha
  common/scripts/setup_env.sh
Owners: @istio/wg-docs-maintainers-infra

Add istiod blog post
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/blog/2020/istiod/index.md
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/blog/2020/istiod/index.md
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

add correct description
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

put the 'istiod's in backticks
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

adjust caps again
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

md lint changes that make vscode sad
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

policies => policy
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

WASM => "Wasm" (or "WebAssembly" on first use)
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

Update spell-chequer for istiod blog
  .spelling
Owners: @istio/wg-docs-maintainers-english

backticks around PodSecurityPolicy
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Add istiod blog post (#6915)
  .spelling
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

policies => policy
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

md lint changes that make vscode sad
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Add istiod blog post
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

add correct description
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/blog/2020/istiod/index.md
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/blog/2020/istiod/index.md
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

Update spell-chequer for istiod blog
  .spelling
Owners: @istio/wg-docs-maintainers-english

adjust caps again
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

put the 'istiod's in backticks
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

backticks around PodSecurityPolicy
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Add istiod blog post (#6917)
  .spelling
  content/en/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-english

WASM => "Wasm" (or "WebAssembly" on first use) (#6916)
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

WASM => "Wasm" (or "WebAssembly" on first use)
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english

WASM => "Wasm" (or "WebAssembly" on first use) (#6918)
  content/en/blog/2020/deploy-wasm-declarative/index.md
Owners: @istio/wg-docs-maintainers-english
