Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Update generated docs (#6759)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/commands/sidecar-injector/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  scripts/grab_reference_docs.sh
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Update generated docs (#6759)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/commands/sidecar-injector/index.html
  content/en/docs/reference/config/istio.mesh.v1alpha1/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  content/en/docs/reference/config/networking/destination-rule/index.html
  content/en/docs/reference/config/networking/gateway/index.html
  content/en/docs/reference/config/networking/sidecar/index.html
  content/en/docs/reference/config/networking/virtual-service/index.html
  content/en/docs/reference/config/policy-and-telemetry/istio.mixer.v1.config.client/index.html
  content/en/docs/reference/config/security/istio.authentication.v1alpha1/index.html
  scripts/grab_reference_docs.sh
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Fix failing link in pipeline
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

v1.6
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

v1.6
  data/args.yml
Owners: @istio/wg-docs-maintainers-infra

v1.5
  Makefile.core.mk
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/config/istio.operator.v1alpha1/index.html
  static/operator.yaml
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english

fix typo in the path for redis config
  content/en/faq/applications/redis.md
  content/pt-br/faq/applications/redis.md
  content/zh/faq/applications/redis.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

temporary changes
  content/en/news/releases/1.5.x/_index.md
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
Owners: @istio/wg-docs-maintainers-english

temporary changes
  content/en/news/releases/1.5.x/_index.md
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
Owners: @istio/wg-docs-maintainers-english

v1.6
  layouts/_default/baseof.html
Owners: @istio/wg-docs-maintainers-infra

v1.6
  layouts/_default/baseof.html
Owners: @istio/wg-docs-maintainers-infra

More base release 1.6 stuff
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/_index.md
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/en/news/releases/1.6.x/announcing-1.6/upgrade-notes/index.md
  content/pt-br/news/releases/1.6.x/_index.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/_index.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/pt-br/news/releases/1.6.x/announcing-1.6/upgrade-notes/index.md
  content/zh/news/releases/1.6.x/_index.md
  content/zh/news/releases/1.6.x/announcing-1.6/_index.md
  content/zh/news/releases/1.6.x/announcing-1.6/change-notes/index.md
  content/zh/news/releases/1.6.x/announcing-1.6/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Attempt to fix the feature link
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

[Release 1.5] Upgrade notice for new authentication APIs (#6615)
  content/en/about/feature-stages/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[Release 1.5] Upgrade notice for new authentication APIs (#6615)
  content/en/about/feature-stages/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Address comment
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix link
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Draft upgrade note for new authn
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Attempt to fix the feature link
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] [Release 1.5] Upgrade notice for new authentication APIs (#6770)
  content/en/about/feature-stages/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Delete auto-mTLS task
  content/en/docs/tasks/security/authentication/auto-mtls/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links on 1.5
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

Add WASM blog
  .spelling
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Delete auto-mTLS task (#6591)
  content/en/about/feature-stages/index.md
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/docs/tasks/security/authentication/auto-mtls/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[Release-1.5] Delete auto-mTLS task (#6591)
  content/en/about/feature-stages/index.md
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/docs/tasks/security/authentication/auto-mtls/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Delete auto-mTLS task
  content/en/docs/tasks/security/authentication/auto-mtls/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/blog/2020/tradewinds-2020/index.md
  content/en/news/releases/1.4.x/announcing-1.4/_index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/docs/reference/config/analysis/ist0113/index.md
  content/en/news/releases/1.4.x/announcing-1.4/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links
  content/en/about/feature-stages/index.md
Owners: @istio/wg-docs-maintainers-english

Fix links on 1.5
  content/en/news/releases/1.5.x/announcing-1.5/_index.md
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Add WASM blog (#6771)
  .spelling
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Add WASM blog (#6771)
  .spelling
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Add WASM blog
  .spelling
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

Apply suggestions from code review
  content/en/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
