Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

zh-translation: release 1.5 with cherrypick/release-1.5
  content/zh/docs/reference/config/security/jwt/index.html
  content/zh/docs/reference/config/security/peer_authentication/index.html
  content/zh/docs/reference/config/security/request_authentication/index.html
  content/zh/news/releases/1.5.x/announcing-1.5/_index.md
  content/zh/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

sync concepts
  content/zh/docs/concepts/policies/index.md
  content/zh/docs/concepts/wasm/extending.svg
  content/zh/docs/concepts/wasm/index.md
  content/zh/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master (#6839)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Update content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Revert "cacerts secret to replace with istio-ca-secret (#6829)" (#6836)
  content/en/docs/tasks/security/plugin-ca-cert/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update troubleshooting guide for authZ policy (#6767)
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

authz: update troubleshooting guide for authZ policy
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

update
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/ops/common-problems/security-issues/index.md
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

update
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

fix label name for telemetry v2 (#6762)
  .spelling
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix label name for telemetry v2
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

update spelling
  .spelling
Owners: @istio/wg-docs-maintainers-english

update multicluster shared control plane docs
  content/en/docs/setup/additional-setup/config-profiles/index.md
  content/en/docs/setup/install/multicluster/shared-gateways/index.md
  content/en/docs/setup/install/multicluster/shared-vpn/index.md
  content/en/docs/setup/install/multicluster/shared/diagram.svg
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/multicluster-with-vpn.svg
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] authz: update troubleshooting guide for authZ policy (#6841)
  content/en/docs/ops/common-problems/security-issues/index.md
Owners: @istio/wg-docs-maintainers-english

edit standard metrics
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

updates
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

lint errors
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

edit standard metrics (#6845)
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] fix label name for telemetry v2 (#6842)
  .spelling
  content/en/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-english

lint
  content/en/docs/setup/install/multicluster/shared/index.md
  content/en/news/releases/1.1.x/announcing-1.1/change-notes/index.md
  content/en/news/releases/1.1.x/announcing-1.1/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

New blog Istio 1.5 with WebAssembly Hub
  content/en/blog/2020/wasmhub-istio
Owners: @istio/wg-docs-maintainers-english

Restructured doc to remove Tiller references
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Restructured doc to remove Tiller references
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  content/zh/blog/2020/wasm-announce/index.md
Owners: @istio/wg-docs-maintainers-chinese

Automator: update istio.io@master reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
  content/en/docs/reference/config/networking/envoy-filter/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

Accept yhyddr's suggestion
  content/zh/docs/reference/config/istio.operator.v1alpha1/index.html
  content/zh/news/releases/1.5.x/announcing-1.5/_index.md
Owners: @istio/wg-docs-maintainers-chinese

export CONTAINER_OPTIONS make env variable so run.sh script can see it; running on Mac/Bash/Docker for Mac
  Makefile.overrides.mk
Owners: @istio/wg-docs-maintainers-infra

Updates to address reviewer comments
  content/en/docs/setup/install/helm/index.md
Owners: @istio/wg-docs-maintainers-english

Edits per Craigbox suggestions
  content/en/blog/2020/wasmhub-istio
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
