Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers

Updates for galley to istiod (#7269)
  content/en/docs/ops/diagnostic-tools/istioctl-analyze/index.md
Owners: @istio/wg-docs-maintainers-english

Fix test.kube.postsubmit no longer needing to write snippets. (#7306)
  tests/tests.mk
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Simplify TCPTrafficShiftingTest
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/trafficmanagement/scripts/request_timeouts.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_cleanup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/tcp_trafficshifting_test.go
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix classify docs (#7290)
  content/en/docs/tasks/observability/metrics/classify-metrics/index.md
Owners: @istio/wg-docs-maintainers-english

fix lint
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add istioctl analyze to Getting Started (#7279)
  content/en/docs/setup/getting-started/index.md
Owners: @istio/wg-docs-maintainers-english

more lint
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

update kiali screenshot
  content/en/docs/setup/getting-started/kiali-example2.png
Owners: @istio/wg-docs-maintainers-english

remove --all
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/trafficmanagement/tcp_trafficshifting_test.go
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

update kiali screenshot (#7309)
  content/en/docs/setup/getting-started/kiali-example2.png
Owners: @istio/wg-docs-maintainers-english

fix architecture diagram (#7291)
  content/en/docs/ops/deployment/architecture/arch.svg
  content/zh/docs/ops/deployment/architecture/arch.svg
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Signal Sciences logo file
  content/en/about/community/partners/signalsciences.svg
Owners: @istio/wg-docs-maintainers-english

Apache nifi faq (#7266)
  .spelling
  content/en/faq/applications/nifi.md
Owners: @istio/wg-docs-maintainers-english

fix function name
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Simplify TCPTrafficShiftingTest (#7308)
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/trafficmanagement/scripts/request_timeouts.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting_cleanup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/tcp_trafficshifting_test.go
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Manual cherry-pick of release files #7285 #7294 #7296 (#7305)
  .spelling
  content/en/news/releases/1.4.x/announcing-1.4.9/index.md
  content/en/news/releases/1.5.x/announcing-1.5.3/index.md
  content/en/news/releases/1.5.x/announcing-1.5.4/index.md
  content/en/news/security/istio-security-2020-005/index.md
Owners: @istio/wg-docs-maintainers-english

Delete mixer filter stats as they no longer exist
  content/en/docs/ops/configuration/telemetry/envoy-stats/index.md
Owners: @istio/wg-docs-maintainers-english

Cleanup secure ingress test
  tests/trafficmanagement/ingress/scripts/cleanup.txt
  tests/trafficmanagement/ingress/scripts/configure_mtls_ingress.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_multiple_hosts.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_single_host.txt
  tests/trafficmanagement/ingress/scripts/generate_certs_and_keys.txt
  tests/trafficmanagement/ingress/scripts/secure_ingress.sh
  tests/trafficmanagement/ingress/secure_ingress_sds_test.go
  tests/trafficmanagement/ingress/secure_ingress_test.go
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
Owners: @istio/wg-docs-maintainers-english

fix lint
  tests/trafficmanagement/ingress/secure_ingress_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

remove curl version check
  tests/trafficmanagement/ingress/secure_ingress_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update the Istio version for testing
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

Update to 1.6.0-rc.1
  go.mod
  go.sum
Owners: @istio/wg-docs-maintainers-infra

Update kubectl output
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Cleanup secure ingress test (#7313)
  tests/trafficmanagement/ingress/scripts/cleanup.txt
  tests/trafficmanagement/ingress/scripts/configure_mtls_ingress.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_multiple_hosts.txt
  tests/trafficmanagement/ingress/scripts/configure_tls_ingress_single_host.txt
  tests/trafficmanagement/ingress/scripts/generate_certs_and_keys.txt
  tests/trafficmanagement/ingress/scripts/secure_ingress.sh
  tests/trafficmanagement/ingress/secure_ingress_sds_test.go
  tests/trafficmanagement/ingress/secure_ingress_test.go
  tests/util/samples.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

update FAQ > General > slack instructions
  content/en/faq/general/how-to-join-slack.md
  content/pt-br/faq/general/how-to-join-slack.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra

add a blog entry describing WorkloadEntries
  content/en/blog/2020/workload-entry/index.md
  content/en/blog/2020/workload-entry/workload-entry-example.png
Owners: @istio/wg-docs-maintainers-english

Adding Signal Sciences logo image
  content/en/about/community/partners/signalsciences.svg
Owners: @istio/wg-docs-maintainers-english

Addressed comments
  content/en/news/releases/1.6.x/index.md
Owners: @istio/wg-docs-maintainers-english

Move upgrade notes to proper location
  content/en/news/releases/1.6.x/announcing-1.6.x/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

fix links
  content/en/news/releases/1.6.x/announcing-1.6.x/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs (#7314)
  content/en/docs/reference/commands/istioctl/index.html
  content/en/docs/reference/commands/mixs/index.html
  content/en/docs/reference/commands/operator/index.html
  content/en/docs/reference/commands/pilot-agent/index.html
  content/en/docs/reference/commands/pilot-discovery/index.html
Owners: @istio/wg-docs-maintainers-english

Add authz-tcp user guide test.
  content/en/docs/tasks/security/authorization/authz-deny/index.md
  content/en/docs/tasks/security/authorization/authz-deny/snips.sh
  tests/security/authz_deny/authz_deny_test.go
  tests/security/authz_deny/main_test.go
  tests/security/authz_deny/scripts/authz_deny.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add run and verify functions for user doc tests.
  tests/README.md
  tests/examples/scripts/bookinfo.txt
  tests/security/authz_tcp/scripts/authz_tcp.txt
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
  tests/security/scripts/mtls_migration.txt
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/trafficmanagement/ingress/scripts/secure_ingress.sh
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/trafficmanagement/scripts/traffic_shifting.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Authz deny (#7315)
  content/en/docs/tasks/security/authorization/authz-deny/index.md
  content/en/docs/tasks/security/authorization/authz-deny/snips.sh
  tests/README.md
  tests/examples/scripts/bookinfo.txt
  tests/security/authz_deny/authz_deny_test.go
  tests/security/authz_deny/main_test.go
  tests/security/authz_deny/scripts/authz_deny.sh
  tests/security/authz_tcp/scripts/authz_tcp.txt
  tests/security/plugin_ca_cert/scripts/plugin_ca_cert.txt
  tests/security/scripts/mtls_migration.txt
  tests/trafficmanagement/ingress/scripts/ingress_control.sh
  tests/trafficmanagement/ingress/scripts/secure_ingress.sh
  tests/trafficmanagement/scripts/fault_injection.sh
  tests/trafficmanagement/scripts/request_routing.sh
  tests/trafficmanagement/scripts/tcp_trafficshifting.sh
  tests/trafficmanagement/scripts/traffic_shifting.txt
  tests/util/verify.sh
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

A bit of cleanup on the arch doc
  content/en/docs/ops/deployment/architecture/index.md
Owners: @istio/wg-docs-maintainers-english

Update kubectl output (#7319)
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Review comments
  content/en/news/releases/1.6.x/announcing-1.6/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Updates to make linter happy
  content/en/news/releases/1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6.x/_index.md
  content/en/news/releases/1.6.x/announcing-1.6.x/upgrade-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Automator: update istio.io@release-1.6 reference docs
  content/en/docs/reference/commands/istioctl/index.html
  data/analysis.yaml
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra
