Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Manual cherrypick of #6866
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Extensibilty concept section postion wrong (#6874)
  content/en/docs/concepts/security/index.md
  content/en/docs/concepts/wasm/index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Extensibilty concept section postion wrong
  content/en/docs/concepts/security/index.md
  content/en/docs/concepts/wasm/index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

Manual cherrypick of #6866 (#6875)
  content/en/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Extensibilty concept section postion wrong (#6876)
  content/en/docs/concepts/security/index.md
  content/en/docs/concepts/wasm/index.md
  content/en/docs/concepts/what-is-istio/index.md
Owners: @istio/wg-docs-maintainers-english

update networks and add selfSigned
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

modify content
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

add zh post
  content/zh/docs/reference/config/telemetry/telemetry_v2_with_wasm/index.md
Owners: @istio/wg-docs-maintainers-chinese

Apply suggestions from code review
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

add new translate
  content/zh/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-chinese

修改文字
  content/zh/docs/reference/config/telemetry/metrics/index.md
Owners: @istio/wg-docs-maintainers-chinese

add new trans
  content/zh/docs/reference/config/telemetry/configurable_metrics/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

gke firewall ports
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

gke firewall ports
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

remove old pilot port from gke setup tip
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/platform-setup/gke/index.md
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Update to the latest istio/istio
  go.mod
  go.sum
  pkg/test/istioio/pod.go
  pkg/test/istioio/script.go
  pkg/test/istioio/subtest.go
  tests/configuration/main_test.go
  tests/examples/main_test.go
  tests/policies/main_test.go
  tests/security/main_test.go
  tests/trafficmanagement/ingress/main_test.go
  tests/trafficmanagement/main_test.go
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

gke firewall ports
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

GKE Firewall Port
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

clarity
  content/en/docs/setup/platform-setup/gke/index.md
Owners: @istio/wg-docs-maintainers-english

Fix output of command
  content/en/docs/setup/install/standalone-operator/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/setup/install/multicluster/shared/index.md
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

fix config and remove option 3
  content/en/docs/setup/install/multicluster/shared/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

Update content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
  content/zh/news/releases/1.5.x/announcing-1.5/change-notes/index.md
Owners: @istio/wg-docs-maintainers-chinese

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
