Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Add Comment about TCP Blackhole Cluster Fix in master/release1.5.1 (#7015)
  content/en/news/releases/1.5.x/announcing-1.5.1/index.md
Owners: @istio/wg-docs-maintainers-english

change brittle github links error to warning
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

turn off external link checking by default
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

update makefile
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

fix target lint
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Fix links to Lightstep product page
  content/en/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/pt-br/docs/tasks/observability/distributed-tracing/lightstep/index.md
  content/zh/docs/tasks/observability/distributed-tracing/lightstep/index.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

remove cross language link
  content/zh/blog/2020/istiod/index.md
Owners: @istio/wg-docs-maintainers-chinese

better variable name
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Automator: update common-files@master in istio/istio.io@master
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Make site linter more configurable (#7014)
  Makefile.core.mk
  content/zh/blog/2020/istiod/index.md
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-chinese

Manual cherrypick of #7014
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Manual cherrypick of #7014 (#7019)
  Makefile.core.mk
  scripts/lint_site.sh
Owners: @istio/wg-docs-maintainers-infra

Point to the higher level config page.
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Update home page links
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

Automator: update common-files@master in istio/istio.io@master (#7018)
  Makefile
  common/.commonfiles.sha
Owners: @istio/wg-docs-maintainers-infra

Fix TCP Traffic Shifting test script (#7016)
  tests/trafficmanagement/scripts/tcp_trafficshifting_setup.txt
  tests/trafficmanagement/scripts/tcp_trafficshifting_test.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Fix mTLS migration test script (#7010)
  tests/security/scripts/mtls_migration.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

#7008 (#7009)
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

#7008
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

#7008 (#7022)
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Fix privildeged (#6997)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Fix privildeged
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/faq/security/verify-mtls-encryption.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Rename PKI to Identity Issuance (#6972)
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Rename PKI to Identity Issuance
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

Update content/en/docs/concepts/security/index.md
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Rename PKI to Identity Issuance (#7024)
  content/en/docs/concepts/security/index.md
Owners: @istio/wg-docs-maintainers-english

[release-1.5] Update home page links (#7020)
  content/en/_index.html
Owners: @istio/wg-docs-maintainers-english

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
