Repository istio/istio.io, changes with the owners that CODEOWNERS names for each.
All owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese, @istio/wg-test-and-release-maintainers

Ignore copied tests/integration directory
  .gitignore
Owners: @istio/wg-docs-maintainers-infra

Generate test snippets from md files POC (#7044)
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  content/en/docs/tasks/traffic-management/traffic-shifting/index.md
  content/en/docs/tasks/traffic-management/traffic-shifting/snips.sh
  pkg/test/istioio/script.go
  scripts/gen_snips.sh
  scripts/snip.py
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Add some clean targets that are already in the .gitignore
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Allow specifying additional CONTAINER_OPTIONS to help running (#7075)
  Makefile.overrides.mk
Owners: @istio/wg-docs-maintainers-infra

Add a Remove retired documentation section (#7068)
  content/en/about/contribute/code-blocks/index.md
  content/en/about/contribute/diagrams/index.md
  content/en/about/contribute/formatting/index.md
  content/en/about/contribute/front-matter/index.md
  content/en/about/contribute/remove-content/index.md
  content/en/about/contribute/remove-content/remove-documentation.svg
  content/en/about/contribute/review/index.md
  content/en/about/contribute/shortcodes/index.md
  content/en/about/contribute/style-guide/index.md
  content/en/about/contribute/terminology/index.md
Owners: @istio/wg-docs-maintainers-english

Add some clean targets that are already in the .gitignore (#7079)
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Refactor Secure Ingress tasks
  content/en/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/en/docs/tasks/traffic-management/ingress/secure-ingress-sds/index.md
Owners: @istio/wg-docs-maintainers-english

use archive
  content/en/about/feature-stages/index.md
  content/en/docs/tasks/observability/gateways/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/en/docs/tasks/traffic-management/ingress/secure-ingress/index.md
  content/en/faq/security/secure-ingress.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/en/news/releases/1.3.x/announcing-1.3/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Refactor Secure Ingress tasks (#7025)
  content/en/about/feature-stages/index.md
  content/en/docs/tasks/observability/gateways/index.md
  content/en/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/index.md
  content/en/docs/tasks/traffic-management/ingress/secure-ingress-mount/index.md
  content/en/docs/tasks/traffic-management/ingress/secure-ingress/index.md
  content/en/faq/security/secure-ingress.md
  content/en/news/releases/1.2.x/announcing-1.2/change-notes/index.md
  content/en/news/releases/1.3.x/announcing-1.3/change-notes/index.md
Owners: @istio/wg-docs-maintainers-english

Ignore copied tests/integration directory (#7078)
  .gitignore
Owners: @istio/wg-docs-maintainers-infra

Use standard ports for telemetry exposure
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Full update and include HTTPS
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Fix link
  content/en/docs/tasks/observability/gateways/index.md
Owners: @istio/wg-docs-maintainers-english

Update doc test README
  Makefile.core.mk
  scripts/gen_snips.sh
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

add sh
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

tweaks
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

formatting
  tests/README.md
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

format
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

fix comment
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Apply suggestions from code review
  content/en/docs/ops/integrations/grafana/index.md
Owners: @istio/wg-docs-maintainers-english

Add grafana integration docs (#7070)
  content/en/docs/ops/integrations/grafana/index.md
Owners: @istio/wg-docs-maintainers-english

wording
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove Aporeto as a partner. The were bought by Palo Alto Networks (#7051)
  content/en/about/community/partners/aporeto.svg
  content/en/about/community/partners/index.md
Owners: @istio/wg-docs-maintainers-english

zh-translation: remove /docs/tasks/security/authentication/mutual-tls/index.md (#7073)
  content/zh/blog/2018/egress-mongo/index.md
  content/zh/docs/tasks/security/authentication/mutual-tls/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md
  content/zh/docs/tasks/traffic-management/egress/egress-gateway/index.md
  content/zh/docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md
  content/zh/news/releases/1.0.x/announcing-1.0.3/index.md
Owners: @istio/wg-docs-maintainers-chinese

revert chinese version
  content/en/faq/distributed-tracing/how-to-support-tracing.md
  content/zh/faq/distributed-tracing/how-to-support-tracing.md
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-chinese

Update future date to the date when blog was written
  content/en/blog/2020/multiple-control-planes/index.md
Owners: @istio/wg-docs-maintainers-english

convert mtls migration task
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  tests/README.md
  tests/security/mtls_migration_test.go
  tests/security/scripts/mtls_migration.txt
Owners: @istio/wg-docs-maintainers-english, @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update tests/README.md
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update tests/README.md
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Update doc test README (#7080)
  Makefile.core.mk
  content/en/docs/tasks/security/authentication/mtls-migration/index.md
  content/en/docs/tasks/security/authentication/mtls-migration/snips.sh
  scripts/gen_snips.sh
  tests/README.md
  tests/security/mtls_migration_test.go
  tests/security/scripts/mtls_migration.txt
  tests/trafficmanagement/scripts/traffic_shifting.txt
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-docs-maintainers-english, @istio/wg-test-and-release-maintainers

uniform tracing header format (#7054)
  content/en/faq/distributed-tracing/how-to-support-tracing.md
Owners: @istio/wg-docs-maintainers-english

Add gen-check rule
  Makefile.core.mk
  tests/README.md
Owners: @istio/wg-docs-maintainers-infra, @istio/wg-test-and-release-maintainers

Remove Helm install instructions
  content/en/about/feature-stages/index.md
  content/en/blog/2018/incremental-traffic-management/index.md
  content/en/blog/2019/introducing-istio-operator/index.md
  content/en/blog/2019/performance-best-practices/index.md
  content/en/docs/setup/additional-setup/sidecar-injection/index.md
  content/en/docs/setup/install/helm/index.md
  content/en/docs/setup/install/istioctl/index.md
  content/en/docs/setup/upgrade/cni-helm-upgrade/index.md
  content/en/faq/distributed-tracing/minimal-requirements.md
  content/en/news/releases/0.x/announcing-0.7/index.md
  content/en/news/releases/1.0.x/announcing-1.0/index.md
  content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
  content/en/news/security/istio-security-2019-005/index.md
Owners: @istio/wg-docs-maintainers-english

make gen->site
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

tweak
  Makefile.core.mk
Owners: @istio/wg-docs-maintainers-infra

Update zh translation
  content/zh/docs/reference/glossary/service-name.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation
  content/zh/docs/reference/glossary/mixer-instance.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation
  content/zh/docs/reference/glossary/secure-naming.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation
  content/zh/docs/reference/glossary/secure-naming.md
Owners: @istio/wg-docs-maintainers-chinese

Update zh translation
  content/zh/docs/reference/glossary/workload-instance-principal.md
Owners: @istio/wg-docs-maintainers-chinese

CODEOWNERS:

*                @istio/wg-docs-maintainers-infra
/.spelling       @istio/wg-docs-maintainers-english
/content/en/     @istio/wg-docs-maintainers-english
/content/zh/     @istio/wg-docs-maintainers-chinese
/i18n/en.toml    @istio/wg-docs-maintainers-english
/i18n/zh.toml    @istio/wg-docs-maintainers-chinese
/pkg/test/       @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
/static/         @istio/wg-docs-maintainers-english
/tests/          @istio/wg-docs-maintainers-infra @istio/wg-test-and-release-maintainers
